# Pandas

In [79]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

# Q.1

In [80]:
df1_1 = pd.read_csv('17-10-2018.3880.gz',delimiter=';')
df1_2 = pd.read_csv('18-10-2018.3880.gz',delimiter=';')

In [81]:
df1_1

,categorieenseigne,prixproduit,identifiantproduit,ean,disponible
0,Offres spéciales|Promotions,5.85,85061,NaN,NaN
1,Offres spéciales|Promotions,2.17,51605,NaN,NaN
2,Offres spéciales|Promotions,5.80,61289,NaN,NaN
3,Offres spéciales|Promotions,5.80,78386,NaN,NaN
4,Offres spéciales|Promotions,2.32,3700,NaN,NaN
...,...,...,...,...,...
22263,Offres spéciales|Jackpot d'automne,11.71,81289,NaN,NaN
22264,Offres spéciales|Jackpot d'automne,8.49,34358,NaN,NaN
22265,Offres spéciales|Jackpot d'automne,10.79,79731,NaN,NaN
22266,Offres spéciales|Jackpot d'automne,12.67,35414,NaN,NaN
22267,Offres spéciales|Jackpot d'automne,8.59,23999,NaN,NaN

In [82]:
df1_2

,categorieenseigne,prixproduit,identifiantproduit,ean,disponible
0,Offres spéciales|Promotions,5.85,85061,NaN,1
1,Offres spéciales|Promotions,2.17,51605,NaN,1
2,Offres spéciales|Promotions,5.80,61289,NaN,1
3,Offres spéciales|Promotions,5.80,78386,NaN,1
4,Offres spéciales|Promotions,2.32,3700,NaN,1
...,...,...,...,...,...
22172,Offres spéciales|Jackpot d'automne,12.67,35414,NaN,1
22173,Offres spéciales|Jackpot d'automne,8.59,23999,NaN,1
22174,Offres spéciales|Mes bons de réduction,1.99,41022,NaN,1
22175,Offres spéciales|Mes bons de réduction,2.02,76886,NaN,1
22176,Offres spéciales|Mes bons de réduction,2.02,76883,NaN,1

# Q.2

In [83]:
df1_1['categorieenseigne'] = df1_1['categorieenseigne'].apply(lambda x:x.replace('Promotions','promo'))
df1_2['categorieenseigne'] = df1_2['categorieenseigne'].apply(lambda x:x.replace('Promotions','promo'))

In [84]:
df1_1

,categorieenseigne,prixproduit,identifiantproduit,ean,disponible
0,Offres spéciales|promo,5.85,85061,NaN,NaN
1,Offres spéciales|promo,2.17,51605,NaN,NaN
2,Offres spéciales|promo,5.80,61289,NaN,NaN
3,Offres spéciales|promo,5.80,78386,NaN,NaN
4,Offres spéciales|promo,2.32,3700,NaN,NaN
...,...,...,...,...,...
22263,Offres spéciales|Jackpot d'automne,11.71,81289,NaN,NaN
22264,Offres spéciales|Jackpot d'automne,8.49,34358,NaN,NaN
22265,Offres spéciales|Jackpot d'automne,10.79,79731,NaN,NaN
22266,Offres spéciales|Jackpot d'automne,12.67,35414,NaN,NaN
22267,Offres spéciales|Jackpot d'automne,8.59,23999,NaN,NaN

# Q.3

In [85]:
df2 = pd.read_csv('back_office.csv.gz')

In [86]:
df2

      pe_ref_in_enseigne    pe_id p_id_cat
0                  35143   400479    1481E
1                   7428   413257     116D
2                  19197   413258    1318E
3                   6420   413259    2003E
4                  24668   413260     253D
...                  ...      ...      ...
63066              91468  2435287    1879E
63067              92921  2435302    3371F
63068              93476  2435309    3371F
63069              93481  2435311    3371F
63070              93491  2435312    3371F

[63071 rows x 3 columns]

# Q 4.

In [87]:
df2['pe_ref_in_enseigne'] = df2['pe_ref_in_enseigne'].apply(lambda x: x.replace('-',''))
df2['pe_ref_in_enseigne'] = df2['pe_ref_in_enseigne'].astype('int')
df_merged_1 = df1_1.merge(df2, left_on='prixproduit', right_on='pe_ref_in_enseigne')
df_merged_2 = df1_2.merge(df2, left_on='prixproduit', right_on='pe_ref_in_enseigne')

In [88]:
df_merged_1

,categorieenseigne,prixproduit,identifiantproduit,ean,disponible,pe_ref_in_enseigne,pe_id,p_id_cat
0,Accueil|Bio|Epicerie sucrée Bio|Boissons du ma...,2.0,19356,NaN,NaN,2,462370,147E
1,Accueil|Bio|Epicerie sucrée Bio,2.0,19356,NaN,NaN,2,462370,147E
2,Accueil|Bazar Textile|Rentrée des classes|Cahi...,2.0,30830,NaN,NaN,2,462370,147E
3,Accueil|Bazar Textile|Rentrée des classes,2.0,30830,NaN,NaN,2,462370,147E
4,Accueil|Bazar Textile|Cuisine et Vaisselle|Vai...,2.0,19489,NaN,NaN,2,462370,147E
...,...,...,...,...,...,...,...,...
245,"Accueil|Boissons|Bières, Alcools et Apéritifs|...",15.0,81382,NaN,NaN,15,445241,138D
246,"Accueil|Boissons|Bières, Alcools et Apéritifs",15.0,81382,NaN,NaN,15,445241,138D
247,Offres spéciales|Mes bons de réduction,15.0,81382,NaN,NaN,15,445241,138D
248,"Accueil|Boissons|Bières, Alcools et Apéritifs|...",29.0,71224,NaN,NaN,29,431917,133D
249,"Accueil|Boissons|Bières, Alcools et Apéritifs",29.0,71224,NaN,NaN,29,431917,133D

In [89]:
df_merged_2

,categorieenseigne,prixproduit,identifiantproduit,ean,disponible,pe_ref_in_enseigne,pe_id,p_id_cat
0,Accueil|Bio|Epicerie salée Bio|Conserves et pl...,1.0,31166,NaN,1,1,811577,131D
1,"Accueil|Bio|Epicerie salée Bio|Pates, riz et f...",1.0,33882,NaN,1,1,811577,131D
2,Accueil|Bio|Epicerie salée Bio,1.0,33882,NaN,1,1,811577,131D
3,Accueil|Bio|Epicerie salée Bio,1.0,31166,NaN,1,1,811577,131D
4,Accueil|Bazar Textile|Cuisine et Vaisselle|Bou...,1.0,6806,NaN,1,1,811577,131D
...,...,...,...,...,...,...,...,...
245,Accueil|Bio|Bébé Bio|Laits infantiles Bio,18.0,6998,NaN,1,18,470868,132D
246,Accueil|Bio|Bébé Bio,18.0,6998,NaN,1,18,470868,132D
247,"Accueil|Boissons|Bières, Alcools et Apéritifs|...",15.0,81382,NaN,1,15,445241,138D
248,"Accueil|Boissons|Bières, Alcools et Apéritifs",15.0,81382,NaN,1,15,445241,138D
249,Offres spéciales|Mes bons de réduction,15.0,81382,NaN,1,15,445241,138D

# Section-2

In [ ]:
# part1

In [94]:
def average_price(df):
    return dict(df.groupby('pe_id')['prixproduit'].mean())

In [95]:
average_price(df_merged_1)

{431894: 4.0,
 431903: 13.0,
 431917: 29.0,
 431934: 22.0,
 434776: 12.0,
 435083: 10.0,
 435179: 6.0,
 436722: 8.0,
 445241: 15.0,
 445416: 3.0,
 462370: 2.0,
 462441: 5.0,
 470868: 18.0,
 811577: 1.0}

In [96]:
average_price(df_merged_2)

{431894: 4.0,
 431903: 13.0,
 431917: 29.0,
 431934: 22.0,
 434776: 12.0,
 435083: 10.0,
 435179: 6.0,
 436722: 8.0,
 445241: 15.0,
 445416: 3.0,
 462370: 2.0,
 462441: 5.0,
 470868: 18.0,
 811577: 1.0}

In [98]:
# part2
def anotherfunc():
    d1 = dict(df_merged_1.groupby('p_id_cat')['pe_id'].nunique())
    d2 = dict(df_merged_2.groupby('p_id_cat')['pe_id'].nunique())
    return d1,d2

In [99]:
anotherfunc()

({'129D': 1,
  '130D': 1,
  '131D': 4,
  '132D': 1,
  '133D': 1,
  '136D': 1,
  '138D': 1,
  '145E': 1,
  '147E': 1,
  '148E': 1},
 {'129D': 1,
  '130D': 1,
  '131D': 4,
  '132D': 1,
  '133D': 1,
  '136D': 1,
  '138D': 1,
  '145E': 1,
  '147E': 1,
  '148E': 1})

# Advance Python

In [29]:
import random

# Q.1

In [117]:
def random_gen():
    while True:
        num = random.randint(10,20)
        yield num
        if num==15:
            break

In [118]:
x = random_gen()

In [119]:
next(x)

11

In [120]:
next(x)

10

In [121]:
next(x)

13

In [122]:
next(x)

19

In [123]:
next(x)

12

In [124]:
next(x)

11

In [125]:
next(x)

20

In [126]:
next(x)

16

In [127]:
next(x)

17

In [128]:
next(x)

20

In [129]:
next(x)

16

In [130]:
next(x)

20

In [131]:
next(x)

16

# Q.4

In [172]:
# exercise 4
class CacheDecorator:
    """Saves the results of a function according to its parameters"""
    def __init__(self):
        self.cache = {}

    def __call__(self, func):
        def _wrap(*a, **kw):
            if a[0] not in self.cache:
                self.cache[a[0]] = func(*a, **kw)
            return self.cache[a[0]]

        return _wrap

In [173]:
# test 1
obj = CacheDecorator()

In [174]:
# Test 2
assert obj.cache == {} , 'Error'

In [175]:
# test 3
assert obj.__call__()

TypeError: __call__() missing 1 required positional argument: 'func'

In [176]:
# test 4
assert  isinstance(obj.cache,dict), 'Error'

In [15]:
def smart_divide(func):
    print('hello')
    def inner(a, b):
        print("I am going to divide", a, "and", b)
        if b == 0:
            print("Whoops! cannot divide")
            return

        return func(a, b)
    return inner

In [19]:
@smart_divide
def divide(a, b):
    print(a/b)

hello

In [14]:
divide(4,2)

I am going to divide 4 and 2
2.0

In [63]:
def decorator_to_str(func):
    # todo exercise 2
    def inner(*args, **kwargs):
        if len(args)==2:
            return str(func(args[0],args[1]))
        else:
            return str(func(kwargs))
    return inner


@decorator_to_str
def add(a, b):
    return a + b


@decorator_to_str
def get_info(d):
    return d['info']

In [64]:
add(4,5)

'9'

In [65]:
get_info(info = 15)

'15'

In [88]:
def ignore_exception(func):
    
    def inner(a,b):
        try:
            return func(a,b)
        except:
            return None
            
    return inner


@ignore_exception
def div(a, b):
    return a / b


@ignore_exception
def raise_something(exception):
    raise exception

In [89]:
div(3,0)

In [90]:
div(3,2)

1.5

In [ ]:
def decorator_to_str(func):
    # todo exercise 2
    return func


@decorator_to_str
def add(a, b):
    return a + b


@decorator_to_str
def get_info(d):
    return d['info']


def ignore_exception(exception):
    # todo exercise 3
    return lambda x: x


@ignore_exception(ZeroDivisionError)
def div(a, b):
    return a / b


@ignore_exception(TypeError)
def raise_something(exception):
    raise exception


# exercise 4
class CacheDecorator:
    """Saves the results of a function according to its parameters"""
    def __init__(self):
        self.cache = {}

    def __call__(self, func):
        def _wrap(*a, **kw):
            if a[0] not in self.cache:
                self.cache[a[0]] = func(*a, **kw)
            return self.cache[a[0]]

        return _wrap