In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [2]:
df = pd.read_excel('New-30.xlsx')

In [3]:
col = ['Created Month','Date of Purchase','Lead ID','Lead Converted On','Lead Created On','Converted Month',
'Converted Year','Date of Birth','CIF No','Assign To Code','Appointment Date','Created by Code']

In [4]:
data = df.copy()

In [5]:
df.drop(col,axis=1,inplace=True)

In [6]:
df.drop(['Purpose of Category','Disbursed Amount','Converted Month No'],axis=1,inplace=True)

In [7]:
df.drop(['Existing Customer','Created Month No','Created Year'],axis=1,inplace=True)

In [8]:
df.nunique()

Branch                 4155
Time In Status Code       4
Lead Status Code         16
Age                      77
Lead Source              14
Lead Rating               4
Medium                  112
Region Code              80
Occupation               19
Marital Status            2
Zone                     13
Branch Code            4154
Qualification             5
Corporate                 2
Lead Owner             3939
Gender                    2
Lead Product             20
Lead Amount            1999
dtype: int64

In [9]:
import pandas as pd
from sklearn.metrics import (
    accuracy_score, confusion_matrix, classification_report
)
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder
from sklearn.preprocessing import StandardScaler

from sklearn.impute import KNNImputer
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [10]:
df.head().T

                                        0                           1                              2                   3                 4
Branch               ABDULLAPURMET - (TE)                 ABOHAR (PU)                    ABOHAR (PU)    ABU ROAD-JODHPUR  ABU ROAD-JODHPUR
Time In Status Code                    87                          87                             87                  87                87
Lead Status Code                Disbursed                   Disbursed                      Disbursed           Disbursed         Disbursed
Age                                  55.0                        32.0                           24.0                27.0              25.0
Lead Source                       Walk-in                 Call Centre             Marketing Activity  Marketing Activity       Call Centre
Lead Rating                           Hot                         Hot                            Hot                 Hot               Hot
Medium                           Cable TV                 Bit Notices  Unipole/IHP/Gantry/Pole Kiosk             Sunpack       Bit Notices
Region Code                     HYDERABAD                   JALANDHAR                      JALANDHAR             JODHPUR           JODHPUR
Occupation                       Business  Self-Employed Professional     Self-Employed Professional            Business          Business
Marital Status                    Married                     Married                         Single             Married           Married
Zone                     TELANGANA-ANDHRA                       NORTH                          NORTH             CENTRAL           CENTRAL
Branch Code                          4736                        1776                           1776                4502              4502
Qualification                      School                      Others                         Others            Graduate          Graduate
Corporate                           SOUTH                       NORTH                          NORTH               NORTH             NORTH
Lead Owner                          ARJUN                      SHARMA                              .            SANGEETA             MANOJ
Gender                               Male                        Male                           Male                Male              Male
Lead Product                    Gold Loan                   Gold Loan                      Gold Loan           Gold Loan         Gold Loan
Lead Amount                      2.220327                    2.263408                       2.263408            2.268797           2.44347

In [11]:
df.dtypes

Branch                  object
Time In Status Code      int64
Lead Status Code        object
Age                    float64
Lead Source             object
Lead Rating             object
Medium                  object
Region Code             object
Occupation              object
Marital Status          object
Zone                    object
Branch Code              int64
Qualification           object
Corporate               object
Lead Owner              object
Gender                  object
Lead Product            object
Lead Amount            float64
dtype: object

In [12]:
df.drop(['Branch','Branch Code','Lead Owner'],axis=1,inplace=True)

In [13]:
df.head()

   Time In Status Code Lead Status Code   Age         Lead Source Lead Rating                         Medium Region Code                  Occupation Marital Status              Zone Qualification Corporate Gender Lead Product  Lead Amount
0                   87        Disbursed  55.0             Walk-in         Hot                       Cable TV   HYDERABAD                    Business        Married  TELANGANA-ANDHRA        School     SOUTH   Male    Gold Loan     2.220327
1                   87        Disbursed  32.0         Call Centre         Hot                    Bit Notices   JALANDHAR  Self-Employed Professional        Married             NORTH        Others     NORTH   Male    Gold Loan     2.263408
2                   87        Disbursed  24.0  Marketing Activity         Hot  Unipole/IHP/Gantry/Pole Kiosk   JALANDHAR  Self-Employed Professional         Single             NORTH        Others     NORTH   Male    Gold Loan     2.263408
3                   87        Disbursed  27.0  Marketing Activity         Hot                        Sunpack     JODHPUR                    Business        Married           CENTRAL      Graduate     NORTH   Male    Gold Loan     2.268797
4                   87        Disbursed  25.0         Call Centre         Hot                    Bit Notices     JODHPUR                    Business        Married           CENTRAL      Graduate     NORTH   Male    Gold Loan     2.443470

In [14]:
df['Time In Status Code'] = df['Time In Status Code'].apply(lambda x:str(x))

In [15]:
cat_col = set(list(df.select_dtypes(include=['object']))) - set(['Lead Status Code'])

In [16]:
num_col = ['Age','Time In Status Code','Lead Amount']

In [17]:
df['Lead Status Code'].value_counts().index

Index(['Disbursed', 'Sent for Processing', 'Not Interested', 'Saved for future reference', 'Docs Received', 'Appointment Fixed', 'Follow up', 'Assigned to Branch', 'Assigned to Call Centre', 'Rejected', 'Disqualified', 'Loan Rejected', 'Qualified', 'Request Approval', 'Visa and Tour & travels Sent for Processing', 'Call Back'], dtype='object')

In [18]:
df_train = df[df['Lead Status Code'].isin(['Disbursed','Qualified','Disqualified','Loan Rejected','Rejected'])]

In [19]:
df_test = df[~df['Lead Status Code'].isin(['Disbursed','Qualified','Disqualified','Loan Rejected','Rejected'])]

In [20]:
def status(x):
    if x in ('Disbursed','Qualified'):
        return 1
    else:
        return 0

In [21]:
df_train['Lead Status Code'] = df_train['Lead Status Code'].apply(lambda x:status(x))

In [22]:
num_pipeline = Pipeline([
        ('imputer', KNNImputer(n_neighbors=5)),
        ('std_scaler', StandardScaler()),
    ])

num_attribs = num_col #list(housing_num)
cat_attribs = list(cat_col)

# will be applying tranasformer object to the given subset of data
# NOTE: e.g., the "num_pipeline" transformer object will be applied on the given set of columns
full_pipeline = ColumnTransformer([
        ("num", num_pipeline, num_attribs),
        ("cat", OneHotEncoder(), cat_attribs),
    ])

 # sending the data through a chain of transformations
 # NOTE: the final dataset is a 2D numpy array containg all numerical data

In [23]:
X = df.drop('Lead Status Code',axis=1)
y = df_train['Lead Status Code']

In [24]:
X = full_pipeline.fit_transform(X)

In [25]:
X = X.toarray()[:len(y)]

In [26]:
# # Splitting the dataset into the Training set and Test set
# from sklearn.model_selection import train_test_split
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 42)

In [27]:
# X_train.shape , X_test.shape

In [28]:
# Fitting Logistic Regression to the Training set
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(max_iter=1000,random_state = 42)
lr.fit(X, y)

LogisticRegression(max_iter=1000, random_state=42)

In [29]:
prob = lr.predict_proba(X)

In [30]:
lr.classes_

array([0, 1], dtype=int64)

In [31]:
# probability
prob[:,1]

array([0.99779884, 0.99919318, 0.99979019, ..., 0.95933515, 0.99115479,
       0.99873395])

In [32]:
# column needed for prediction
imp_col = ['Qualification', 'Corporate', 'Lead Rating', 'Lead Product', 'Age', 
           'Gender', 'Time In Status Code', 'Zone', 'Lead Source', 'Medium', 
           'Region Code', 'Occupation', 'Marital Status', 'Lead Amount']

In [33]:
X_for_prediction = df[imp_col]
X_for_prediction

      Qualification Corporate Lead Rating          Lead Product   Age Gender Time In Status Code              Zone         Lead Source                         Medium Region Code                  Occupation Marital Status  Lead Amount
0            School     SOUTH         Hot             Gold Loan  55.0   Male                  87  TELANGANA-ANDHRA             Walk-in                       Cable TV   HYDERABAD                    Business        Married     2.220327
1            Others     NORTH         Hot             Gold Loan  32.0   Male                  87             NORTH         Call Centre                    Bit Notices   JALANDHAR  Self-Employed Professional        Married     2.263408
2            Others     NORTH         Hot             Gold Loan  24.0   Male                  87             NORTH  Marketing Activity  Unipole/IHP/Gantry/Pole Kiosk   JALANDHAR  Self-Employed Professional         Single     2.263408
3          Graduate     NORTH         Hot             Gold Loan  27.0   Male                  87           CENTRAL  Marketing Activity                        Sunpack     JODHPUR                    Business        Married     2.268797
4          Graduate     NORTH         Hot             Gold Loan  25.0   Male                  87           CENTRAL         Call Centre                    Bit Notices     JODHPUR                    Business        Married     2.443470
...             ...       ...         ...                   ...   ...    ...                 ...               ...                 ...                            ...         ...                         ...            ...          ...
31848        School     NORTH         Hot        Money Transfer  61.0   Male                  85             NORTH     Staff Reference  Unipole/IHP/Gantry/Pole Kiosk   JALANDHAR                      Farmer        Married     2.259277
31849        Others     NORTH         Hot             Gold Loan  43.0   Male                  85             NORTH  Marketing Activity                    Bit Notices  CHANDIGARH  Self-Employed Professional        Married     2.263408
31850      Graduate     NORTH         Hot         Personal Loan  34.0   Male                  85             NORTH             Digital                   iMuthoot App  CHANDIGARH                    Business        Married     2.443470
31851      Graduate     NORTH         Hot  Group Term Insurance  25.0   Male                  85             NORTH  Marketing Activity                    Bit Notices  CHANDIGARH                    Business        Married     1.755065
31852      Graduate     NORTH         Hot        Money Transfer  21.0   Male                  87             NORTH  Marketing Activity                      Newspaper  CHANDIGARH                    Business         Single     2.315169

[31853 rows x 14 columns]

In [34]:
X_processed = full_pipeline.transform(X_for_prediction)

In [35]:
prob = lr.predict_proba(X_processed)
X_for_prediction['Probability'] = np.round(prob[:,1],3)
X_for_prediction['Lead Status Code'] = df['Lead Status Code']

In [36]:
X_for_prediction

      Qualification Corporate Lead Rating          Lead Product   Age Gender Time In Status Code              Zone         Lead Source                         Medium Region Code                  Occupation Marital Status  Lead Amount  Probability     Lead Status Code
0            School     SOUTH         Hot             Gold Loan  55.0   Male                  87  TELANGANA-ANDHRA             Walk-in                       Cable TV   HYDERABAD                    Business        Married     2.220327        0.998            Disbursed
1            Others     NORTH         Hot             Gold Loan  32.0   Male                  87             NORTH         Call Centre                    Bit Notices   JALANDHAR  Self-Employed Professional        Married     2.263408        0.999            Disbursed
2            Others     NORTH         Hot             Gold Loan  24.0   Male                  87             NORTH  Marketing Activity  Unipole/IHP/Gantry/Pole Kiosk   JALANDHAR  Self-Employed Professional         Single     2.263408        1.000            Disbursed
3          Graduate     NORTH         Hot             Gold Loan  27.0   Male                  87           CENTRAL  Marketing Activity                        Sunpack     JODHPUR                    Business        Married     2.268797        0.997            Disbursed
4          Graduate     NORTH         Hot             Gold Loan  25.0   Male                  87           CENTRAL         Call Centre                    Bit Notices     JODHPUR                    Business        Married     2.443470        0.997            Disbursed
...             ...       ...         ...                   ...   ...    ...                 ...               ...                 ...                            ...         ...                         ...            ...          ...          ...                  ...
31848        School     NORTH         Hot        Money Transfer  61.0   Male                  85             NORTH     Staff Reference  Unipole/IHP/Gantry/Pole Kiosk   JALANDHAR                      Farmer        Married     2.259277        1.000            Disbursed
31849        Others     NORTH         Hot             Gold Loan  43.0   Male                  85             NORTH  Marketing Activity                    Bit Notices  CHANDIGARH  Self-Employed Professional        Married     2.263408        1.000  Sent for Processing
31850      Graduate     NORTH         Hot         Personal Loan  34.0   Male                  85             NORTH             Digital                   iMuthoot App  CHANDIGARH                    Business        Married     2.443470        0.999       Not Interested
31851      Graduate     NORTH         Hot  Group Term Insurance  25.0   Male                  85             NORTH  Marketing Activity                    Bit Notices  CHANDIGARH                    Business        Married     1.755065        0.998            Disbursed
31852      Graduate     NORTH         Hot        Money Transfer  21.0   Male                  87             NORTH  Marketing Activity                      Newspaper  CHANDIGARH                    Business         Single     2.315169        0.997  Sent for Processing

[31853 rows x 16 columns]

In [37]:
X_for_prediction.to_excel('probability_v1.xlsx')

In [40]:
X_for_prediction[X_for_prediction['Probability']<0.7]

      Qualification Corporate Lead Rating          Lead Product   Age  Gender Time In Status Code              Zone Lead Source           Medium Region Code Occupation Marital Status  Lead Amount  Probability     Lead Status Code
27468        School     SOUTH        Cold  Group Term Insurance  27.0  Female                  87  TELANGANA-ANDHRA     Walk-in               TV   CYBERABAD   Business        Married     1.409607        0.629  Sent for Processing
28416      Graduate     NORTH         Hot  Group Term Insurance  24.0  Female                  84              EAST     Walk-in  Glow Sign Board     KOLKATA   Business        Married     1.777238        0.666            Disbursed
30377      Graduate     NORTH         Hot     Muthoot Hospicash  46.0    Male                  85              EAST     Walk-in           Banner      HOWRAH   Business        Married    -6.907755        0.000  Sent for Processing