# Loop

In [1]:
print(1)
print(2)
print(3)
print(4)
print(5)

1
2
3
4
5

In [4]:
print('hello')
print('hello')
print('hello')
print('hello')
print('hello')

hello
hello
hello
hello
hello

# for loop

In [6]:
for i in range(5):
    print(i)

0
1
2
3
4

In [9]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [12]:
list(range(1,6))

[1, 2, 3, 4, 5]

In [13]:
list(range(2,6))

[2, 3, 4, 5]

In [14]:
list(range(2,8))

[2, 3, 4, 5, 6, 7]

In [15]:
list(range(8))

[0, 1, 2, 3, 4, 5, 6, 7]

In [18]:
list(range(0,8,1))

[0, 1, 2, 3, 4, 5, 6, 7]

In [20]:
list(range(0,9,2))

[0, 2, 4, 6, 8]

In [21]:
list(range(1,9,3))

[1, 4, 7]

In [25]:
for i in range(6):
    print(i,end=',')

0,1,2,3,4,5,

In [ ]:
for i in range(6):
    print(i,end=',')

In [29]:
print('hello',end='\n')
print('world')

hello
world

In [39]:
for i in range(6):
    print(i,end=',')

0,1,2,3,4,5,

In [43]:
for i in range(5,11):
    print(i)

5
6
7
8
9
10

In [44]:
for i in range(5,11,2):
    print(i)

5
7
9

In [ ]:
# All should be in a comma separated line

# print from 1 to 50 in a single 
# print from 10 to 1 in a single line 
# print from 1 to 10 with their square
# print hello1 hello2 hello3 hello4 hello5

In [45]:
for i in range(1,51):
    print(i,end=',')

1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,

In [47]:
for i in range(10,0,-1):
    print(i,end=',')

10,9,8,7,6,5,4,3,2,1,

In [48]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [49]:
list(range(0,10,1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [52]:
2*2

4

In [53]:
3*3

9

In [54]:
5*5

25

In [55]:
for i in range(1,11):
    print(i,i/i)

1 1.0
2 1.0
3 1.0
4 1.0
5 1.0
6 1.0
7 1.0
8 1.0
9 1.0
10 1.0

In [60]:
for i in range(1,6):
    print(f'Hello{i}',end=',')

Hello1,Hello2,Hello3,Hello4,Hello5,

In [ ]:
# Always use for loop

# print world1,world2,world3,world4,world5
# print world5,world4,world3,world2,world1
# print hello1world, hello2world,hello3world,hello4world,hello5world

# print every 3rd number between 1-100
# print every 4th number between 1-100

# print sum of numbers from 1-100
# print sum of odd numbers from 1-100
# print sum of even numbers from 1-100

# print first number divisible by 17 between 100-500
# print first number divisible by 13 between 100-500
# print first number whose sum of the numbers is 7 between (11 - 100),eg.
# print all number whose sum of number is 7 between 11-100


16
25
34
43
52
61
70

52 =7
16 = 6

In [62]:
for i in range(1,11):
    if i%2==0:
        print(i,'Even')
    else:
        print(i,'odd')

1 odd
2 Even
3 odd
4 Even
5 odd
6 Even
7 odd
8 Even
9 odd
10 Even

In [67]:
x = 0
for i in range(1,11):
    print(i)
    x = x + i
print('sum:',x)

1
2
3
4
5
6
7
8
9
10
sum: 55

In [71]:
for i in range(1,51,3):
    print(i,end=',')

1,4,7,10,13,16,19,22,25,28,31,34,37,40,43,46,49,

In [72]:
for i in range(1,51,4):
    print(i,end=',')

1,5,9,13,17,21,25,29,33,37,41,45,49,

In [76]:
x = 1
print(f'hello{x}world')

hello1world

In [77]:
x = 2
print(f'hello{x}world')

hello2world

In [84]:
52%7

3

In [81]:
for i in range(50,100):
    if i%7==0:
        print(i)

56
63
70
77
84
91
98

In [85]:
for i in range(50,100):
    if i%7==0:
        print(i)
        break

56