In [1]:
s = 'Hello World This is Canada'

In [2]:
print(s)

Hello World This is Canada

In [3]:
s

'Hello World This is Canada'

In [4]:
s.upper()

'HELLO WORLD THIS IS CANADA'

In [5]:
s.lower()

'hello world this is canada'

In [8]:
a = s.split()

In [7]:
type(s)

str

In [11]:
type(a)

list

In [12]:
a[-1]

'Canada'

In [13]:
s

'Hello World This is Canada'

In [14]:
a

['Hello', 'World', 'This', 'is', 'Canada']

In [17]:
s.split()

['Hello', 'World', 'This', 'is', 'Canada']

In [19]:
s.split()[-2]

'is'

In [20]:
s.split()[-4]

'World'

In [21]:
s.split()[3]

'is'

In [22]:
s

'Hello World This is Canada'

In [28]:
s.split()

['Hello', 'World', 'This', 'is', 'Canada']

In [29]:
s.split()[1]

'World'

In [30]:
s.split()[1][::-1]

'dlroW'

In [31]:
x = [4,5,6,78,12,34]

In [32]:
x.append(100)

In [33]:
x

[4, 5, 6, 78, 12, 34, 100]

In [34]:
x.index(12)

4

In [35]:
x.insert(1,200)

In [36]:
x

[4, 200, 5, 6, 78, 12, 34, 100]

In [37]:
x.sort()

In [39]:
x.sort(reverse=True)

In [40]:
x

[200, 100, 78, 34, 12, 6, 5, 4]

In [41]:
x.sort()

In [42]:
x

[4, 5, 6, 12, 34, 78, 100, 200]

# Dictionary

In [43]:
d = {'key1':'value1',
    'key2':'value2',
    'key3':'value3'}

In [44]:
d

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [45]:
d.items()

dict_items([('key1', 'value1'), ('key2', 'value2'), ('key3', 'value3')])

In [46]:
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [47]:
d.values()

dict_values(['value1', 'value2', 'value3'])

In [48]:
d1 = {'A':12,
     'B':14,
     'C':20,
     'D':30}

In [49]:
d1

{'A': 12, 'B': 14, 'C': 20, 'D': 30}

In [50]:
d1['NEW_Element'] = 100

In [51]:
d1

{'A': 12, 'B': 14, 'C': 20, 'D': 30, 'NEW_Element': 100}

In [52]:
d1['NEW_Element']

100

In [53]:
d1['A']

12

In [55]:
d1['C']

20

In [56]:
d1['D']

30

In [57]:
type(d)

dict

# List

In [58]:
x = [3,4,5,6,7,8]

In [59]:
x

[3, 4, 5, 6, 7, 8]

In [60]:
x[2] = 212 # mutable

In [61]:
x

[3, 4, 212, 6, 7, 8]

# Tuple

In [62]:
mytuple = (2,3,4,5,6,8,9)

In [63]:
mytuple

(2, 3, 4, 5, 6, 8, 9)

In [64]:
mytuple[0]

2

In [65]:
mytuple[1]

3

In [66]:
mytuple[2]

4

In [67]:
mytuple[1:]

(3, 4, 5, 6, 8, 9)

In [68]:
mytuple[4:]

(6, 8, 9)

In [69]:
mytuple

(2, 3, 4, 5, 6, 8, 9)

In [70]:
mytuple[1] = 111 # immutable

TypeError: 'tuple' object does not support item assignment

In [72]:
mytuple = (1,1,13,3,4,66,7)

In [73]:
mytuple

(1, 1, 13, 3, 4, 66, 7)

In [74]:
mytuple.count(1)

2

In [75]:
mytuple.count(13)

1

In [78]:
mytuple

(1, 1, 13, 3, 4, 66, 7)

In [79]:
mytuple[::-1]

(7, 66, 4, 3, 13, 1, 1)

In [81]:
sorted(mytuple)

[1, 1, 3, 4, 7, 13, 66]

In [82]:
2==2

True

In [83]:
2==3

False

In [85]:
2==2 and 1==1

True

In [88]:
2==2 and 1==2

False

In [89]:
2==2 or 1==2

True

In [90]:
4==4 and 1==5

False

In [91]:
3==4 and 9==5

False

In [92]:
3==3 and 9==5

False

In [93]:
3==3 and 9==9

True

In [94]:
3==4

False

In [95]:
4==4

True

# Set

In [106]:
myset = set() # empty set

In [107]:
myset

set()

In [108]:
type(myset)

set

In [110]:
newset = {2,3,4,5}

In [111]:
type(newset)

set

In [112]:
newset

{2, 3, 4, 5}

In [113]:
another_set = {1,1,1,1,1,2,2,2,3,3,4,5,6}

In [114]:
another_set

{1, 2, 3, 4, 5, 6}

In [115]:
set1 = {1,2,3,4,5}
set2 = {3,4,5,6,7}

In [116]:
set1.union(set2)

{1, 2, 3, 4, 5, 6, 7}

In [117]:
set1.intersection(set2)

{3, 4, 5}

In [118]:
set1.symmetric_difference(set2)

{1, 2, 6, 7}

In [119]:
set2.symmetric_difference(set1)

{1, 2, 6, 7}

In [121]:
set1

{1, 2, 3, 4, 5}

In [122]:
set2

{3, 4, 5, 6, 7}

In [120]:
set1.difference(set2)

{1, 2}

In [123]:
set2.difference(set1)

{6, 7}