In [11]:
import pandas as pd

df = pd.read_csv("Book1 (3).csv")

df['imageID_13_char'] = df['imageID'].apply(lambda x: x[:13])

df['total'] = df.apply(lambda x: x['include']+x['date']+x['State']+x['complete']+x['version'],axis=1)

d = df.groupby(['total'])[['total','imageID_13_char']].indices

dup_indx = []
for indx in d.values():
    if len(indx)>1:
        dup_indx = dup_indx + list(indx)

df = df[list(df)[:-1]].iloc[dup_indx]
df.reset_index(inplace=True,drop=True)
df_new = df[['include','date','State','complete','version','imageID_13_char']]
df_new = df_new.drop_duplicates(keep=False)
df_new = df.iloc[df_new.index]
df_new = df_new.drop('imageID_13_char',axis=True)
df_new.reset_index(inplace=True,drop=True)
df_new.to_csv('newfile.csv',index=False)

In [4]:
df

,include,date,State,complete,version,type,imageID,imageID_13_char
13,Y,5/10/2021,DE,not completed,old,HA,10MAY217016243005L000,10MAY21701624
14,Y,5/10/2021,DE,not completed,old,HA,10MAY217016243003L000,10MAY21701624
15,Y,5/10/2021,DE,not completed,old,HA,10MAY218016243009L000,10MAY21801624
16,Y,5/10/2021,DE,not completed,old,HA,10MAY218016243001L000,10MAY21801624
0,Y,5/4/2020,MD,completed,old,TL,04MAY203016493000E000,04MAY20301649
1,Y,5/4/2020,MD,completed,old,TL,04MAY203016493000E000,04MAY20301649
2,Y,5/4/2020,VA,completed,new,SV,04MAY204016493000E000,04MAY20401649
3,Y,5/4/2020,VA,completed,new,SV,04MAY204016493000E000,04MAY20401649
4,Y,5/4/2020,VA,completed,new,SC,04MAY204016493000E000,04MAY20401649
6,Y,5/6/2020,MD,completed,new,NS,06MAY203016493000N000,06MAY20301649
7,Y,5/6/2020,MD,completed,new,LS,06MAY203016493000N000,06MAY20301649
8,Y,5/6/2020,MD,completed,new,NS,06MAY205016493000N000,06MAY20501649
9,Y,5/9/2021,DE,completed,old,HA,09MAY217016243000L000,09MAY21701624
10,Y,5/9/2021,DE,completed,old,HA,09MAY217016243000L000,09MAY21701624
11,Y,5/9/2021,DE,completed,old,HA,09MAY218016243000L000,09MAY21801624
12,Y,5/9/2021,DE,completed,old,HA,09MAY218016243000L000,09MAY21801624

In [2]:
df_new

  include       date State    complete version type                 imageID
0       Y   5/6/2020    MD   completed     new   NS   06MAY205016493000N000