In [1]:
import pandas as pd
pathCSV = r'D:\OneDrive - NITT\Custom_Download\covid19_tweets.csv'

In [2]:
# read the dataset, specify the complete file path in pathCSV
covid19CSVData = pd.read_csv(pathCSV)

In [3]:
# get column names
covid19CSVData.columns

Index(['user_name', 'user_location', 'user_description', 'user_created',
       'user_followers', 'user_friends', 'user_favourites', 'user_verified',
       'date', 'text', 'hashtags', 'source', 'is_retweet'],
      dtype='object')

In [4]:
# get the columns datatype
covid19CSVData.dtypes

user_name           object
user_location       object
user_description    object
user_created        object
user_followers       int64
user_friends         int64
user_favourites      int64
user_verified         bool
date                object
text                object
hashtags            object
source              object
is_retweet            bool
dtype: object

In [5]:
# displau top 5 rows to check column values
covid19CSVData.head()

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
0,·èâ·é•‚òª’¨ÍÇÖœÆ,astroworld,wednesday addams as a disney princess keepin i...,2017-05-26 05:46:42,624,950,18775,False,2020-07-25 12:27:21,If I smelled the scent of hand sanitizers toda...,NaN,Twitter for iPhone,False
1,Tom Basile üá∫üá∏,"New York, NY","Husband, Father, Columnist & Commentator. Auth...",2009-04-16 20:06:23,2253,1677,24,True,2020-07-25 12:27:17,Hey @Yankees @YankeesPR and @MLB - wouldn't it...,NaN,Twitter for Android,False
2,Time4fisticuffs,"Pewee Valley, KY",#Christian #Catholic #Conservative #Reagan #Re...,2009-02-28 18:57:41,9275,9525,7254,False,2020-07-25 12:27:14,@diane3443 @wdunlap @realDonaldTrump Trump nev...,['COVID19'],Twitter for Android,False
3,ethel mertz,Stuck in the Middle,#Browns #Indians #ClevelandProud #[]_[] #Cavs ...,2019-03-07 01:45:06,197,987,1488,False,2020-07-25 12:27:10,@brookbanktv The one gift #COVID19 has give me...,['COVID19'],Twitter for iPhone,False
4,DIPR-J&K,Jammu and Kashmir,üñäÔ∏èOfficial Twitter handle of Department of Inf...,2017-02-12 06:45:15,101009,168,101,False,2020-07-25 12:27:08,25 July : Media Bulletin on Novel #CoronaVirus...,"['CoronaVirusUpdates', 'COVID19']",Twitter for Android,False

In [6]:
# chnage datatype for user_created and date to datetime64[ns]
covid19CSVData['user_created'] = pd.to_datetime(covid19CSVData['user_created'])
covid19CSVData['date'] = pd.to_datetime(covid19CSVData['date'])

In [7]:
covid19CSVData.dtypes

user_name                   object
user_location               object
user_description            object
user_created        datetime64[ns]
user_followers               int64
user_friends                 int64
user_favourites              int64
user_verified                 bool
date                datetime64[ns]
text                        object
hashtags                    object
source                      object
is_retweet                    bool
dtype: object

In [8]:
# since row starts with 0, therefore 100th row is 99th
covid19CSVData.iloc[[99,]]

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
99,RumpusGuy64,Cardiff,"N64 geek, craft beer w*nker, foodie (@eatcardi...",2010-01-07 13:46:43,170,724,11790,False,2020-07-25 12:24:14,The Egyptians ain't got shit on this. #COVID19...,['COVID19'],Twitter for Android,False

In [9]:
# delete column source
covid19CSVData.drop('source',axis=1,inplace=True)

In [10]:
# drop duplicates
covid19CSVData.drop_duplicates(inplace=True)

In [11]:
# column wise missing values
covid19CSVData.isna().sum()

user_name               0
user_location       36771
user_description    10286
user_created            0
user_followers          0
user_friends            0
user_favourites         0
user_verified           0
date                    0
text                    0
hashtags            51334
is_retweet              0
dtype: int64

In [12]:
# delete rows with NaN values 
covid19CSVData.dropna(inplace=True)

In [13]:
# sort covid19CSVData by user_friends in descending order
covid19CSVData.sort_values('user_friends',ascending=False,inplace=True)

In [14]:
# get max values of user_friends column
covid19CSVData['user_friends'].max()

497363

In [15]:
# get min values of user_friends column
covid19CSVData['user_friends'].min()

0

In [16]:
# get correlation matrix
covid19CSVData.corr()

,user_followers,user_friends,user_favourites,user_verified,is_retweet
user_followers,1.000000,-0.011943,-0.038156,0.335541,NaN
user_friends,-0.011943,1.000000,0.179302,0.000033,NaN
user_favourites,-0.038156,0.179302,1.000000,-0.076065,NaN
user_verified,0.335541,0.000033,-0.076065,1.000000,NaN
is_retweet,NaN,NaN,NaN,NaN,NaN