In [20]:
a = 12
type(a)
a = 12.2

In [4]:
type(a)

int

In [5]:
a = 12.2

In [6]:
a

12.2

In [7]:
type(a)

float

In [12]:
hello = 12

In [13]:
a = hello

In [10]:
a

'hello'

In [17]:
a = 'helloworld'

In [18]:
type(a)

str

In [19]:
print(a,)

helloworld

In [26]:
a = 2
print(a)
b = 3
print(b)
c = 'hello'
b

2
3

3

In [36]:
# print('Hello world',end='*')
print('Hello world1','Hello world2','Hello world3','Hello world4',sep='\n')
# print('INDIA')
# print('Hello world')

Hello world1
Hello world2
Hello world3
Hello world4

In [41]:
a = 2
b = 23
c = 'Hello world'

print('{} {} and {} is {}'.format(c,a,b,a+b))

Hello world 2 and 23 is 25

# string slice

In [42]:
s = 'Hello world'

In [44]:
s[3] # positive indexing

'l'

In [45]:
s[-1]

'd'

In [46]:
s[-2]

'l'

In [ ]:
# s[start:end]

In [47]:
s[:]

'Hello world'

In [48]:
s[2:]

'llo world'

In [50]:
s[2:4]

'll'

In [52]:
s[:-1]

'Hello worl'

In [55]:
x = 'ABCDEFGHIJ'

In [56]:
x[::1]

'ABCDEFGHIJ'

In [57]:
x[::2]

'ACEGI'

In [58]:
x[::-1]

'JIHGFEDCBA'

In [59]:
s

'Hello world'

In [62]:
s.lower()

'hello world'

In [64]:
s.find('w')

6

In [65]:
s.count('l')

3

# List

In [66]:
s = []

In [67]:
type(s)

list

In [80]:
mylist = [1,2,3,4,5,]
mylist

[1, 2, 3, 4, 5]

In [81]:
mylist.append(6)

In [82]:
mylist

[1, 2, 3, 4, 5, 6]

In [83]:
a = mylist.pop()

In [84]:
a

6

In [85]:
mylist

[1, 2, 3, 4, 5]

In [86]:
mylist.pop(0)

1

In [87]:
mylist

[2, 3, 4, 5]

In [110]:
mylist = [65,78,98,21,23,45]

In [103]:
mylist.remove(65)

In [104]:
mylist

[21, 23, 45, 78, 98]

In [111]:
mylist = [65,78,98,21,23,45]
mylist.sort(reverse=True)

In [114]:
mylist.sort()
mylist

[21, 23, 45, 65, 78, 98]

In [115]:
mylist.sort(reverse=True)
mylist

[98, 78, 65, 45, 23, 21]

In [121]:
mylist1 = [65,78,98,21,23,45]
mylist2 = [65,78,98,21,23,45]

In [122]:
sorted(mylist1)

[21, 23, 45, 65, 78, 98]

In [125]:
mylist2.sort()
print(mylist2)

[21, 23, 45, 65, 78, 98]

In [126]:
print(mylist2)

[21, 23, 45, 65, 78, 98]

In [127]:
print(*mylist2) # unpacking of a list

21 23 45 65 78 98

In [129]:
print(*mylist2,sep=', ')

21, 23, 45, 65, 78, 98

In [130]:
mylist2

[21, 23, 45, 65, 78, 98]

# list slicing

In [132]:
mylist2[:]

[21, 23, 45, 65, 78, 98]

In [133]:
mylist2[1:4]

[23, 45, 65]

In [135]:
mylist2[-1] + mylist2[-2]

176

In [136]:
mylist2

[21, 23, 45, 65, 78, 98]

In [137]:
mylist2[::-1]

[98, 78, 65, 45, 23, 21]

In [ ]:
# mylist2[start:end:step]

In [139]:
this_list = [1,2,3,4,5,6,7,8]
this_list[::1]

[1, 2, 3, 4, 5, 6, 7, 8]

In [141]:
this_list[::2]

[1, 3, 5, 7]

In [142]:
this_list[::-1]

[8, 7, 6, 5, 4, 3, 2, 1]

# Question 1

In [167]:
s = 'Tendulkar took up cricket at the age of eleven, made his Test debut on 15 November 1989 against Pakistan in Karachi at the age of sixteen, and went on to represent Mumbai domestically and India internationally for close to twenty-four years. In 2002, halfway through his career, Wisden Cricketers' Almanack ranked him the second-greatest Test batsman of all time, behind Don Bradman, and the second-greatest ODI batsman of all time, behind Viv Richards.[15] Later in his career, Tendulkar was a part of the Indian team that won the 2011 World Cup, his first win in six World Cup appearances for India.[16] He had previously been named "Player of the Tournament" at the 2003 edition of the tournament, held in South Africa.'

SyntaxError: invalid syntax (<ipython-input-167-750ba24f9c63>, line 1)

# Question 2

In [145]:
this_list = [1,2,3,4,5,6,7,8]

In [ ]:
1) print each element in a new line
1
2
3
4
5
like this

# Question 3

In [ ]:
# 3 

take a list containing 20 (random, must contain duplicate)

print no of count- user entered num

# Question 4

In [ ]:
# 4 
find count of '.['

# Question 5

In [ ]:
# 5
 remove the element from memory

# Question 6

In [ ]:
# 6

Take 5 sentence and print like this,

Hello     world
This      is
India     and
This      is
USA       and

In [150]:
x = input("Enter the string")
y = int(input("Enter the number"))

Enter the stringhello
Enter the number34

In [151]:
x

'hello'

In [152]:
type(x)

str

In [153]:
y

34

In [154]:
type(y)

int

In [161]:
d

34

In [162]:
d

34

In [163]:
print(d)

34

In [164]:
# suprakashsamantaray0@gmail.com

In [ ]:
# 8 PM