In [22]:
import numpy as np
import pandas as pd
import tensorflow as tf

from tensorflow.keras import layers

In [21]:
print(tf. __version__)

2.9.1

In [2]:
names=["First Term Gpa", "Second Term Gpa", "First Language", " Funding", "School",
       "FastTrack", "Coop", " Residency", " Gender", " Previous Education", "Age Group", 
       "High School Average Mark", "Math Score", "English Grade", "FirstYearPersistence",]

student_data = pd.read_csv(r'D:\OneDrive - NITT\Custom_Download\Student data.csv',na_values='?')
student_data.columns = names
student_data.dropna(inplace=True)

In [3]:
student_data['First Term Gpa'] = student_data['First Term Gpa'].astype('float')

In [4]:
student_data

,First Term Gpa,Second Term Gpa,First Language,Funding,School,FastTrack,Coop,Residency,Gender,Previous Education,Age Group,High School Average Mark,Math Score,English Grade,FirstYearPersistence
23,0.000000,0.000000,1.0,2.0,6.0,2.0,1.0,1.0,2.0,1.0,1.0,59.0,16.0,7.0,1.0
25,4.250000,3.923077,1.0,1.0,6.0,2.0,1.0,1.0,1.0,2.0,3.0,92.0,41.0,9.0,1.0
28,4.357143,4.326087,1.0,2.0,6.0,2.0,1.0,1.0,2.0,2.0,3.0,101.0,45.0,9.0,1.0
29,2.210526,1.375000,1.0,2.0,6.0,2.0,1.0,1.0,2.0,1.0,1.0,68.0,20.0,7.0,0.0
30,2.045455,2.961538,1.0,2.0,6.0,2.0,1.0,1.0,2.0,1.0,1.0,79.0,34.0,9.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1445,4.000000,4.333333,1.0,8.0,6.0,2.0,2.0,1.0,2.0,1.0,5.0,74.0,16.0,9.0,1.0
1449,1.315789,0.000000,1.0,2.0,6.0,2.0,1.0,1.0,2.0,1.0,3.0,64.0,28.0,9.0,0.0
1452,1.869565,2.375000,1.0,2.0,6.0,2.0,1.0,1.0,1.0,1.0,1.0,73.0,23.0,7.0,1.0
1457,2.020833,2.450000,1.0,2.0,6.0,2.0,1.0,1.0,2.0,1.0,1.0,78.0,18.0,9.0,1.0
1459,2.133333,3.205882,1.0,2.0,6.0,2.0,2.0,1.0,1.0,1.0,1.0,81.0,27.0,9.0,1.0

In [5]:
student_data.dtypes

First Term Gpa              float64
Second Term Gpa             float64
First Language              float64
 Funding                    float64
School                      float64
FastTrack                   float64
Coop                        float64
 Residency                  float64
 Gender                     float64
 Previous Education         float64
Age Group                   float64
High School Average Mark    float64
Math Score                  float64
English Grade               float64
FirstYearPersistence        float64
dtype: object

In [6]:
student_data['target'] = student_data['FirstYearPersistence']
student_data.drop('FirstYearPersistence',axis=1,inplace=True)

In [7]:
def get_normalization_layer(name, dataset):
    # Create a Normalization layer for the feature.
    normalizer = layers.Normalization(axis=None)

    # Prepare a Dataset that only yields the feature.
    feature_ds = dataset.map(lambda x, y: x[name])

    # Learn the statistics of the data.
    normalizer.adapt(feature_ds)

    return normalizer

In [8]:
def df_to_dataset(dataframe, shuffle=True, batch_size=32):
    df = dataframe.copy()
    labels = df.pop('target')
    df = {key: value[:,tf.newaxis] for key, value in dataframe.items()}
    ds = tf.data.Dataset.from_tensor_slices((dict(df), labels))
    if shuffle:
        ds = ds.shuffle(buffer_size=len(dataframe))
    ds = ds.batch(batch_size)
    ds = ds.prefetch(batch_size)
    return ds

In [9]:
train_ds = df_to_dataset(student_data)

C:\Users\avitr\AppData\Local\Temp\ipykernel_33672\3859046669.py:4: FutureWarning: Support for multi-dimensional indexing (e.g. `obj[:, None]`) is deprecated and will be removed in a future version.  Convert to a numpy array before indexing instead.
  df = {key: value[:,tf.newaxis] for key, value in dataframe.items()}

# Example of encoding i.e normalization

In [10]:
Average_Mark = student_data['High School Average Mark']
layer = get_normalization_layer('High School Average Mark', train_ds)
layer(Average_Mark)

<tf.Tensor: shape=(1, 494), dtype=float32, numpy=
array([[-1.7061528 ,  1.2842478 ,  2.0998116 , -0.890589  ,  0.10621118,
         1.827957  ,  0.01559298, -0.43749803,  0.28744757,  1.5561024 ,
         0.19682938,  1.7373388 ,  0.28744757, -0.890589  ,  0.6499204 ,
         0.468684  , -1.6155347 ,  1.5561024 , -0.16564342,  0.8311568 ,
         0.3780658 ,  0.28744757,  0.01559298, -0.3468798 ,  0.19682938,
         0.921775  ,  1.1030114 , -0.43749803, -5.5121174 , -0.25626162,
        -2.702953  , -1.34368   , -0.25626162, -0.5281162 ,  0.8311568 ,
         0.10621118,  0.7405386 ,  0.3780658 , -0.3468798 ,  0.19682938,
        -0.07502522, -0.98120725,  0.55930215,  0.28744757, -1.1624436 ,
        -0.5281162 ,  1.374866  , -2.3404803 ,  0.6499204 ,  1.6467205 ,
         1.2842478 , -0.43749803,  0.01559298, -2.702953  ,  0.3780658 ,
         0.10621118,  0.6499204 ,  0.01559298,  0.7405386 ,  1.7373388 ,
         1.1030114 ,  1.1030114 ,  1.0123932 ,  0.468684  , -0.98120725,
         1.7373388 , -1.6155347 , -1.5249164 ,  0.28744757, -1.34368   ,
        -0.5281162 , -0.3468798 ,  0.6499204 , -2.1592438 , -0.890589  ,
         0.19682938,  1.4654841 ,  0.28744757,  0.6499204 , -0.5281162 ,
        -0.6187344 , -0.43749803,  0.3780658 ,  1.2842478 ,  0.921775  ,
         1.2842478 , -1.34368   ,  1.0123932 ,  0.55930215, -1.34368   ,
         0.468684  , -1.1624436 ,  0.28744757,  0.10621118,  0.468684  ,
        -0.43749803,  1.1936296 , -0.43749803, -0.43749803, -0.5281162 ,
        -0.25626162,  1.1936296 ,  0.7405386 , -0.7999708 ,  1.1936296 ,
         0.468684  ,  0.01559298,  1.374866  , -0.16564342,  0.3780658 ,
        -0.98120725, -0.3468798 , -0.25626162, -0.07502522,  0.3780658 ,
        -0.16564342,  0.01559298, -0.98120725, -0.890589  , -0.25626162,
        -0.43749803,  0.7405386 ,  0.921775  , -0.7999708 , -0.98120725,
        -0.43749803,  0.01559298, -0.98120725,  0.921775  ,  0.3780658 ,
        -2.5217166 , -0.16564342,  0.468684  ,  1.7373388 , -0.07502522,
         0.55930215, -0.7999708 ,  0.01559298,  0.7405386 , -0.5281162 ,
        -0.3468798 , -0.890589  ,  0.01559298,  0.8311568 , -0.43749803,
        -0.6187344 , -0.25626162, -1.5249164 ,  0.10621118,  1.2842478 ,
        -0.43749803, -1.8873892 ,  1.6467205 , -1.4342983 ,  1.5561024 ,
         0.8311568 ,  0.19682938, -0.6187344 ,  0.19682938,  1.2842478 ,
         1.1936296 , -0.890589  , -1.1624436 , -1.9780074 ,  1.2842478 ,
        -0.25626162,  0.28744757, -0.6187344 ,  0.28744757,  0.6499204 ,
         1.0123932 , -0.7999708 ,  0.55930215,  0.01559298,  0.3780658 ,
         0.19682938,  0.6499204 , -1.8873892 , -0.43749803, -0.07502522,
        -2.249862  ,  0.468684  , -0.3468798 ,  0.19682938, -0.25626162,
        -1.1624436 ,  0.28744757,  0.10621118, -0.16564342, -0.16564342,
         0.6499204 ,  2.0091934 ,  0.10621118,  0.468684  ,  1.374866  ,
         0.468684  ,  0.7405386 , -2.3404803 , -1.5249164 ,  1.827957  ,
        -1.0718254 , -0.98120725, -0.7999708 , -0.6187344 , -2.1592438 ,
         0.3780658 ,  0.19682938, -0.3468798 , -1.0718254 ,  0.7405386 ,
        -1.6155347 , -0.25626162,  0.3780658 , -0.07502522,  2.6435208 ,
        -0.7093526 ,  0.8311568 ,  0.468684  , -1.0718254 , -0.43749803,
         0.55930215, -0.16564342,  1.0123932 ,  0.7405386 ,  0.7405386 ,
        -1.4342983 , -0.6187344 ,  1.2842478 , -2.9748077 ,  0.8311568 ,
        -1.8873892 , -1.796771  ,  0.921775  , -0.3468798 ,  0.8311568 ,
        -0.5281162 ,  0.01559298, -0.16564342, -1.1624436 ,  0.01559298,
         0.8311568 ,  1.4654841 , -0.07502522,  0.468684  , -0.43749803,
        -0.7093526 , -0.07502522,  0.01559298, -0.07502522,  1.2842478 ,
         1.5561024 ,  0.10621118, -0.43749803, -1.34368   ,  1.827957  ,
         1.1936296 ,  0.6499204 , -0.43749803,  0.3780658 , -4.787172  ,
         0.8311568 ,  0.10621118, -0.5281162 ,  0.55930215, -0.16564342,
         0.6499204 , -0.43749803, -0.5281162 , -0.7999708 ,  0.19682938,
         0.6499204 ,  1.1936296 , -0.25626162, -0.43749803, -1.1624436 ,
         0.28744757,  0.55930215, -0.7093526 , -0.3468798 ,  0.6499204 ,
        -0.43749803,  0.10621118,  0.28744757,  0.921775  ,  2.0091934 ,
        -0.3468798 ,  1.2842478 ,  1.9185752 , -0.43749803,  0.921775  ,
        -1.4342983 ,  0.28744757, -0.6187344 ,  1.7373388 , -0.7999708 ,
        -2.0686257 , -1.1624436 ,  1.2842478 , -0.3468798 , -0.3468798 ,
         0.55930215, -0.7093526 , -0.25626162, -0.6187344 ,  1.0123932 ,
         0.921775  ,  0.55930215,  0.921775  ,  0.8311568 ,  0.6499204 ,
        -0.6187344 , -0.07502522,  0.01559298, -0.5281162 ,  0.3780658 ,
         0.8311568 ,  1.2842478 , -2.4310985 , -0.3468798 ,  0.6499204 ,
        -0.890589  ,  1.1030114 ,  1.374866  ,  0.8311568 , -1.8873892 ,
         0.28744757,  1.827957  , -0.7999708 ,  1.4654841 , -1.34368   ,
         0.6499204 , -0.890589  , -0.3468798 ,  0.7405386 ,  0.921775  ,
         1.2842478 , -0.16564342, -0.7999708 ,  0.01559298, -0.16564342,
        -0.25626162,  1.0123932 ,  1.5561024 , -0.07502522,  0.19682938,
         0.10621118,  0.01559298,  1.4654841 , -0.16564342,  0.19682938,
        -1.6155347 ,  1.2842478 ,  1.0123932 ,  0.19682938,  0.01559298,
         0.8311568 ,  0.01559298,  0.6499204 , -0.07502522,  0.3780658 ,
        -0.7999708 , -0.6187344 , -0.07502522,  1.5561024 ,  0.28744757,
        -0.6187344 ,  0.10621118,  0.28744757,  0.468684  ,  0.10621118,
         0.01559298,  0.55930215,  0.28744757,  1.0123932 ,  0.01559298,
         0.921775  ,  0.01559298, -0.7999708 , -0.890589  , -0.3468798 ,
        -0.43749803, -0.3468798 , -0.3468798 , -0.6187344 , -0.6187344 ,
        -2.3404803 ,  0.10621118,  1.6467205 ,  1.2842478 , -0.5281162 ,
         0.28744757,  0.19682938, -0.07502522,  0.921775  ,  1.6467205 ,
        -0.890589  ,  0.01559298,  0.28744757,  0.55930215, -0.890589  ,
        -0.5281162 ,  1.374866  ,  0.468684  ,  0.55930215,  0.19682938,
         0.19682938,  0.01559298,  0.8311568 ,  1.1936296 ,  0.55930215,
        -0.3468798 , -1.34368   ,  1.1030114 ,  0.7405386 ,  1.2842478 ,
         0.921775  ,  0.921775  , -1.2530618 , -0.5281162 , -0.98120725,
         0.7405386 , -1.34368   , -1.5249164 , -1.34368   , -1.4342983 ,
        -0.16564342, -1.4342983 , -0.98120725, -0.16564342,  0.01559298,
         1.1030114 ,  1.0123932 ,  0.921775  ,  0.01559298,  0.6499204 ,
        -0.43749803,  0.7405386 ,  0.55930215, -0.6187344 , -0.98120725,
        -0.25626162,  0.468684  , -0.25626162, -0.07502522,  0.55930215,
        -1.34368   , -0.6187344 , -0.6187344 ,  0.10621118, -0.890589  ,
        -0.3468798 , -0.7093526 ,  0.10621118,  1.2842478 , -1.4342983 ,
        -1.2530618 ,  1.7373388 ,  1.6467205 ,  1.2842478 , -0.890589  ,
         1.1030114 , -0.07502522, -0.98120725, -2.1592438 ,  1.1030114 ,
        -0.43749803, -0.5281162 , -0.25626162, -0.16564342, -0.25626162,
         1.1936296 , -0.7999708 ,  0.01559298,  0.921775  , -0.07502522,
        -0.5281162 , -1.7061528 , -0.5281162 ,  1.1936296 , -0.25626162,
         1.0123932 , -0.07502522, -1.9780074 ,  0.01559298, -1.5249164 ,
        -0.5281162 ,  0.468684  , -0.5281162 , -0.07502522, -0.3468798 ,
        -1.2530618 , -0.43749803,  0.01559298,  0.28744757]],
      dtype=float32)>

In [11]:
list(student_data)[:-1]

['First Term Gpa',
 'Second Term Gpa',
 'First Language',
 ' Funding',
 'School',
 'FastTrack',
 'Coop',
 ' Residency',
 ' Gender',
 ' Previous Education',
 'Age Group',
 'High School Average Mark',
 'Math Score',
 'English Grade']

# Apply normalization on all features except target

In [12]:
from tqdm.notebook import tqdm
all_inputs = []
encoded_features = []

# Numerical features.
for header in tqdm(list(student_data)[:-1]):
    numeric_col = tf.keras.Input(shape=(1,), name=header)
    normalization_layer = get_normalization_layer(header, train_ds)
    encoded_numeric_col = normalization_layer(numeric_col)
    all_inputs.append(numeric_col)
    encoded_features.append(encoded_numeric_col)

  0%|          | 0/14 [00:00<?, ?it/s]

# There is no feature with type as string, therefore Converting categorical features to numerical is not needed

In [13]:
student_data.dtypes

First Term Gpa              float64
Second Term Gpa             float64
First Language              float64
 Funding                    float64
School                      float64
FastTrack                   float64
Coop                        float64
 Residency                  float64
 Gender                     float64
 Previous Education         float64
Age Group                   float64
High School Average Mark    float64
Math Score                  float64
English Grade               float64
target                      float64
dtype: object

In [14]:
all_features = tf.keras.layers.concatenate(encoded_features)

In [15]:
all_features # encoded features

In [16]:
# https://www.tensorflow.org/tutorials/structured_data/preprocessing_layers

In [18]:
!python -V

Python 3.9.12

In [19]:
!pip --version

pip 21.2.4 from C:\Users\avitr\anaconda3\lib\site-packages\pip (python 3.9)