In [1]:
import pandas as pd
import numpy as np
import datetime
import warnings
warnings.filterwarnings('ignore')

df = pd.read_csv("D:\OneDrive - NITT\Custom_Download\Abstimmung_1433_3_monts.csv",
                 delimiter=';',encoding='ANSI')
shop_number = df[df['KST']!=0]['KST'].unique()

In [2]:
df.shape

(1595, 8)

In [3]:
len(shop_number)

27

In [4]:
def get_index(df,date,promised_amount,no_loopup_days=5):
    payment = df[['DATE','Haben']]
    offset = date + datetime.timedelta(days=no_loopup_days)
    
    small_df = payment[(payment['DATE']<= offset) & (payment['DATE']>= date)]
    small_df = small_df[~small_df['Haben'].isnull()]
    
    y = small_df[small_df['Haben']==promised_amount]
    indx = y.index[0] if len(y)>=1 else None
    return indx

In [5]:
pair_dict = dict()
for shop in sorted(shop_number):
    pair_list = []
    data = df[df['KST'].isin([shop]) | df['KST2'].isin([shop])]
    data['Soll'] = np.where(data['KST']==shop,data['BETRAG'],np.nan)
    data['Haben'] = np.where(data['KST2']==shop,data['BETRAG'],np.nan)

    data = data[['DATE','KST','KST2','Soll','Haben']]

    data['DATE'] = pd.to_datetime(data['DATE'],dayfirst=True,infer_datetime_format=True)

    data_clean = data[['DATE','Soll']][~data['Soll'].isnull()]
    for indx, row in data_clean.iterrows():
        indx_payment = get_index(data,row['DATE'],row['Soll'])
        Search_indx = sorted(sum(sum(pair_dict.values(),[]),()))
        
        if row['Soll']<0:
            indx_payment = data_clean[(data_clean['DATE']== row['DATE']) & (data_clean['Soll']== abs(row['Soll']))].index[0]
            
            if indx not in Search_indx:
                pair_list.append((indx_payment,indx)) 
        else:
            if indx_payment!=None:
                
                if indx_payment not in Search_indx:
                    pair_list.append((indx,indx_payment))
    pair_dict[shop] = pair_list
                
indx_drop = sorted(sum(sum(pair_dict.values(),[]),()))

In [32]:
s=dict()

In [33]:
sorted(sum(sum(s.values(),[]),()))

[]

In [6]:
df_final = df.drop(indx_drop)

In [7]:
df.shape

(1595, 8)

In [8]:
len(df_final) + len(indx_drop)

1596

In [11]:
len(indx_drop)

1066

In [12]:
len(set(indx_drop))

1065

In [14]:
from collections import Counter
d = Counter(indx_drop)

In [16]:
for k,v in d.items():
    if v==2:
        print(k)

516

In [25]:
x = sum(pair_dict.values(),[])

In [27]:
for i,j in x:
    if i==516 or j==516:
        print(i,j)

442 516
504 516

In [29]:
df.iloc[[442,504,516]]

           DATE   KTO  KST  GKTO  KST2  BETRAG                      TEXT SH
442  27.04.2022  1499   11  1511     0  1000.0             Filiale = 411  S
504  30.04.2022  1499   11  1511     0  1000.0             Filiale = 411  S
516  30.04.2022  1800    0  1499    11  1000.0  Filialeinzahlung Fil 411  S

In [9]:
import pandas as pd
pd.set_option('display.max_rows', 1700)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [30]:
shop = 11
df[df['KST'].isin([shop]) | df['KST2'].isin([shop])]

            DATE   KTO  KST  GKTO  KST2  BETRAG                      TEXT SH
12    01.04.2022  1800    0  1499    11   700.0  Filialeinzahlung Fil 411  S
13    01.04.2022  1800    0  1499    11   900.0  Filialeinzahlung Fil 411  S
31    02.04.2022  1499   11  1511     0   800.0             Filiale = 411  S
65    04.04.2022  1800    0  1499    11   800.0  Filialeinzahlung Fil 411  S
74    05.04.2022  1499   11  1511     0   800.0             Filiale = 411  S
112   06.04.2022  1800    0  1499    11   800.0  Filialeinzahlung Fil 411  S
146   08.04.2022  1499   11  1511     0   700.0             Filiale = 411  S
172   09.04.2022  1800    0  1499    11   700.0  Filialeinzahlung Fil 411  S
203   12.04.2022  1499   11  1511     0   900.0             Filiale = 411  S
230   13.04.2022  1800    0  1499    11   900.0  Filialeinzahlung Fil 411  S
263   16.04.2022  1499   11  1511     0  1300.0             Filiale = 411  S
290   19.04.2022  1800    0  1499    11  1300.0  Filialeinzahlung Fil 411  S
306   20.04.2022  1499   11  1511     0  1700.0             Filiale = 411  S
340   21.04.2022  1800    0  1499    11  1700.0  Filialeinzahlung Fil 411  S
395   25.04.2022  1499   11  1511     0  1200.0             Filiale = 411  S
418   26.04.2022  1800    0  1499    11  1200.0  Filialeinzahlung Fil 411  S
442   27.04.2022  1499   11  1511     0  1000.0             Filiale = 411  S
483   29.04.2022  1800    0  1499    11   900.0  Filialeinzahlung Fil 411  S
504   30.04.2022  1499   11  1511     0  1000.0             Filiale = 411  S
516   30.04.2022  1800    0  1499    11  1000.0  Filialeinzahlung Fil 411  S
554   03.05.2022  1499   11  1511     0   600.0             Filiale = 411  S
568   04.05.2022  1499   11  1511     0   700.0             Filiale = 411  S
575   04.05.2022  1800    0  1499    11   600.0  Filialeinzahlung Fil 411  S
596   05.05.2022  1800    0  1499    11   700.0  Filialeinzahlung Fil 411  S
610   06.05.2022  1499   11  1511     0   700.0             Filiale = 411  S
646   07.05.2022  1800    0  1499    11   700.0  Filialeinzahlung Fil 411  S
701   11.05.2022  1499   11  1511     0  1400.0             Filiale = 411  S
727   12.05.2022  1800    0  1499    11  1400.0  Filialeinzahlung Fil 411  S
743   13.05.2022  1499   11  1511     0  1000.0             Filiale = 411  S
766   14.05.2022  1499   11  1511     0   500.0             Filiale = 411  S
776   14.05.2022  1800    0  1499    11  1000.0  Filialeinzahlung Fil 411  S
789   16.05.2022  1800    0  1499    11   500.0  Filialeinzahlung Fil 411  S
805   17.05.2022  1499   11  1511     0  1000.0             Filiale = 411  S
838   18.05.2022  1800    0  1499    11  1000.0  Filialeinzahlung Fil 411  S
893   21.05.2022  1499   11  1511     0  1200.0             Filiale = 411  S
930   23.05.2022  1800    0  1499    11  1200.0  Filialeinzahlung Fil 411  S
943   24.05.2022  1499   11  1511     0   900.0             Filiale = 411  S
961   25.05.2022  1499   11  1511     0   600.0             Filiale = 411  S
966   25.05.2022  1800    0  1499    11   900.0  Filialeinzahlung Fil 411  S
991   27.05.2022  1800    0  1499    11   600.0  Filialeinzahlung Fil 411  S
1007  28.05.2022  1499   11  1511     0   600.0             Filiale = 411  S
1048  30.05.2022  1800    0  1499    11   600.0  Filialeinzahlung Fil 411  S
1071  31.05.2022  1499   11  1511     0   500.0             Filiale = 411  S
1088  01.06.2022  1800    0  1499    11   500.0  Filialeinzahlung Fil 411  S
1158  07.06.2022  1499   11  1511     0   700.0             Filiale = 411  S
1162  07.06.2022  1800    0  1499    11   700.0  Filialeinzahlung Fil 411  S
1193  08.06.2022  1499   11  1511     0  1000.0             Filiale = 411  S
1218  09.06.2022  1800    0  1499    11  1000.0  Filialeinzahlung Fil 411  S
1277  13.06.2022  1499   11  1511     0   600.0             Filiale = 411  S
1297  14.06.2022  1800    0  1499    11   600.0  Filialeinzahlung Fil 411  S
1390  20.06.2022  1499   11  1511     0  1000.0             Filiale = 411  S
1410  21.06.2022  1800    0  1499    11  1000.0  Filialeinzahlung Fil 411  S
1428  22.06.2022  1499   11  1511     0  1100.0             Filiale = 411  S
1468  23.06.2022  1800    0  1499    11  1100.0  Filialeinzahlung Fil 411  S
1483  24.06.2022  1499   11  1511     0   550.0             Filiale = 411  S
1509  25.06.2022  1800    0  1499    11   550.0  Filialeinzahlung Fil 411  S
1522  27.06.2022  1499   11  1511     0   800.0             Filiale = 411  S
1545  28.06.2022  1800    0  1499    11   800.0  Filialeinzahlung Fil 411  S
1563  29.06.2022  1499   11  1511     0   800.0             Filiale = 411  S
1590  30.06.2022  1800    0  1499    11   800.0  Filialeinzahlung Fil 411  S