In [125]:
import h5py 
import numpy as np
import pandas as pd
import glob

In [126]:
timestamps=pd.read_csv('time.csv')

In [127]:
file = h5py.File('PS1.mat')
values = file['test1'][()]
data=pd.DataFrame(values.T)
data['date_time']=timestamps
data.set_index('date_time', inplace=True)
data.columns=['occup','mean','max','min','std']

In [128]:
data

                      occup       mean        max         min        std
date_time
1/1/2018 0:15     63.839286 -76.647159 -50.176792 -107.939415  17.007419
1/1/2018 0:30     40.178571 -83.602347 -49.816086 -112.828888  16.230118
1/1/2018 0:45     32.812500 -86.251132 -51.686817 -111.842430  15.663515
1/1/2018 1:00     31.473214 -87.166624 -50.489101 -110.316925  14.484129
1/1/2018 1:15     30.357143 -87.595121 -49.223465 -110.724182  14.120650
...                     ...        ...        ...         ...        ...
10/15/2022 23:00   0.000000 -91.325633 -70.203308 -107.778183   9.684665
10/15/2022 23:15   0.000000 -90.929785 -70.656021 -108.527687   9.737740
10/15/2022 23:30   0.000000 -92.451310 -71.574547 -109.786697   9.559973
10/15/2022 23:45   0.000000 -92.563113 -70.443909 -112.803543   9.322269
NaN                0.000000 -90.576755 -70.633095 -109.059059  10.336275

[160416 rows x 5 columns]

In [129]:
# data.reset_index(inplace=True)

In [130]:
data.dropna(inplace=True)

In [131]:
# data
# data['date_time'] = pd.to_datetime(data['date_time'])

In [132]:
data.dtypes

occup    float64
mean     float64
max      float64
min      float64
std      float64
dtype: object

In [133]:
# data['date_time']

In [134]:
# df = data[['occup','mean','max','min','std']]

In [135]:
# df

In [136]:
data = data.diff()

In [137]:
def eligible(row_indx):
    return all([False if abs(val)>=5 else True for val in list(data.loc[row_indx])])

In [138]:
data = data [:10000]

In [139]:
lst = []
for i in data.index:
    lst.append((i,eligible(i)))

In [140]:
lst

[('1/1/2018 0:15', True),
 ('1/1/2018 0:30', False),
 ('1/1/2018 0:45', False),
 ('1/1/2018 1:00', True),
 ('1/1/2018 1:15', True),
 ('1/1/2018 1:30', True),
 ('1/1/2018 1:45', False),
 ('1/1/2018 2:00', False),
 ('1/1/2018 2:15', False),
 ('1/1/2018 2:30', False),
 ('1/1/2018 2:45', False),
 ('1/1/2018 3:00', True),
 ('1/1/2018 3:15', False),
 ('1/1/2018 3:30', False),
 ('1/1/2018 3:45', False),
 ('1/1/2018 4:00', False),
 ('1/1/2018 4:15', False),
 ('1/1/2018 4:30', False),
 ('1/1/2018 4:45', True),
 ('1/1/2018 5:00', False),
 ('1/1/2018 5:15', False),
 ('1/1/2018 5:30', True),
 ('1/1/2018 5:45', False),
 ('1/1/2018 6:00', False),
 ('1/1/2018 6:15', False),
 ('1/1/2018 6:30', False),
 ('1/1/2018 6:45', False),
 ('1/1/2018 7:00', False),
 ('1/1/2018 7:15', False),
 ('1/1/2018 7:30', False),
 ('1/1/2018 7:45', False),
 ('1/1/2018 8:00', False),
 ('1/1/2018 8:15', False),
 ('1/1/2018 8:30', True),
 ('1/1/2018 8:45', False),
 ('1/1/2018 9:00', False),
 ('1/1/2018 9:15', False),
 ('1/1/2018 9:30', False),
 ('1/1/2018 9:45', False),
 ('1/1/2018 10:00', False),
 ('1/1/2018 10:15', False),
 ('1/1/2018 10:30', False),
 ('1/1/2018 10:45', False),
 ('1/1/2018 11:00', True),
 ('1/1/2018 11:15', False),
 ('1/1/2018 11:30', False),
 ('1/1/2018 11:45', False),
 ('1/1/2018 12:00', False),
 ('1/1/2018 12:15', False),
 ('1/1/2018 12:30', False),
 ('1/1/2018 12:45', True),
 ('1/1/2018 13:00', False),
 ('1/1/2018 13:15', False),
 ('1/1/2018 13:30', False),
 ('1/1/2018 13:45', False),
 ('1/1/2018 14:00', False),
 ('1/1/2018 14:15', True),
 ('1/1/2018 14:30', False),
 ('1/1/2018 14:45', True),
 ('1/1/2018 15:00', True),
 ('1/1/2018 15:15', False),
 ('1/1/2018 15:30', True),
 ('1/1/2018 15:45', False),
 ('1/1/2018 16:00', False),
 ('1/1/2018 16:15', False),
 ('1/1/2018 16:30', False),
 ('1/1/2018 16:45', False),
 ('1/1/2018 17:00', False),
 ('1/1/2018 17:15', True),
 ('1/1/2018 17:30', False),
 ('1/1/2018 17:45', False),
 ('1/1/2018 18:00', True),
 ('1/1/2018 18:15', False),
 ('1/1/2018 18:30', True),
 ('1/1/2018 18:45', True),
 ('1/1/2018 19:00', False),
 ('1/1/2018 19:15', False),
 ('1/1/2018 19:30', False),
 ('1/1/2018 19:45', True),
 ('1/1/2018 20:00', False),
 ('1/1/2018 20:15', False),
 ('1/1/2018 20:30', True),
 ('1/1/2018 20:45', False),
 ('1/1/2018 21:00', True),
 ('1/1/2018 21:15', False),
 ('1/1/2018 21:30', True),
 ('1/1/2018 21:45', False),
 ('1/1/2018 22:00', False),
 ('1/1/2018 22:15', False),
 ('1/1/2018 22:30', False),
 ('1/1/2018 22:45', False),
 ('1/1/2018 23:00', False),
 ('1/1/2018 23:15', False),
 ('1/1/2018 23:30', False),
 ('1/1/2018 23:45', False),
 ('1/2/2018 0:00', False),
 ('1/2/2018 0:15', False),
 ('1/2/2018 0:30', True),
 ('1/2/2018 0:45', True),
 ('1/2/2018 1:00', True),
 ('1/2/2018 1:15', True),
 ('1/2/2018 1:30', False),
 ('1/2/2018 1:45', True),
 ('1/2/2018 2:00', False),
 ('1/2/2018 2:15', False),
 ('1/2/2018 2:30', True),
 ('1/2/2018 2:45', True),
 ('1/2/2018 3:00', False),
 ('1/2/2018 3:15', False),
 ('1/2/2018 3:30', True),
 ('1/2/2018 3:45', False),
 ('1/2/2018 4:00', False),
 ('1/2/2018 4:15', False),
 ('1/2/2018 4:30', False),
 ('1/2/2018 4:45', True),
 ('1/2/2018 5:00', False),
 ('1/2/2018 5:15', False),
 ('1/2/2018 5:30', False),
 ('1/2/2018 5:45', False),
 ('1/2/2018 6:00', False),
 ('1/2/2018 6:15', False),
 ('1/2/2018 6:30', False),
 ('1/2/2018 6:45', False),
 ('1/2/2018 7:00', False),
 ('1/2/2018 7:15', False),
 ('1/2/2018 7:30', True),
 ('1/2/2018 7:45', False),
 ('1/2/2018 8:00', True),
 ('1/2/2018 8:15', True),
 ('1/2/2018 8:30', False),
 ('1/2/2018 8:45', False),
 ('1/2/2018 9:00', True),
 ('1/2/2018 9:15', False),
 ('1/2/2018 9:30', False),
 ('1/2/2018 9:45', False),
 ('1/2/2018 10:00', False),
 ('1/2/2018 10:15', False),
 ('1/2/2018 10:30', False),
 ('1/2/2018 10:45', False),
 ('1/2/2018 11:00', False),
 ('1/2/2018 11:15', False),
 ('1/2/2018 11:30', False),
 ('1/2/2018 11:45', False),
 ('1/2/2018 12:00', False),
 ('1/2/2018 12:15', False),
 ('1/2/2018 12:30', False),
 ('1/2/2018 12:45', False),
 ('1/2/2018 13:00', False),
 ('1/2/2018 13:15', False),
 ('1/2/2018 13:30', False),
 ('1/2/2018 13:45', True),
 ('1/2/2018 14:00', False),
 ('1/2/2018 14:15', False),
 ('1/2/2018 14:30', True),
 ('1/2/2018 14:45', False),
 ('1/2/2018 15:00', False),
 ('1/2/2018 15:15', False),
 ('1/2/2018 15:30', False),
 ('1/2/2018 15:45', True),
 ('1/2/2018 16:00', False),
 ('1/2/2018 16:15', False),
 ('1/2/2018 16:30', False),
 ('1/2/2018 16:45', False),
 ('1/2/2018 17:00', False),
 ('1/2/2018 17:15', False),
 ('1/2/2018 17:30', False),
 ('1/2/2018 17:45', True),
 ('1/2/2018 18:00', False),
 ('1/2/2018 18:15', False),
 ('1/2/2018 18:30', False),
 ('1/2/2018 18:45', True),
 ('1/2/2018 19:00', True),
 ('1/2/2018 19:15', True),
 ('1/2/2018 19:30', True),
 ('1/2/2018 19:45', False),
 ('1/2/2018 20:00', False),
 ('1/2/2018 20:15', False),
 ('1/2/2018 20:30', False),
 ('1/2/2018 20:45', False),
 ('1/2/2018 21:00', False),
 ('1/2/2018 21:15', True),
 ('1/2/2018 21:30', True),
 ('1/2/2018 21:45', False),
 ('1/2/2018 22:00', False),
 ('1/2/2018 22:15', True),
 ('1/2/2018 22:30', False),
 ('1/2/2018 22:45', False),
 ('1/2/2018 23:00', False),
 ('1/2/2018 23:15', False),
 ('1/2/2018 23:30', False),
 ('1/2/2018 23:45', False),
 ('1/3/2018 0:00', False),
 ('1/3/2018 0:15', False),
 ('1/3/2018 0:30', False),
 ('1/3/2018 0:45', False),
 ('1/3/2018 1:00', False),
 ('1/3/2018 1:15', True),
 ('1/3/2018 1:30', False),
 ('1/3/2018 1:45', False),
 ('1/3/2018 2:00', True),
 ('1/3/2018 2:15', True),
 ('1/3/2018 2:30', False),
 ('1/3/2018 2:45', False),
 ('1/3/2018 3:00', True),
 ('1/3/2018 3:15', True),
 ('1/3/2018 3:30', True),
 ('1/3/2018 3:45', False),
 ('1/3/2018 4:00', True),
 ('1/3/2018 4:15', True),
 ('1/3/2018 4:30', False),
 ('1/3/2018 4:45', False),
 ('1/3/2018 5:00', True),
 ('1/3/2018 5:15', True),
 ('1/3/2018 5:30', False),
 ('1/3/2018 5:45', True),
 ('1/3/2018 6:00', False),
 ('1/3/2018 6:15', True),
 ('1/3/2018 6:30', False),
 ('1/3/2018 6:45', False),
 ('1/3/2018 7:00', False),
 ('1/3/2018 7:15', False),
 ('1/3/2018 7:30', False),
 ('1/3/2018 7:45', False),
 ('1/3/2018 8:00', False),
 ('1/3/2018 8:15', False),
 ('1/3/2018 8:30', False),
 ('1/3/2018 8:45', False),
 ('1/3/2018 9:00', False),
 ('1/3/2018 9:15', False),
 ('1/3/2018 9:30', True),
 ('1/3/2018 9:45', False),
 ('1/3/2018 10:00', True),
 ('1/3/2018 10:15', False),
 ('1/3/2018 10:30', True),
 ('1/3/2018 10:45', False),
 ('1/3/2018 11:00', False),
 ('1/3/2018 11:15', True),
 ('1/3/2018 11:30', False),
 ('1/3/2018 11:45', False),
 ('1/3/2018 12:00', False),
 ('1/3/2018 12:15', False),
 ('1/3/2018 12:30', False),
 ('1/3/2018 12:45', False),
 ('1/3/2018 13:00', False),
 ('1/3/2018 13:15', False),
 ('1/3/2018 13:30', False),
 ('1/3/2018 13:45', False),
 ('1/3/2018 14:00', False),
 ('1/3/2018 14:15', False),
 ('1/3/2018 14:30', False),
 ('1/3/2018 14:45', False),
 ('1/3/2018 15:00', True),
 ('1/3/2018 15:15', False),
 ('1/3/2018 15:30', False),
 ('1/3/2018 15:45', False),
 ('1/3/2018 16:00', False),
 ('1/3/2018 16:15', False),
 ('1/3/2018 16:30', False),
 ('1/3/2018 16:45', True),
 ('1/3/2018 17:00', True),
 ('1/3/2018 17:15', False),
 ('1/3/2018 17:30', False),
 ('1/3/2018 17:45', False),
 ('1/3/2018 18:00', False),
 ('1/3/2018 18:15', False),
 ('1/3/2018 18:30', True),
 ('1/3/2018 18:45', False),
 ('1/3/2018 19:00', False),
 ('1/3/2018 19:15', False),
 ('1/3/2018 19:30', False),
 ('1/3/2018 19:45', False),
 ('1/3/2018 20:00', True),
 ('1/3/2018 20:15', False),
 ('1/3/2018 20:30', False),
 ('1/3/2018 20:45', True),
 ('1/3/2018 21:00', False),
 ('1/3/2018 21:15', False),
 ('1/3/2018 21:30', False),
 ('1/3/2018 21:45', False),
 ('1/3/2018 22:00', False),
 ('1/3/2018 22:15', True),
 ('1/3/2018 22:30', False),
 ('1/3/2018 22:45', False),
 ('1/3/2018 23:00', False),
 ('1/3/2018 23:15', True),
 ('1/3/2018 23:30', True),
 ('1/3/2018 23:45', True),
 ('1/4/2018 0:00', True),
 ('1/4/2018 0:15', False),
 ('1/4/2018 0:30', False),
 ('1/4/2018 0:45', False),
 ('1/4/2018 1:00', False),
 ('1/4/2018 1:15', True),
 ('1/4/2018 1:30', False),
 ('1/4/2018 1:45', False),
 ('1/4/2018 2:00', True),
 ('1/4/2018 2:15', True),
 ('1/4/2018 2:30', True),
 ('1/4/2018 2:45', False),
 ('1/4/2018 3:00', False),
 ('1/4/2018 3:15', True),
 ('1/4/2018 3:30', True),
 ('1/4/2018 3:45', False),
 ('1/4/2018 4:00', False),
 ('1/4/2018 4:15', False),
 ('1/4/2018 4:30', False),
 ('1/4/2018 4:45', False),
 ('1/4/2018 5:00', True),
 ('1/4/2018 5:15', False),
 ('1/4/2018 5:30', True),
 ('1/4/2018 5:45', False),
 ('1/4/2018 6:00', False),
 ('1/4/2018 6:15', False),
 ('1/4/2018 6:30', False),
 ('1/4/2018 6:45', False),
 ('1/4/2018 7:00', False),
 ('1/4/2018 7:15', False),
 ('1/4/2018 7:30', False),
 ('1/4/2018 7:45', False),
 ('1/4/2018 8:00', False),
 ('1/4/2018 8:15', False),
 ('1/4/2018 8:30', False),
 ('1/4/2018 8:45', False),
 ('1/4/2018 9:00', True),
 ('1/4/2018 9:15', False),
 ('1/4/2018 9:30', False),
 ('1/4/2018 9:45', False),
 ('1/4/2018 10:00', False),
 ('1/4/2018 10:15', False),
 ('1/4/2018 10:30', False),
 ('1/4/2018 10:45', False),
 ('1/4/2018 11:00', False),
 ('1/4/2018 11:15', False),
 ('1/4/2018 11:30', False),
 ('1/4/2018 11:45', False),
 ('1/4/2018 12:00', False),
 ('1/4/2018 12:15', False),
 ('1/4/2018 12:30', False),
 ('1/4/2018 12:45', False),
 ('1/4/2018 13:00', False),
 ('1/4/2018 13:15', False),
 ('1/4/2018 13:30', False),
 ('1/4/2018 13:45', False),
 ('1/4/2018 14:00', False),
 ('1/4/2018 14:15', False),
 ('1/4/2018 14:30', False),
 ('1/4/2018 14:45', False),
 ('1/4/2018 15:00', False),
 ('1/4/2018 15:15', False),
 ('1/4/2018 15:30', True),
 ('1/4/2018 15:45', False),
 ('1/4/2018 16:00', False),
 ('1/4/2018 16:15', False),
 ('1/4/2018 16:30', False),
 ('1/4/2018 16:45', False),
 ('1/4/2018 17:00', False),
 ('1/4/2018 17:15', False),
 ('1/4/2018 17:30', True),
 ('1/4/2018 17:45', True),
 ('1/4/2018 18:00', False),
 ('1/4/2018 18:15', False),
 ('1/4/2018 18:30', False),
 ('1/4/2018 18:45', False),
 ('1/4/2018 19:00', False),
 ('1/4/2018 19:15', False),
 ('1/4/2018 19:30', True),
 ('1/4/2018 19:45', False),
 ('1/4/2018 20:00', False),
 ('1/4/2018 20:15', False),
 ('1/4/2018 20:30', False),
 ('1/4/2018 20:45', False),
 ('1/4/2018 21:00', False),
 ('1/4/2018 21:15', False),
 ('1/4/2018 21:30', False),
 ('1/4/2018 21:45', True),
 ('1/4/2018 22:00', True),
 ('1/4/2018 22:15', False),
 ('1/4/2018 22:30', False),
 ('1/4/2018 22:45', False),
 ('1/4/2018 23:00', True),
 ('1/4/2018 23:15', False),
 ('1/4/2018 23:30', False),
 ('1/4/2018 23:45', False),
 ('1/5/2018 0:00', False),
 ('1/5/2018 0:15', True),
 ('1/5/2018 0:30', True),
 ('1/5/2018 0:45', False),
 ('1/5/2018 1:00', False),
 ('1/5/2018 1:15', False),
 ('1/5/2018 1:30', False),
 ('1/5/2018 1:45', True),
 ('1/5/2018 2:00', False),
 ('1/5/2018 2:15', False),
 ('1/5/2018 2:30', False),
 ('1/5/2018 2:45', True),
 ('1/5/2018 3:00', True),
 ('1/5/2018 3:15', True),
 ('1/5/2018 3:30', False),
 ('1/5/2018 3:45', True),
 ('1/5/2018 4:00', False),
 ('1/5/2018 4:15', False),
 ('1/5/2018 4:30', True),
 ('1/5/2018 4:45', False),
 ('1/5/2018 5:00', False),
 ('1/5/2018 5:15', False),
 ('1/5/2018 5:30', True),
 ('1/5/2018 5:45', True),
 ('1/5/2018 6:00', False),
 ('1/5/2018 6:15', False),
 ('1/5/2018 6:30', False),
 ('1/5/2018 6:45', True),
 ('1/5/2018 7:00', False),
 ('1/5/2018 7:15', False),
 ('1/5/2018 7:30', False),
 ('1/5/2018 7:45', True),
 ('1/5/2018 8:00', False),
 ('1/5/2018 8:15', False),
 ('1/5/2018 8:30', False),
 ('1/5/2018 8:45', False),
 ('1/5/2018 9:00', False),
 ('1/5/2018 9:15', False),
 ('1/5/2018 9:30', False),
 ('1/5/2018 9:45', True),
 ('1/5/2018 10:00', False),
 ('1/5/2018 10:15', False),
 ('1/5/2018 10:30', False),
 ('1/5/2018 10:45', False),
 ('1/5/2018 11:00', False),
 ('1/5/2018 11:15', False),
 ('1/5/2018 11:30', False),
 ('1/5/2018 11:45', False),
 ('1/5/2018 12:00', False),
 ('1/5/2018 12:15', False),
 ('1/5/2018 12:30', False),
 ('1/5/2018 12:45', False),
 ('1/5/2018 13:00', False),
 ('1/5/2018 13:15', False),
 ('1/5/2018 13:30', True),
 ('1/5/2018 13:45', False),
 ('1/5/2018 14:00', False),
 ('1/5/2018 14:15', False),
 ('1/5/2018 14:30', True),
 ('1/5/2018 14:45', False),
 ('1/5/2018 15:00', False),
 ('1/5/2018 15:15', False),
 ('1/5/2018 15:30', False),
 ('1/5/2018 15:45', True),
 ('1/5/2018 16:00', True),
 ('1/5/2018 16:15', False),
 ('1/5/2018 16:30', True),
 ('1/5/2018 16:45', True),
 ('1/5/2018 17:00', True),
 ('1/5/2018 17:15', False),
 ('1/5/2018 17:30', False),
 ('1/5/2018 17:45', True),
 ('1/5/2018 18:00', False),
 ('1/5/2018 18:15', True),
 ('1/5/2018 18:30', False),
 ('1/5/2018 18:45', False),
 ('1/5/2018 19:00', True),
 ('1/5/2018 19:15', True),
 ('1/5/2018 19:30', False),
 ('1/5/2018 19:45', False),
 ('1/5/2018 20:00', False),
 ('1/5/2018 20:15', True),
 ('1/5/2018 20:30', True),
 ('1/5/2018 20:45', False),
 ('1/5/2018 21:00', False),
 ('1/5/2018 21:15', False),
 ('1/5/2018 21:30', False),
 ('1/5/2018 21:45', True),
 ('1/5/2018 22:00', False),
 ('1/5/2018 22:15', False),
 ('1/5/2018 22:30', False),
 ('1/5/2018 22:45', False),
 ('1/5/2018 23:00', False),
 ('1/5/2018 23:15', False),
 ('1/5/2018 23:30', False),
 ('1/5/2018 23:45', False),
 ('1/6/2018 0:00', False),
 ('1/6/2018 0:15', False),
 ('1/6/2018 0:30', False),
 ('1/6/2018 0:45', False),
 ('1/6/2018 1:00', False),
 ('1/6/2018 1:15', False),
 ('1/6/2018 1:30', False),
 ('1/6/2018 1:45', True),
 ('1/6/2018 2:00', False),
 ('1/6/2018 2:15', True),
 ('1/6/2018 2:30', False),
 ('1/6/2018 2:45', True),
 ('1/6/2018 3:00', True),
 ('1/6/2018 3:15', False),
 ('1/6/2018 3:30', False),
 ('1/6/2018 3:45', False),
 ('1/6/2018 4:00', False),
 ('1/6/2018 4:15', False),
 ('1/6/2018 4:30', False),
 ('1/6/2018 4:45', True),
 ('1/6/2018 5:00', True),
 ('1/6/2018 5:15', False),
 ('1/6/2018 5:30', True),
 ('1/6/2018 5:45', False),
 ('1/6/2018 6:00', True),
 ('1/6/2018 6:15', False),
 ('1/6/2018 6:30', False),
 ('1/6/2018 6:45', False),
 ('1/6/2018 7:00', True),
 ('1/6/2018 7:15', False),
 ('1/6/2018 7:30', False),
 ('1/6/2018 7:45', False),
 ('1/6/2018 8:00', False),
 ('1/6/2018 8:15', True),
 ('1/6/2018 8:30', True),
 ('1/6/2018 8:45', False),
 ('1/6/2018 9:00', True),
 ('1/6/2018 9:15', False),
 ('1/6/2018 9:30', False),
 ('1/6/2018 9:45', False),
 ('1/6/2018 10:00', True),
 ('1/6/2018 10:15', False),
 ('1/6/2018 10:30', False),
 ('1/6/2018 10:45', True),
 ('1/6/2018 11:00', True),
 ('1/6/2018 11:15', False),
 ('1/6/2018 11:30', True),
 ('1/6/2018 11:45', False),
 ('1/6/2018 12:00', False),
 ('1/6/2018 12:15', False),
 ('1/6/2018 12:30', True),
 ('1/6/2018 12:45', False),
 ('1/6/2018 13:00', False),
 ('1/6/2018 13:15', False),
 ('1/6/2018 13:30', True),
 ('1/6/2018 13:45', False),
 ('1/6/2018 14:00', False),
 ('1/6/2018 14:15', False),
 ('1/6/2018 14:30', False),
 ('1/6/2018 14:45', False),
 ('1/6/2018 15:00', False),
 ('1/6/2018 15:15', True),
 ('1/6/2018 15:30', False),
 ('1/6/2018 15:45', False),
 ('1/6/2018 16:00', False),
 ('1/6/2018 16:15', False),
 ('1/6/2018 16:30', False),
 ('1/6/2018 16:45', False),
 ('1/6/2018 17:00', True),
 ('1/6/2018 17:15', False),
 ('1/6/2018 17:30', False),
 ('1/6/2018 17:45', False),
 ('1/6/2018 18:00', False),
 ('1/6/2018 18:15', False),
 ('1/6/2018 18:30', True),
 ('1/6/2018 18:45', False),
 ('1/6/2018 19:00', False),
 ('1/6/2018 19:15', False),
 ('1/6/2018 19:30', True),
 ('1/6/2018 19:45', False),
 ('1/6/2018 20:00', False),
 ('1/6/2018 20:15', False),
 ('1/6/2018 20:30', False),
 ('1/6/2018 20:45', False),
 ('1/6/2018 21:00', False),
 ('1/6/2018 21:15', False),
 ('1/6/2018 21:30', True),
 ('1/6/2018 21:45', False),
 ('1/6/2018 22:00', False),
 ('1/6/2018 22:15', False),
 ('1/6/2018 22:30', False),
 ('1/6/2018 22:45', False),
 ('1/6/2018 23:00', False),
 ('1/6/2018 23:15', False),
 ('1/6/2018 23:30', False),
 ('1/6/2018 23:45', False),
 ('1/7/2018 0:00', True),
 ('1/7/2018 0:15', True),
 ('1/7/2018 0:30', False),
 ('1/7/2018 0:45', True),
 ('1/7/2018 1:00', False),
 ('1/7/2018 1:15', False),
 ('1/7/2018 1:30', False),
 ('1/7/2018 1:45', False),
 ('1/7/2018 2:00', True),
 ('1/7/2018 2:15', False),
 ('1/7/2018 2:30', False),
 ('1/7/2018 2:45', True),
 ('1/7/2018 3:00', False),
 ('1/7/2018 3:15', False),
 ('1/7/2018 3:30', False),
 ('1/7/2018 3:45', True),
 ('1/7/2018 4:00', False),
 ('1/7/2018 4:15', False),
 ('1/7/2018 4:30', False),
 ('1/7/2018 4:45', True),
 ('1/7/2018 5:00', False),
 ('1/7/2018 5:15', False),
 ('1/7/2018 5:30', False),
 ('1/7/2018 5:45', False),
 ('1/7/2018 6:00', False),
 ('1/7/2018 6:15', True),
 ('1/7/2018 6:30', False),
 ('1/7/2018 6:45', False),
 ('1/7/2018 7:00', False),
 ('1/7/2018 7:15', True),
 ('1/7/2018 7:30', True),
 ('1/7/2018 7:45', False),
 ('1/7/2018 8:00', False),
 ('1/7/2018 8:15', False),
 ('1/7/2018 8:30', True),
 ('1/7/2018 8:45', False),
 ('1/7/2018 9:00', False),
 ('1/7/2018 9:15', False),
 ('1/7/2018 9:30', False),
 ('1/7/2018 9:45', False),
 ('1/7/2018 10:00', False),
 ('1/7/2018 10:15', False),
 ('1/7/2018 10:30', False),
 ('1/7/2018 10:45', False),
 ('1/7/2018 11:00', True),
 ('1/7/2018 11:15', False),
 ('1/7/2018 11:30', False),
 ('1/7/2018 11:45', True),
 ('1/7/2018 12:00', True),
 ('1/7/2018 12:15', False),
 ('1/7/2018 12:30', False),
 ('1/7/2018 12:45', False),
 ('1/7/2018 13:00', False),
 ('1/7/2018 13:15', True),
 ('1/7/2018 13:30', False),
 ('1/7/2018 13:45', False),
 ('1/7/2018 14:00', False),
 ('1/7/2018 14:15', True),
 ('1/7/2018 14:30', False),
 ('1/7/2018 14:45', True),
 ('1/7/2018 15:00', False),
 ('1/7/2018 15:15', False),
 ('1/7/2018 15:30', False),
 ('1/7/2018 15:45', True),
 ('1/7/2018 16:00', True),
 ('1/7/2018 16:15', False),
 ('1/7/2018 16:30', True),
 ('1/7/2018 16:45', False),
 ('1/7/2018 17:00', False),
 ('1/7/2018 17:15', False),
 ('1/7/2018 17:30', True),
 ('1/7/2018 17:45', False),
 ('1/7/2018 18:00', True),
 ('1/7/2018 18:15', False),
 ('1/7/2018 18:30', False),
 ('1/7/2018 18:45', False),
 ('1/7/2018 19:00', True),
 ('1/7/2018 19:15', True),
 ('1/7/2018 19:30', False),
 ('1/7/2018 19:45', False),
 ('1/7/2018 20:00', True),
 ('1/7/2018 20:15', False),
 ('1/7/2018 20:30', False),
 ('1/7/2018 20:45', True),
 ('1/7/2018 21:00', False),
 ('1/7/2018 21:15', False),
 ('1/7/2018 21:30', False),
 ('1/7/2018 21:45', True),
 ('1/7/2018 22:00', False),
 ('1/7/2018 22:15', False),
 ('1/7/2018 22:30', False),
 ('1/7/2018 22:45', False),
 ('1/7/2018 23:00', False),
 ('1/7/2018 23:15', False),
 ('1/7/2018 23:30', False),
 ('1/7/2018 23:45', False),
 ('1/8/2018 0:00', False),
 ('1/8/2018 0:15', False),
 ('1/8/2018 0:30', True),
 ('1/8/2018 0:45', True),
 ('1/8/2018 1:00', True),
 ('1/8/2018 1:15', True),
 ('1/8/2018 1:30', False),
 ('1/8/2018 1:45', True),
 ('1/8/2018 2:00', False),
 ('1/8/2018 2:15', False),
 ('1/8/2018 2:30', False),
 ('1/8/2018 2:45', False),
 ('1/8/2018 3:00', False),
 ('1/8/2018 3:15', False),
 ('1/8/2018 3:30', False),
 ('1/8/2018 3:45', False),
 ('1/8/2018 4:00', False),
 ('1/8/2018 4:15', True),
 ('1/8/2018 4:30', False),
 ('1/8/2018 4:45', True),
 ('1/8/2018 5:00', True),
 ('1/8/2018 5:15', True),
 ('1/8/2018 5:30', False),
 ('1/8/2018 5:45', True),
 ('1/8/2018 6:00', True),
 ('1/8/2018 6:15', False),
 ('1/8/2018 6:30', True),
 ('1/8/2018 6:45', False),
 ('1/8/2018 7:00', True),
 ('1/8/2018 7:15', True),
 ('1/8/2018 7:30', True),
 ('1/8/2018 7:45', False),
 ('1/8/2018 8:00', False),
 ('1/8/2018 8:15', False),
 ('1/8/2018 8:30', False),
 ('1/8/2018 8:45', False),
 ('1/8/2018 9:00', False),
 ('1/8/2018 9:15', True),
 ('1/8/2018 9:30', False),
 ('1/8/2018 9:45', False),
 ('1/8/2018 10:00', False),
 ('1/8/2018 10:15', False),
 ('1/8/2018 10:30', False),
 ('1/8/2018 10:45', True),
 ('1/8/2018 11:00', True),
 ('1/8/2018 11:15', False),
 ('1/8/2018 11:30', False),
 ('1/8/2018 11:45', False),
 ('1/8/2018 12:00', False),
 ('1/8/2018 12:15', False),
 ('1/8/2018 12:30', False),
 ('1/8/2018 12:45', True),
 ('1/8/2018 13:00', False),
 ('1/8/2018 13:15', False),
 ('1/8/2018 13:30', False),
 ('1/8/2018 13:45', False),
 ('1/8/2018 14:00', False),
 ('1/8/2018 14:15', False),
 ('1/8/2018 14:30', True),
 ('1/8/2018 14:45', False),
 ('1/8/2018 15:00', False),

In [146]:
data.reset_index(inplace=True)
data['date_time'] = pd.to_datetime(data['date_time'])

In [148]:
data['date'] = data['date_time'].dt.date

In [178]:
data

,date_time,occup,mean,max,min,std,date
0,2018-01-01 00:15:00,NaN,NaN,NaN,NaN,NaN,2018-01-01
1,2018-01-01 00:30:00,-23.660714,-6.955188,0.360706,-4.889473,-0.777300,2018-01-01
2,2018-01-01 00:45:00,-7.366071,-2.648785,-1.870731,0.986458,-0.566603,2018-01-01
3,2018-01-01 01:00:00,-1.339286,-0.915492,1.197716,1.525505,-1.179386,2018-01-01
4,2018-01-01 01:15:00,-1.116071,-0.428497,1.265636,-0.407257,-0.363478,2018-01-01
...,...,...,...,...,...,...,...
9995,2018-04-20 03:00:00,-9.619687,-4.659404,-0.086811,1.994270,-4.682489,2018-04-20
9996,2018-04-20 03:15:00,-6.935123,-3.547570,-0.097485,1.924316,-5.451742,2018-04-20
9997,2018-04-20 03:30:00,13.199105,7.420750,0.187580,-3.324951,9.391083,2018-04-20
9998,2018-04-20 03:45:00,1.789709,-0.855522,0.050594,1.510498,-0.344300,2018-04-20
9999,2018-04-20 04:00:00,-7.158837,-2.917724,-0.001495,-5.032707,-2.745542,2018-04-20

In [194]:
all_date = pd.date_range(start=data.date_time.min().date(), end=data.date_time.max().date())
all_date = [date.date() for date in all_date]

In [195]:
# all_date = [date.date().strftime('%Y-%m-%d') for date in all_date]

In [196]:
all_date

[datetime.date(2018, 1, 1),
 datetime.date(2018, 1, 2),
 datetime.date(2018, 1, 3),
 datetime.date(2018, 1, 4),
 datetime.date(2018, 1, 5),
 datetime.date(2018, 1, 6),
 datetime.date(2018, 1, 7),
 datetime.date(2018, 1, 8),
 datetime.date(2018, 1, 9),
 datetime.date(2018, 1, 10),
 datetime.date(2018, 1, 11),
 datetime.date(2018, 1, 12),
 datetime.date(2018, 1, 13),
 datetime.date(2018, 1, 14),
 datetime.date(2018, 1, 15),
 datetime.date(2018, 1, 16),
 datetime.date(2018, 1, 17),
 datetime.date(2018, 1, 18),
 datetime.date(2018, 1, 19),
 datetime.date(2018, 1, 20),
 datetime.date(2018, 1, 21),
 datetime.date(2018, 1, 22),
 datetime.date(2018, 1, 23),
 datetime.date(2018, 1, 24),
 datetime.date(2018, 1, 25),
 datetime.date(2018, 1, 26),
 datetime.date(2018, 1, 27),
 datetime.date(2018, 1, 28),
 datetime.date(2018, 1, 29),
 datetime.date(2018, 1, 30),
 datetime.date(2018, 1, 31),
 datetime.date(2018, 2, 1),
 datetime.date(2018, 2, 2),
 datetime.date(2018, 2, 3),
 datetime.date(2018, 2, 4),
 datetime.date(2018, 2, 5),
 datetime.date(2018, 2, 6),
 datetime.date(2018, 2, 7),
 datetime.date(2018, 2, 8),
 datetime.date(2018, 2, 9),
 datetime.date(2018, 2, 10),
 datetime.date(2018, 2, 11),
 datetime.date(2018, 2, 12),
 datetime.date(2018, 2, 13),
 datetime.date(2018, 2, 14),
 datetime.date(2018, 2, 15),
 datetime.date(2018, 2, 16),
 datetime.date(2018, 2, 17),
 datetime.date(2018, 2, 18),
 datetime.date(2018, 2, 19),
 datetime.date(2018, 2, 20),
 datetime.date(2018, 2, 21),
 datetime.date(2018, 2, 22),
 datetime.date(2018, 2, 23),
 datetime.date(2018, 2, 24),
 datetime.date(2018, 2, 25),
 datetime.date(2018, 2, 26),
 datetime.date(2018, 2, 27),
 datetime.date(2018, 2, 28),
 datetime.date(2018, 3, 1),
 datetime.date(2018, 3, 2),
 datetime.date(2018, 3, 3),
 datetime.date(2018, 3, 4),
 datetime.date(2018, 3, 5),
 datetime.date(2018, 3, 6),
 datetime.date(2018, 3, 7),
 datetime.date(2018, 3, 8),
 datetime.date(2018, 3, 9),
 datetime.date(2018, 3, 10),
 datetime.date(2018, 3, 11),
 datetime.date(2018, 3, 12),
 datetime.date(2018, 3, 13),
 datetime.date(2018, 3, 14),
 datetime.date(2018, 3, 15),
 datetime.date(2018, 3, 16),
 datetime.date(2018, 3, 17),
 datetime.date(2018, 3, 18),
 datetime.date(2018, 3, 19),
 datetime.date(2018, 3, 20),
 datetime.date(2018, 3, 21),
 datetime.date(2018, 3, 22),
 datetime.date(2018, 3, 23),
 datetime.date(2018, 3, 24),
 datetime.date(2018, 3, 25),
 datetime.date(2018, 3, 26),
 datetime.date(2018, 3, 27),
 datetime.date(2018, 3, 28),
 datetime.date(2018, 3, 29),
 datetime.date(2018, 3, 30),
 datetime.date(2018, 3, 31),
 datetime.date(2018, 4, 1),
 datetime.date(2018, 4, 2),
 datetime.date(2018, 4, 3),
 datetime.date(2018, 4, 4),
 datetime.date(2018, 4, 5),
 datetime.date(2018, 4, 6),
 datetime.date(2018, 4, 7),
 datetime.date(2018, 4, 8),
 datetime.date(2018, 4, 9),
 datetime.date(2018, 4, 10),
 datetime.date(2018, 4, 11),
 datetime.date(2018, 4, 12),
 datetime.date(2018, 4, 13),
 datetime.date(2018, 4, 14),
 datetime.date(2018, 4, 15),
 datetime.date(2018, 4, 16),
 datetime.date(2018, 4, 17),
 datetime.date(2018, 4, 18),
 datetime.date(2018, 4, 19),
 datetime.date(2018, 4, 20)]

In [202]:
data[data['date']==all_date[35]]

,date_time,occup,mean,max,min,std,date
3359,2018-02-05 00:00:00,7.503858,-1.587265,-3.628445,3.530952,-1.141994,2018-02-05
3360,2018-02-05 00:15:00,-3.262787,0.108352,2.988647,0.048523,-0.026874,2018-02-05
3361,2018-02-05 00:30:00,0.892857,0.169617,-1.349030,-0.164284,0.366396,2018-02-05
3362,2018-02-05 00:45:00,-9.821429,-2.938892,1.097691,-0.371155,-2.036516,2018-02-05
3363,2018-02-05 01:00:00,13.839286,4.960670,0.793285,-5.487045,3.783833,2018-02-05
...,...,...,...,...,...,...,...
3450,2018-02-05 22:45:00,-11.160714,-0.793579,-0.187416,0.910294,-0.477647,2018-02-05
3451,2018-02-05 23:00:00,0.446429,0.025168,0.229382,-0.187569,0.538158,2018-02-05
3452,2018-02-05 23:15:00,8.035714,1.138344,-0.074066,2.112198,0.308865,2018-02-05
3453,2018-02-05 23:30:00,-6.250000,-2.852532,-0.391628,-2.621803,-2.725638,2018-02-05
3454,2018-02-05 23:45:00,12.053571,6.155632,0.108356,4.723663,5.204496,2018-02-05

In [189]:
data['date'][0]

datetime.date(2018, 1, 1)

In [192]:
all_date[0].date()

datetime.date(2018, 1, 1)

In [112]:
df = data.copy()

In [113]:
df.reset_index(inplace=True)
df['date_time'] = pd.to_datetime(df['date_time'])

In [116]:
df['date'] = df['date_time'].dt.date

In [120]:
df.groupby('date')['date'].count()

date
2018-01-01    95
2018-01-02    96
2018-01-03    96
2018-01-04    96
2018-01-05    96
2018-01-06    96
2018-01-07    96
2018-01-08    96
2018-01-09    96
2018-01-10    96
2018-01-11    96
2018-01-12    96
2018-01-13    96
2018-01-14    96
2018-01-15    96
2018-01-16    96
2018-01-17    96
2018-01-18    96
2018-01-19    96
2018-01-20    96
2018-01-21    96
2018-01-22    96
2018-01-23    96
2018-01-24    96
2018-01-25    96
2018-01-26    96
2018-01-27    96
2018-01-28    96
2018-01-29    96
2018-01-30    96
2018-01-31    96
2018-02-01    96
2018-02-02    96
2018-02-03    96
2018-02-04    96
2018-02-05    96
2018-02-06    96
2018-02-07    96
2018-02-08    96
2018-02-09    96
2018-02-10    96
2018-02-11    96
2018-02-12    96
2018-02-13    96
2018-02-16    96
2018-02-17    96
2018-02-18    96
2018-02-19    96
2018-02-20    96
2018-02-21    96
2018-02-22    96
2018-02-23    96
2018-02-24     9
Name: date, dtype: int64