In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('MPS Borough Level Crime (most recent 24 months).csv')

In [5]:
df['202001'].max()

1550

In [7]:
df[df['202001']==1550]

,MajorText,MinorText,LookUp_BoroughName,202001,202002,202003,202004,202005,202006,202007,...,202103,202104,202105,202106,202107,202108,202109,202110,202111,202112
1545,Theft,Other Theft,Westminster,1550,1849,1044,131,183,302,732,...,233,463,633,876,1113,988,1041,1506,1422,1404