In [34]:
import pandas as pd
import requests
import csv

url = 'http://bexar.trueautomation.com/clientdb/Property.aspx?cid=110&prop_id=525041'
page = requests.get(url)

df = pd.read_html(url, match='Property ID')

# for i in df:
#     i.to_csv("bexar.csv", index = False)

In [35]:
data = df[0]

columns = data.iloc[:,0].to_list() + data.iloc[:,2].to_list()
row_value = data.iloc[:,1].to_list() + data.iloc[:,3].to_list()

In [36]:
df_all = pd.DataFrame([],columns=columns)
df_all.loc[len(df_all)] = row_value

In [37]:
df_all

,Account,Property ID:,Geographic ID:,Type:,Property Use Code:,Property Use Description:,Protest,Protest Status:,Informal Date:,Formal Date:,...,NaN,NaN,Location,Mapsco:,Map ID:,E-File Eligible,Owner,Owner ID:,% Ownership:,Exemptions:
0,Account,525041,13416-000-0060,Real,098,TRANSITIONAL USE,Protest,NaN,NaN,NaN,...,NaN,NaN,Location,616D5,NaN,E-File Eligible,Owner,3193041,100.0000000000%,NaN

In [29]:
len(df)

1

In [41]:
# Roll Value History


url = 'http://bexar.trueautomation.com/clientdb/Property.aspx?cid=110&prop_id=525041'
page = requests.get(url)

df = pd.read_html(url)

In [46]:
df[5]

    0     1            2         3              4           5        6
0 NaN  Type  Description  Class CD  Exterior Wall  Year Built     SQFT
1 NaN   400       OFFICE     C - A             BR        1976  25200.0

In [47]:
len(df)

15

In [52]:
df_values = df[1]
df_rollhistory = df[11]
df_property = df[0]