In [11]:
import pandas as pd
import os

In [14]:
ex_path = "D:\OneDrive - NITT\Custom_Download\dataset_onedrive\external"

path_ita = os.path.join(ex_path,"parlamentariITA.dta")
path_name = os.path.join(ex_path,"names_with_id.xlsx")

In [16]:
df_ita = pd.read_stata(path_ita)
df_name = pd.read_excel(path_name)

In [17]:
df_ita

,id,year,lex,house,circoscrizione,regione,party,party_cod,group,changegroup,...,party_recoded,Linennita_netta_eu05,Lincparl_eu05_net,Lincparl_round_eu05_net,Lextra_round_eu05,Lextra_positive,censored,censored_house,jobentry_recoded,jobexit_recoded
0,1,1963.0,4.0,1,Lecce,15.0,PSI,PSI,PSI,1.0,...,PSI,8162,0.000000,0.0,NaN,NaN,0.0,0.0,11.0,NaN
1,1,1964.0,4.0,1,Lecce,15.0,PSI,PSI,PSI,1.0,...,PSI,7591,4762.572266,4763.0,NaN,NaN,0.0,0.0,11.0,NaN
2,1,1965.0,4.0,1,Lecce,15.0,PSI,PSI,PSI,1.0,...,PSI,7166,7166.000000,7166.0,NaN,NaN,0.0,0.0,11.0,NaN
3,1,1966.0,4.0,1,Lecce,15.0,PSI,PSI,PSI,1.0,...,PSI,34075,34075.000000,34075.0,NaN,NaN,0.0,0.0,11.0,NaN
4,1,1967.0,4.0,1,Lecce,15.0,PSI,PSI,PSI,1.0,...,PSI,60080,60080.000000,60080.0,NaN,NaN,0.0,0.0,11.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52479,4466,1983.0,9.0,1,Lecce,15.0,DC,DC,DC,0.0,...,DC,45971,45971.000000,45971.0,3239.0,1.0,0.0,0.0,140.0,NaN
52480,4466,1984.0,9.0,1,Lecce,15.0,DC,DC,DC,0.0,...,DC,46097,45844.414062,45844.0,17411.0,1.0,0.0,0.0,140.0,NaN
52481,4466,1985.0,9.0,1,Lecce,15.0,DC,DC,DC,0.0,...,DC,60385,60385.000000,60385.0,30786.0,1.0,0.0,0.0,140.0,NaN
52482,4466,1986.0,9.0,1,Lecce,15.0,DC,DC,DC,0.0,...,DC,56600,56600.000000,56600.0,45816.0,1.0,0.0,0.0,140.0,NaN
52483,4466,1987.0,9.0,1,Lecce,15.0,DC,DC,DC,0.0,...,DC,66596,66596.000000,66596.0,NaN,NaN,0.0,0.0,140.0,NaN

In [18]:
df_name

        id                               name
0        1    abate                    cosimo
1        2   abaterusso               ernesto
2        3   abbatangelo              massimo
3        4  abbate                   fabrizio
4        5   abbate                   michele
...    ...                                ...
4461  4462   zuin                     michele
4462  4463   zunino                   massimo
4463  4464     zuppante                 luigi
4464  4465   zurlini                  umberto
4465  4466  zurlo                    giuseppe

[4466 rows x 2 columns]

In [20]:
df_merged = df_ita.merge(df_name,left_on='id', right_on='id')

In [21]:
df_merged

,id,year,lex,house,circoscrizione,regione,party,party_cod,group,changegroup,...,Linennita_netta_eu05,Lincparl_eu05_net,Lincparl_round_eu05_net,Lextra_round_eu05,Lextra_positive,censored,censored_house,jobentry_recoded,jobexit_recoded,name
0,1,1963.0,4.0,1,Lecce,15.0,PSI,PSI,PSI,1.0,...,8162,0.000000,0.0,NaN,NaN,0.0,0.0,11.0,NaN,abate cosimo
1,1,1964.0,4.0,1,Lecce,15.0,PSI,PSI,PSI,1.0,...,7591,4762.572266,4763.0,NaN,NaN,0.0,0.0,11.0,NaN,abate cosimo
2,1,1965.0,4.0,1,Lecce,15.0,PSI,PSI,PSI,1.0,...,7166,7166.000000,7166.0,NaN,NaN,0.0,0.0,11.0,NaN,abate cosimo
3,1,1966.0,4.0,1,Lecce,15.0,PSI,PSI,PSI,1.0,...,34075,34075.000000,34075.0,NaN,NaN,0.0,0.0,11.0,NaN,abate cosimo
4,1,1967.0,4.0,1,Lecce,15.0,PSI,PSI,PSI,1.0,...,60080,60080.000000,60080.0,NaN,NaN,0.0,0.0,11.0,NaN,abate cosimo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52479,4466,1983.0,9.0,1,Lecce,15.0,DC,DC,DC,0.0,...,45971,45971.000000,45971.0,3239.0,1.0,0.0,0.0,140.0,NaN,zurlo giuseppe
52480,4466,1984.0,9.0,1,Lecce,15.0,DC,DC,DC,0.0,...,46097,45844.414062,45844.0,17411.0,1.0,0.0,0.0,140.0,NaN,zurlo giuseppe
52481,4466,1985.0,9.0,1,Lecce,15.0,DC,DC,DC,0.0,...,60385,60385.000000,60385.0,30786.0,1.0,0.0,0.0,140.0,NaN,zurlo giuseppe
52482,4466,1986.0,9.0,1,Lecce,15.0,DC,DC,DC,0.0,...,56600,56600.000000,56600.0,45816.0,1.0,0.0,0.0,140.0,NaN,zurlo giuseppe
52483,4466,1987.0,9.0,1,Lecce,15.0,DC,DC,DC,0.0,...,66596,66596.000000,66596.0,NaN,NaN,0.0,0.0,140.0,NaN,zurlo giuseppe