In [4]:
import pandas as pd
import math

In [5]:
df = pd.read_csv('D:\OneDrive - NITT\Custom_Download\MCA-1st + 2nd Yr - mca-lab-python.csv')

In [8]:
df['Total'] = df['new']

In [12]:
df = df.sort_values('Total',ascending=False)

In [16]:
df['Total'].mean()

69.91228070175438

In [18]:
df.to_csv('new.csv',index=False)

In [7]:
df = df.drop('Unnamed: 6',axis=1)

In [14]:
df.dropna(inplace=True)

In [17]:
df['CT1'] = df['Lab Activities (50)'].values*.4//1

In [19]:
df['Lab Activities (50)'] = df['Lab Activities (50)'] - df['CT1']

In [22]:
df.rename(columns={"Evaluation-1 (20)": "Evaluation-2 (20)"},inplace=True)

In [24]:
df.rename(columns={"Lab Activities (50)": "Lab Activities (30)","CT1": "Evaluation-1 (20)"},inplace=True)

In [27]:
df.drop('sum1(eval+end_sem)',axis=True,inplace=True)

In [29]:
list(df)

['Roll_number',
 'Lab Activities (30)',
 'Evaluation-2 (20)',
 'End-Sem Lab(30)',
 'Total',
 'Evaluation-1 (20)']

In [31]:
df = df[['Roll_number','Lab Activities (30)','Evaluation-1 (20)','Evaluation-2 (20)','End-Sem Lab(30)','Total']]

In [36]:
df['T'] = df[['Lab Activities (30)','Evaluation-1 (20)','Evaluation-2 (20)','End-Sem Lab(30)']].sum(axis=1)

C:\Users\avitr\AppData\Local\Temp\ipykernel_5164\858631113.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['T'] = df[['Lab Activities (30)','Evaluation-1 (20)','Evaluation-2 (20)','End-Sem Lab(30)']].sum(axis=1)

In [38]:
df = df.drop('T',axis=1)

In [40]:
df.to_csv('mca_lab_v1.csv',index=False)