In [1]:
import pandas as pd

In [2]:
install_df = pd.read_csv('newdata.csv')

In [5]:
install_df.dtypes

Unnamed: 0      int64
event_id       object
distinct_id    object
timestamp      object
uuid           object
dtype: object

In [6]:
install_df['timestamp'] = pd.to_datetime(install_df['timestamp']) 
install_df['month'] = install_df['timestamp'].dt.month
install_df['day'] = install_df['timestamp'].dt.day

In [7]:
def get_week(x):
    if 1<=x<=7:
        return 1
    elif 8<=x<=14:
        return 2
    elif 15<=x<=21:
        return 3
    else:
        return 4

In [8]:
install_df['week'] = install_df['day'].apply(lambda x: get_week(x))

In [9]:
install_df

,Unnamed: 0,event_id,distinct_id,timestamp,uuid,month,day,week
0,0,0180d84a-c057-0000-a57d-280a72ad36c0,66b0eee39fdd329a56354dada74f432ef42ed167e57584...,2022-05-18 17:50:17,c7df8b9ae11c9c25ac098610e8d41c2c9a931dc9ad4ec0...,5,18,3
1,1,0180d84d-a712-0002-596f-9b14a1102ae6,5b90b1af800a7a073bac5fd681d08ff67fb1080d50d695...,2022-05-18 17:53:27,3e97af5d54a450fb1df0ce7726b3e650ea6796c19f2647...,5,18,3
2,2,0180d85f-f304-0000-cca2-9b5599534f0d,747c4a37b455c1fbb04744374105a1227b4e8df150309c...,2022-05-18 18:13:27,76a3f1b4c8890a0b2c3d9f97959a87a3adb58dd998462d...,5,18,3
3,3,0180d860-0a61-0002-5c7b-b3807a4158ea,747c4a37b455c1fbb04744374105a1227b4e8df150309c...,2022-05-18 18:13:33,76a3f1b4c8890a0b2c3d9f97959a87a3adb58dd998462d...,5,18,3
4,4,0180d85c-c18d-0001-5063-f69092641862,4e9f0301ec6971bd84862a93b8ceb48f5f55c910a07cf1...,2022-05-18 18:09:57,fdd8b478246bce03a29b4111eb729c8a091ec8bb47c72b...,5,18,3
...,...,...,...,...,...,...,...,...
7541,7541,01816cc0-bb25-0002-5895-19523211ad0a,41cbd12abfbeceec082d40a303a7b5db892cf1d81b12ee...,2022-06-16 13:42:57,f4cd860c696c965de9857f5cfe900ac0488b288ac69160...,6,16,3
7542,7542,01816afc-c8de-0000-60a5-84569bc1e976,77ad0db1cb59f86b122cad413abd36667e1b4c1fa4e9e4...,2022-06-16 05:29:18,6b49e7c38a0975fe475cf263ddcb800ce0e31c4555f579...,6,16,3
7543,7543,01816b11-65d1-0000-d95b-bdd6ea6c8a66,4cd0a49abdc54a65089bb40aae919d283be1af49a3a0a4...,2022-06-16 05:51:48,daa8371898b95bb7b033c53def681b613c01291b265989...,6,16,3
7544,7544,01816e6b-1765-0000-df61-ca50b11a8b84,74b81f81e36a671511bbea7bc91b640650983539cecfaf...,2022-06-16 21:28:38,5ee033f49b3b4b818c6043b0cb6b472896610bf6e2e0c8...,6,16,3
7545,7545,01816b50-3ae1-0000-d5e3-976d2d79aa17,9c51ca942621d5fcd8c48d7e036d9f5ffc04c0668572f6...,2022-06-16 07:00:27,6d8d882275f61f620d9fb890301ca4e143dee5ba763f2e...,6,16,3

In [12]:
install_df['month'].unique()

array([5, 6], dtype=int64)

In [13]:
# Line graph for installation rate per week
# Installation rate = # of installations / # of new users

In [14]:
install_df.columns

Index(['Unnamed: 0', 'event_id', 'distinct_id', 'timestamp', 'uuid', 'month',
       'day', 'week'],
      dtype='object')

In [22]:
# use count() for no of installation
x = install_df[['uuid','month','week']].groupby(['month','week']).count() # nunique
x

            uuid
month week
5     3      785
      4     2199
6     1     2028
      2     1951
      3      583

In [23]:
# use nunique() for no of users
y = install_df[['uuid','month','week']].groupby(['month','week']).nunique()
y

            uuid
month week
5     3      738
      4     2060
6     1     1682
      2     1822
      3      531

In [28]:
x = x.reset_index()['uuid']

In [29]:
y = y.reset_index()['uuid']

In [30]:
x/y

0    1.063686
1    1.067476
2    1.205707
3    1.070801
4    1.097928
Name: uuid, dtype: float64