In [1]:
!pip install googlemaps

Requirement already satisfied: googlemaps in c:\users\avitr\anaconda3\lib\site-packages (4.6.0)

WARNING: Ignoring invalid distribution -rpcio (c:\users\avitr\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rpcio (c:\users\avitr\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rpcio (c:\users\avitr\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rpcio (c:\users\avitr\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rpcio (c:\users\avitr\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rpcio (c:\users\avitr\anaconda3\lib\site-packages)

Requirement already satisfied: requests<3.0,>=2.20.0 in c:\users\avitr\anaconda3\lib\site-packages (from googlemaps) (2.27.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\avitr\anaconda3\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (1.26.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\avitr\anaconda3\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in c:\users\avitr\anaconda3\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\avitr\anaconda3\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (2021.10.8)

In [2]:
import pandas as pd

In [62]:
supplier='Nestle'
date='2022-05'

In [63]:
import googlemaps
gmaps = googlemaps.Client(key='--------')

In [64]:
def calculate_dist(a,b):
    dist = gmaps.distance_matrix(a,b)['rows'][0]['elements'][0]
    if dist['status']=='OK':
        return dist['distance']['value']/1000
    else:
        return 0

In [65]:
import warnings
warnings.filterwarnings('ignore')

df = pd.read_csv('monthly_volume_0611.csv')


df.drop(df[df['distributor_name'] == "TestWD"].index, inplace = True)
df.drop(df[df['customer_name'] == "Bankers Hill Food"].index, inplace = True)
df.drop(df[df['customer_name'] == "Shahi Feed"].index, inplace = True)
df.drop(df[df['customer_name'] == "Alpha FMCG Pvt. Ltd."].index, inplace = True)


import numpy as np
df.customer_name=df['customer_name'].str.strip()
df.distributor_name=df['distributor_name'].str.strip()
df.loc[(df.distributor_name == "Ghaziabad Warehouse") & (df.customer_name == "ITC Ltd.") , 'customer_name'] = "ITC DEL"
df.loc[(df.distributor_name == "Hamidpur Warehouse") & (df.customer_name == "ITC Ltd.") , 'customer_name'] = "ITC DEL"
df.loc[(df.distributor_name == "Hassangarh Warehouse") & (df.customer_name == "ITC Ltd.") , 'customer_name'] = "ITC DEL"
df.loc[(df.distributor_name == "Hassangarh Warehouse") & (df.customer_name == "ITC Ltd. Haryana") , 'customer_name'] = "ITC DEL"
df.loc[(df.distributor_name == "MJ Warehousing Pvt Ltd") & (df.customer_name == "ITC Ltd. Haryana") , 'customer_name'] = "ITC DEL"
df.loc[(df.distributor_name == "MJ Warehousing Pvt Ltd") & (df.customer_name == "ITC Ltd.") , 'customer_name'] = "ITC DEL"
df.loc[(df.customer_name == "ITC Ltd. FBD") , 'customer_name'] = "ITC DEL"
df.loc[(df.distributor_name == "Sourcewell Agro Foods Pvt Ltd") & (df.customer_name == "ITC Ltd.") , 'customer_name'] = "ITC FBD Sourcewell"
df.loc[(df.distributor_name == "01 Sourcewell Agro Foods Pvt Ltd") & (df.customer_name == "ITC Ltd.") , 'customer_name'] = "ITC FBD Sourcewell"
df.loc[(df.distributor_name == "Ambarnath Warehouse") & (df.customer_name == "ITC Ltd. Mumbai") , 'customer_name'] = "ITC MUM WH Ambernath"
df.loc[(df.distributor_name == "ITC Ray Road Warehouse") & (df.customer_name == "ITC Ltd. Mumbai") , 'customer_name'] = "ITC MUM WH Ray Road"
df.loc[(df.distributor_name == "Narela Warehouse") & (df.customer_name == "ITC Ltd.") , 'customer_name'] = "ITC DEL"
df.loc[(df.distributor_name == "Lucknow Warehouse") & (df.customer_name == "ITC Ltd. Lucknow") , 'customer_name'] = "ITC UP WH Lucknow"
df.loc[(df.distributor_name == "Varanasi Warehouse") & (df.customer_name == "ITC Ltd. Lucknow") , 'customer_name'] = "ITC UP WH Varanasi"
df.loc[(df.distributor_name == "Kanpur Warehouse") & (df.customer_name == "ITC Ltd. Lucknow") , 'customer_name'] = "ITC UP WH Kanpur"
df.loc[(df.distributor_name == "Bengaluru Warehouse") & (df.customer_name == "Veeba Food Services Pvt Ltd. Bangalore") , 'customer_name'] = "Veeba Food Services Bangalore WH"
df.loc[(df.distributor_name == "Keshwana Warehouse") & (df.customer_name == "Veeba Food Services Pvt Ltd. Rajasthan") , 'customer_name'] = "Veeba Food Services DEL WH Keshwana"
df.loc[(df.distributor_name == "Neemrana Warehouse") & (df.customer_name == "Veeba Food Services Pvt Ltd. Rajasthan") , 'customer_name'] = "Veeba Food Services DEL WH Neemarana"
df.loc[(df.distributor_name == "Tikri Warehouse") & (df.customer_name == "Veeba Food Services Pvt Ltd") , 'customer_name'] = "Veeba Food Services DEL WH Tikri"
df.loc[(df.customer_name == "General Mills India Pvt Ltd. Mumbai") , 'customer_name'] = "General Mills India Maharashtra"
df.loc[(df.customer_name == "General Mills India Pvt Ltd. Bangalore") , 'customer_name'] = "General Mills India Karnataka"
df.loc[(df.customer_name == "General Mills India Pvt Ltd. Tamilnadu") , 'customer_name'] = "General Mills India Tamil Nadu"
df.loc[(df.customer_name == "General Mills India Pvt Ltd.") , 'customer_name'] = "General Mills India Delhi"
df.loc[(df.customer_name == "General Mills India Pvt Ltd. Punjab") , 'customer_name'] = "General Mills India Punjab"
df.loc[(df.customer_name == "General Mills India Pvt Ltd. Lucknow") , 'customer_name'] = "General Mills India Uttar Pradesh"
df.loc[(df.customer_name == "General Mills India Pvt Ltd. West Bengal") , 'customer_name'] = "General Mills India West Bengal"
df.loc[(df.customer_name == "General Mills India Pvt Ltd. Telangana") , 'customer_name'] = "General Mills India Telangana"
df.loc[(df.customer_name == "Unibic Foods India Pvt. Ltd. Mumbai") & (df.distributor_name == "Unibic Foods India Pvt. Ltd") , 'customer_name'] = "Unibic Foods India Mumbai"
df.loc[(df.customer_name == "Unibic Foods India Pvt. Ltd. Mumbai") & (df.city == "Mumbai") , 'customer_name'] = "Unibic Foods India Mumbai"
df.loc[(df.customer_name == "Unibic Foods India Pvt. Ltd. Mumbai") , 'customer_name'] = "Unibic Foods India Rest of Maharashtra"
df.loc[(df.customer_name == "Unibic Foods India Pvt. Ltd.") & (df.distributor_name == "Unibic Foods India Pvt. Ltd") , 'customer_name'] = "Unibic Foods India Delhi"
df.loc[(df.customer_name == "Unibic Foods India Pvt. Ltd. Madhya Pradesh") & (df.distributor_name == "Unibic Foods India Pvt. Ltd") , 'customer_name'] = "Unibic Foods India Madhya Pradesh"
df.loc[(df.customer_name == "Unibic Foods India Pvt. Ltd. Gujrat") & (df.distributor_name == "Unibic Foods India Pvt. Ltd") , 'customer_name'] = "Unibic Foods India Gujarat"
df.loc[(df.customer_name == "Unibic Foods India Pvt. Ltd. Punjab") & (df.distributor_name == "Unibic Foods India Pvt. Ltd"), 'customer_name'] = "Unibic Foods India Punjab"
df.loc[(df.customer_name == "Unibic Foods India Pvt. Ltd. Bangalore") & (df.distributor_name == "Unibic Foods India Pvt. Ltd"), 'customer_name'] = "Unibic Foods India Karnataka"
df.loc[(df.customer_name == "Unibic Foods India Pvt. Ltd. Andhra Pradesh") & (df.distributor_name == "Unibic Foods India Pvt. Ltd"), 'customer_name'] = "Unibic Foods India Andhara"
df.loc[(df.customer_name == "Unibic Foods India Pvt. Ltd. Telangana") & (df.distributor_name == "Unibic Hyderabad CFA"), 'customer_name'] = "Unibic Foods India Telangana"
df.loc[(df.customer_name == "Unibic Foods India Pvt. Ltd.") , 'customer_name'] = "Unibic Foods India Delhi"
df.loc[(df.customer_name == "Unibic Foods India Pvt. Ltd. Madhya Pradesh") , 'customer_name'] = "Unibic Foods India Madhya Pradesh"
df.loc[(df.customer_name == "Unibic Foods India Pvt. Ltd. Gujrat")  , 'customer_name'] = "Unibic Foods India Gujarat"
df.loc[(df.customer_name == "Unibic Foods India Pvt. Ltd. Punjab") , 'customer_name'] = "Unibic Foods India Punjab"
df.loc[(df.customer_name == "Unibic Foods India Pvt. Ltd. Bangalore") , 'customer_name'] = "Unibic Foods India Karnataka "
df.loc[(df.customer_name == "Unibic Foods India Pvt. Ltd. Andhra Pradesh") , 'customer_name'] = "Unibic Foods India Andhara"
df.loc[(df.customer_name == "Unibic Foods India Pvt. Ltd. Goa") , 'customer_name'] = "Unibic Foods India Goa"
df.loc[ (df.customer_name == "ITC Ltd.") , 'customer_name'] = "ITC DEL Distributors"
df.loc[ (df.customer_name == "ITC Ltd. Mumbai") , 'customer_name'] = "ITC MUM Distributors"
df.loc[ (df.customer_name == "ITC Ltd. Lucknow") , 'customer_name'] = "ITC UP Distributors"
df.loc[ (df.customer_name == "ITC Ltd. Haryana") , 'customer_name'] = "ITC Panchkula"
df.loc[ (df.customer_name == "ITC Ltd. Panchkula") , 'customer_name'] = "ITC Panchkula"
df.loc[(df.customer_name == "Veeba Food Services Pvt Ltd") , 'customer_name'] = "Veeba Food Services DEL Distributors"
df.loc[(df.customer_name == "Veeba Food Services Pvt Ltd. Mumbai") , 'customer_name'] = "Veeba Food Services Maharashtra Distributors"
df.loc[(df.customer_name == "Veeba Food Services Pvt Ltd. Lucknow") , 'customer_name'] = "Veeba Food Services Uttar Pradesh Distributors"
df.loc[(df.customer_name == "Veeba Food Services Pvt Ltd. Bangalore") , 'customer_name'] = "Veeba Food Services Karnataka Distributors"
df.loc[(df.customer_name == "Tata Consumer Products Ltd. Jharkhand") , 'customer_name'] = "Tata Consumer Products Jharkhand"
df.loc[(df.customer_name == "Tata Consumer Products Ltd. Bihar") , 'customer_name'] = "Tata Consumer Products Bihar"
df.loc[(df.customer_name == "Tata Consumer Products Ltd. Uttar Pradesh") , 'customer_name'] = "Tata Consumer Products Uttar Pradesh"
df.loc[(df.customer_name == "Tata Consumer Products Ltd. Karnataka") , 'customer_name'] = "Tata Consumer Products Karnataka"
df.loc[(df.customer_name == "Tata Consumer Products Ltd. Bangalore") , 'customer_name'] = "Tata Consumer Products Karnataka"
df.loc[(df.customer_name == "Tata Consumer Products Ltd. Gujarat") , 'customer_name'] = "Tata Consumer Products Gujarat"
df.loc[(df.customer_name == "Tata Consumer Products Ltd. Telangana") , 'customer_name'] = "Tata Consumer Products Telangana"
df.loc[(df.customer_name == "Tata Consumer Products Ltd. West Bengal") , 'customer_name'] = "Tata Consumer Products West Bengal"
df.loc[(df.customer_name == "Tata Consumer Products Ltd. Maharashtra") , 'customer_name'] = "Tata Consumer Products Maharashtra"
df.loc[(df.customer_name == "Tata Consumer Products Ltd. Himachal Pradesh") , 'customer_name'] = "Tata Consumer Products Himachal"
df.loc[(df.customer_name == "Tata Consumer Products Ltd. Delhi") , 'customer_name'] = "Tata Consumer Products Delhi"
df.loc[(df.customer_name == "Vishv Foods and Beverages LLP") , 'customer_name'] = "Snaqary"


df.loc[df.ticket_id=="ID-1648","scheduled_date"]="2020-09-18"
df['datef']=df['scheduled_date'].apply(str)
df['datef']=df['scheduled_date'].str[:7]
df['datef']=df['datef'].apply(str)
df.fillna(0,inplace=True)
len(df.index)

409047

In [66]:
#filter supplier
df1=df[df['customer_name'].str.contains(supplier)]
df1=df1[df1['datef'].str.contains(date,regex=False)]
size1=len(df1.index)

In [126]:
df1['item_name'].unique()

array(['DB-Dairy Best Milk', 'DP-Dairy Milk Powder', 'KHY-Khoya'],
      dtype=object)

In [67]:
size1

27

In [151]:
df1.item_name.unique()

array(['DB-Dairy Best Milk', 'DP-Dairy Milk Powder', 'KHY-Khoya'],
      dtype=object)

In [144]:
df_categories = pd.read_csv('categories.csv')['item_name']
df_feedequ = pd.read_csv('feedequ.csv')['item_name']
df_ops = pd.read_csv('ops.csv')['item_name']
df_plastic = pd.read_csv('plastic.csv')['item_name']

In [155]:
def item_check(x):
    for i in df1.item_name.unique():
        if i not in list(x):
            print(i, ' not present')

In [156]:
item_check(df_categories)
item_check(df_feedequ)
item_check(df_ops)
item_check(df_plastic)

KHY-Khoya  not present
KHY-Khoya  not present
KHY-Khoya  not present
KHY-Khoya  not present

In [69]:
test=df1['item_weight'].sum()
print(test)

46220.0

In [70]:
cat = pd.read_csv('categories.csv')
cat.drop(cat.columns[cat.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)

In [71]:
newdf=df1.merge(cat, on='item_name', how='left')
newdf=newdf.drop(['ticket_type', 'status','stockentry_date','created_by'], axis = 1)
size2=len(newdf.index)

In [72]:
size2

27

In [73]:
test1=newdf['item_weight'].sum()
print(test1)

46220.0

In [74]:
print(len(newdf.index))

27

In [75]:
newdf.loc[ (newdf.type == "F") , 'food_wt'] = (newdf['item_weight']*(1-0.10))
newdf.loc[ (newdf.type == "NF") , 'food_wt'] = 0

In [76]:
test1=newdf['item_weight'].sum()
print(test1)

46220.0

In [77]:
newdf['plastic_wt']=newdf['item_weight']-newdf['food_wt']

In [78]:
test1=newdf['item_weight'].sum()
print(test1)

46220.0

In [79]:
pl = pd.read_csv('plastic.csv')
pl.drop(pl.columns[pl.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)
newdf=newdf.merge(pl, on='item_name', how='left')
size3=len(newdf.index)

In [80]:
size3

27

In [81]:
test1=newdf['item_weight'].sum()
print(test1)

46220.0

In [82]:

feed = pd.read_csv('feedequ.csv')
feed.drop(feed.columns[feed.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)
newdf=newdf.merge(feed, on='item_name', how='left')
size4=len(newdf.index)

In [83]:
size4

27

In [84]:
test1=newdf['item_weight'].sum()
print(test1)

46220.0

In [85]:
wl_ops = pd.read_csv('ops.csv')
feed.drop(feed.columns[feed.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)
newdf=newdf.merge(wl_ops, on='item_name', how='left')
size5=len(newdf.index)

In [86]:
size5

27

In [87]:
test1=newdf['item_weight'].sum()
print(test1)

46220.0

In [88]:
if size1!=size2 or size2!=size3 or size4!=size5:
    raise SystemExit(0)

In [89]:
newdf.loc[(newdf.type == "F") , 'A1-Food_E'] = newdf['food_wt']*newdf['landfil_factor']
newdf.loc[(newdf.type == "NF") , 'A1-Food_E'] = newdf['item_weight']*newdf['landfil_factor']
newdf['B1-plastic_emission_prevented']=newdf['plastic_wt']*newdf['plastic_landfil_factor']
newdf['B2-plasticwte_emission_prevented']=newdf['plastic_wt']*newdf['wte_emissions']
newdf['B3-Plastic_treatment']=newdf['plastic_wt']*newdf['plastic_treatment']
newdf['C-Feed_E']=newdf['food_wt']*newdf['feed_equivalent']
newdf['D-WLOps_emission']=newdf['food_wt']*newdf['wl_ops']
newdf.replace(np.nan,0,inplace=True)

newdf['Total_AtoD']=newdf['A1-Food_E']+newdf['B1-plastic_emission_prevented']-newdf['B2-plasticwte_emission_prevented']+newdf['B3-Plastic_treatment']+newdf['C-Feed_E']-newdf['D-WLOps_emission']

In [90]:
test1=newdf['item_weight'].sum()
print(test1)

46220.0

In [91]:
Food_value=newdf['Total_AtoD'].sum()
Food_wt=newdf['food_wt'].sum()
Plastic_wt=newdf['plastic_wt'].sum()
nf=newdf[newdf['type']=='NF']
Total_Non_Food_wt=nf['item_weight'].sum()
Total_Food_plastic_weight=Plastic_wt-Total_Non_Food_wt

In [92]:
Food_wt

34974.0

In [93]:
Food_value

154837.220766742

In [94]:
#drop location distance
newdf.loc[ (newdf.drop_location == "Wastelink Rai Unit") , 'drop_location_add'] = "Rai Industrial haryana"
newdf.loc[ (newdf.drop_location == "Wastelink Lucknow Unit") , 'drop_location_add'] = "Uttar Pradesh 226008"
newdf.loc[ (newdf.drop_location == "Wastelink Bangalore Unit") , 'drop_location_add'] = "Hoskote karnataka"
newdf.loc[ (newdf.drop_location == "Wastelink Mumbai Unit") , 'drop_location_add'] = "bhumi world mumbai"

In [95]:
#dff = newdf.groupby(["city","drop_location_add"]).item_weight.sum().reset_index()

In [96]:
dff=newdf.groupby(['city','drop_location_add']).agg({'item_weight': 'sum','food_wt': 'sum'}).reset_index()

In [97]:
dff.loc[(dff.item_weight<1000) , 'vehicle_type'] = "Mini Truck"
dff.loc[(dff.item_weight>1000) & (dff.item_weight<3000) , 'vehicle_type'] = "Light duty vehicles"
dff.loc[(dff.item_weight>3000) & (dff.item_weight<10000) , 'vehicle_type'] = "Medium duty vehicles"
dff.loc[(dff.item_weight>10000) , 'vehicle_type'] = "Heavy duty vehicles"

In [98]:
truck = pd.read_csv('truck.csv')
truck.drop(truck.columns[truck.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)
dff=dff.merge(truck, on='vehicle_type', how='left')

In [99]:
dff

,city,drop_location_add,item_weight,food_wt,vehicle_type,truck_emission
0,Panipat,Rai Industrial haryana,46220.0,34974.0,Heavy duty vehicles,0.7375

In [100]:
dff['in_distance']=dff.apply(lambda row: calculate_dist(row['city'],row['drop_location_add']), axis=1)

In [101]:
dff['in_emission']=dff['truck_emission']*dff['in_distance']
dff['ds_emission']=dff['truck_emission']*50

In [102]:
dff

,city,drop_location_add,item_weight,food_wt,vehicle_type,truck_emission,in_distance,in_emission,ds_emission
0,Panipat,Rai Industrial haryana,46220.0,34974.0,Heavy duty vehicles,0.7375,54.771,40.393613,36.875

In [103]:
In_value=dff['in_emission'].sum()
DS_value=dff['ds_emission'].sum()

In [104]:
#customer location distance
dff.loc[ (dff.drop_location_add == "Rai Industrial haryana") , 'fg_location_add'] = "Ambala Haryana"
dff.loc[ (dff.drop_location_add == "Uttar Pradesh 226008") , 'fg_location_add'] = "Ambala Haryana"
dff.loc[ (dff.drop_location_add == "Hoskote karnataka") , 'fg_location_add'] = "Sangli Maharashtra"
dff.loc[ (dff.drop_location_add == "bhumi world mumbai") , 'fg_location_add'] = "Sangli Maharashtra"

In [105]:
dff

,city,drop_location_add,item_weight,food_wt,vehicle_type,truck_emission,in_distance,in_emission,ds_emission,fg_location_add
0,Panipat,Rai Industrial haryana,46220.0,34974.0,Heavy duty vehicles,0.7375,54.771,40.393613,36.875,Ambala Haryana

In [106]:
dfout=dff.groupby(["drop_location_add","fg_location_add"]).food_wt.sum().reset_index()

In [107]:
dfout

        drop_location_add fg_location_add  food_wt
0  Rai Industrial haryana  Ambala Haryana  34974.0

In [108]:
dfout.loc[(dfout.food_wt<1000) , 'vehicle_type'] = "Mini Truck"
dfout.loc[(dfout.food_wt>1000) & (dfout.food_wt<3000) , 'vehicle_type'] = "Light duty vehicles"
dfout.loc[(dfout.food_wt>3000) & (dfout.food_wt<10000) , 'vehicle_type'] = "Medium duty vehicles"
dfout.loc[(dfout.food_wt>10000) , 'vehicle_type'] = "Heavy duty vehicles"

In [109]:
dfout

        drop_location_add fg_location_add  food_wt         vehicle_type
0  Rai Industrial haryana  Ambala Haryana  34974.0  Heavy duty vehicles

In [110]:
truck = pd.read_csv('truck.csv')
truck.drop(truck.columns[truck.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)
dfout=dfout.merge(truck, on='vehicle_type', how='left')

In [111]:
dfout['out_distance']=dfout.apply(lambda row: calculate_dist(row['drop_location_add'],row['fg_location_add']), axis=1)
dfout['out_emission']=dfout['truck_emission']*dfout['out_distance']

In [112]:
dfout

,drop_location_add,fg_location_add,food_wt,vehicle_type,truck_emission,out_distance,out_emission
0,Rai Industrial haryana,Ambala Haryana,34974.0,Heavy duty vehicles,0.7375,168.937,124.591038

In [113]:
Out_value=dfout['out_emission'].sum()
Out_value

124.59103750000001

In [114]:
Net_emission=Food_value-In_value-Out_value+DS_value

In [115]:
Net_emission

154709.111116742

In [116]:
Food_value

154837.220766742

In [117]:
In_value

40.3936125

In [118]:
details = {'Total_foodwt':[Food_wt],'Total_plasticwt':[Plastic_wt],'Total_NonFood_wt':[Total_Non_Food_wt],'Total_Food_plastic_wt':[Total_Food_plastic_weight],'Net_GHG':[Net_emission],'Food Value':[Food_value], 'In Value': [In_value], 'Out Value':[Out_value], 'DS Value': [DS_value]}

In [119]:
final = pd.DataFrame(details)

In [124]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter(f'C:\\Users\\avitr\\Downloads\\{supplier}_{date}.xlsx', engine='xlsxwriter')

# Write each dataframe to a different worksheet. you could write different string like above if you want
final.to_excel(writer, sheet_name='Sheet1',startcol=1)
dff.to_excel(writer, sheet_name='Sheet3',startcol=2)
dfout.to_excel(writer, sheet_name='Sheet3',startcol=14)
newdf.to_excel(writer, sheet_name='Sheet2')




# Close the Pandas Excel writer and output the Excel file.
writer.save()