In [110]:
import pandas as pd
import requests 
from bs4 import BeautifulSoup 

url = 'https://www.worldometers.info/coronavirus/#countries'
resp = requests.get(url).text
soup = BeautifulSoup(resp, 'lxml')
x = soup.find_all('tr',{"style" : ""})

In [111]:
data = []
for i in x[1]:
    if len(i.text.strip())!=0:
        data.append(i.text)

In [112]:
df = pd.DataFrame([],columns=['','Country','TotalCases','NewCases','TotalDeaths','NewDeaths'])
df.loc[len(df)] = [float('nan')] + data[:5]
for entry in x[2:6]:
    data = []
    for i in entry:
        if len(i.text.strip())!=0:
            data.append(i.text)
    df.loc[len(df)] = data[:6]
df.set_index('', inplace=True)

In [113]:
df

    Country   TotalCases    NewCases TotalDeaths   NewDeaths

NaN   World  481,237,186    +393,928   6,145,981        +480
1       USA   81,616,936  1,003,425   64,268,976  16,344,535
2     India   43,019,270    521,034   42,480,436      17,800
3    Brazil   29,832,179    658,812   28,464,436     708,931
4    France   24,919,399    141,631   22,915,695   1,862,073