# Loop

In [1]:
print(1)
print(2)
print(3)
print(4)
print(5)

1
2
3
4
5

In [4]:
print('hello')
print('hello')
print('hello')
print('hello')
print('hello')

hello
hello
hello
hello
hello

# for loop

In [47]:
for i in range(5):
    print(i)

0
1
2
3
4

In [9]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [12]:
list(range(1,6))

[1, 2, 3, 4, 5]

In [13]:
list(range(2,6))

[2, 3, 4, 5]

In [14]:
list(range(2,8))

[2, 3, 4, 5, 6, 7]

In [15]:
list(range(8))

[0, 1, 2, 3, 4, 5, 6, 7]

In [18]:
list(range(0,8,1))

[0, 1, 2, 3, 4, 5, 6, 7]

In [20]:
list(range(0,9,2))

[0, 2, 4, 6, 8]

In [21]:
list(range(1,9,3))

[1, 4, 7]

In [25]:
for i in range(6):
    print(i,end=',')

0,1,2,3,4,5,

In [ ]:
for i in range(6):
    print(i,end=',')

In [29]:
print('hello',end='\n')
print('world')

hello
world

In [39]:
for i in range(6):
    print(i,end=',')

0,1,2,3,4,5,

In [43]:
for i in range(5,11):
    print(i)

5
6
7
8
9
10

In [44]:
for i in range(5,11,2):
    print(i)

5
7
9

In [ ]:
# All should be in a comma separated line

# print from 1 to 50 in a single 
# print from 10 to 1 in a single line 
# print from 1 to 10 with their square
# print hello1 hello2 hello3 hello4 hello5

In [45]:
for i in range(1,51):
    print(i,end=',')

1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,

In [47]:
for i in range(10,0,-1):
    print(i,end=',')

10,9,8,7,6,5,4,3,2,1,

In [27]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [49]:
list(range(0,10,1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [52]:
2*2

4

In [53]:
3*3

9

In [54]:
5*5

25

In [75]:
for i in range(1,11):
    print(i,i*i)

1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100

In [60]:
for i in range(1,6):
    print(f'Hello{i}',end=',')

Hello1,Hello2,Hello3,Hello4,Hello5,

In [ ]:
# Always use for loop

# print world1,world2,world3,world4,world5
# print world5,world4,world3,world2,world1
# print hello1world, hello2world,hello3world,hello4world,hello5world

# print every 3rd number between 1-100
# print every 4th number between 1-100

# print sum of numbers from 1-100
# print sum of odd numbers from 1-100
# print sum of even numbers from 1-100

# print first number divisible by 17 between 100-500
# print first number divisible by 13 between 100-500
# print first number whose sum of the numbers is 7 between (11 - 100),eg.
# print all number whose sum of number is 7 between 11-100


16
25
34
43
52
61
70

52 =7
16 = 6

In [62]:
for i in range(1,11):
    if i%2==0:
        print(i,'Even')
    else:
        print(i,'odd')

1 odd
2 Even
3 odd
4 Even
5 odd
6 Even
7 odd
8 Even
9 odd
10 Even

In [67]:
x = 0
for i in range(1,11):
    print(i)
    x = x + i
print('sum:',x)

1
2
3
4
5
6
7
8
9
10
sum: 55

In [71]:
for i in range(1,51,3):
    print(i,end=',')

1,4,7,10,13,16,19,22,25,28,31,34,37,40,43,46,49,

In [72]:
for i in range(1,51,4):
    print(i,end=',')

1,5,9,13,17,21,25,29,33,37,41,45,49,

In [76]:
x = 1
print(f'hello{x}world')

hello1world

In [77]:
x = 2
print(f'hello{x}world')

hello2world

In [84]:
52%7

3

In [81]:
for i in range(50,100):
    if i%7==0:
        print(i)

56
63
70
77
84
91
98

In [85]:
for i in range(50,100):
    if i%7==0:
        print(i)
        break

56

# Assignment

In [10]:
#Assignment

# print world1,world2,world3,world4,world5
for x in range(1,6):
    print(f'world{x}',end=',')

world1,world2,world3,world4,world5,

In [28]:
# print world5,world4,world3,world2,world1
for x in (range(5,0,-1)):
    print(f'world{x}', end=',')

world5,world4,world3,world2,world1,

In [30]:
# print hello1world, hello2world,hello3world,hello4world,hello5world
for x in range(1,6):
    print(f'hello{x}world',end=',')

hello1world,hello2world,hello3world,hello4world,hello5world,

In [48]:
#print every 3rd number between 1-100
for s in range(1,100,3):
    print(s,end=',')

1,4,7,10,13,16,19,22,25,28,31,34,37,40,43,46,49,52,55,58,61,64,67,70,73,76,79,82,85,88,91,94,97,

In [50]:
# print every 4th number between 1-100
for s in range(1,100,4):
    print(s,end=',')

1,5,9,13,17,21,25,29,33,37,41,45,49,53,57,61,65,69,73,77,81,85,89,93,97,

In [58]:
# print sum of numbers from 1-100
y = 0
for w in range(1,101):
    print(w)
    y = y + w
print('sum:',y)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
sum: 5050

In [67]:
# print sum of odd numbers from 1-100
k = 0
for i in range(1,101):
    if i%2 != 0:
        print(i,'Odd number')
        k = k + i
    else:
        print(i)
print('sum:',k)

1 Odd number
2
3 Odd number
4
5 Odd number
6
7 Odd number
8
9 Odd number
10
11 Odd number
12
13 Odd number
14
15 Odd number
16
17 Odd number
18
19 Odd number
20
21 Odd number
22
23 Odd number
24
25 Odd number
26
27 Odd number
28
29 Odd number
30
31 Odd number
32
33 Odd number
34
35 Odd number
36
37 Odd number
38
39 Odd number
40
41 Odd number
42
43 Odd number
44
45 Odd number
46
47 Odd number
48
49 Odd number
50
51 Odd number
52
53 Odd number
54
55 Odd number
56
57 Odd number
58
59 Odd number
60
61 Odd number
62
63 Odd number
64
65 Odd number
66
67 Odd number
68
69 Odd number
70
71 Odd number
72
73 Odd number
74
75 Odd number
76
77 Odd number
78
79 Odd number
80
81 Odd number
82
83 Odd number
84
85 Odd number
86
87 Odd number
88
89 Odd number
90
91 Odd number
92
93 Odd number
94
95 Odd number
96
97 Odd number
98
99 Odd number
100
sum: 2500

In [68]:
# print sum of even numbers from 1-100
q = 0
for i in range(1,101):
    if i%2 == 0:
        print(i,'Even number')
        q = q + i
    else:
        print(i)
print('sum:',k)

1
2 Even number
3
4 Even number
5
6 Even number
7
8 Even number
9
10 Even number
11
12 Even number
13
14 Even number
15
16 Even number
17
18 Even number
19
20 Even number
21
22 Even number
23
24 Even number
25
26 Even number
27
28 Even number
29
30 Even number
31
32 Even number
33
34 Even number
35
36 Even number
37
38 Even number
39
40 Even number
41
42 Even number
43
44 Even number
45
46 Even number
47
48 Even number
49
50 Even number
51
52 Even number
53
54 Even number
55
56 Even number
57
58 Even number
59
60 Even number
61
62 Even number
63
64 Even number
65
66 Even number
67
68 Even number
69
70 Even number
71
72 Even number
73
74 Even number
75
76 Even number
77
78 Even number
79
80 Even number
81
82 Even number
83
84 Even number
85
86 Even number
87
88 Even number
89
90 Even number
91
92 Even number
93
94 Even number
95
96 Even number
97
98 Even number
99
100 Even number
sum: 2500

In [72]:
#print first number divisible by 17 between 100-500
for a in range(100,501):
    if a%17==0:
        print(a)
        break

102

In [74]:
# print first number divisible by 13 between 100-500
for b in range(100,501):
    if b%13==0:
        print(b)
        break

104

In [27]:
a = 85

In [28]:
a = str(a)

In [32]:
a[1]

'5'

In [33]:
a[0]

'8'

In [14]:
int(str(a)[0]) + int(str(a)[1])

8

In [13]:
int(a[1])

7

In [36]:
# print first number whose sum of the numbers is 7 between (11 - 99),eg.
for g in range(11,100):
    t = int(str(g)[0]) + int(str(g)[1])
    if t == 7:
        print(g)
        break

16

In [37]:
# print all number whose sum of number is 7 between 11-100
for g in range(11,100):
    t = int(str(g)[0]) + int(str(g)[1])
    if t == 7:
        print(g)
#         break

16
25
34
43
52
61
70