In [1]:
from collections import Counter
lst = [1,2,2,2,2,3,3,3,1,2,1,12,3,2,32,1,21,1,223,1]
Counter('aabsbsbsbhshhbbsbs')
Counter(lst)

Counter({1: 6, 2: 6, 3: 4, 12: 1, 32: 1, 21: 1, 223: 1})

In [4]:
import datetime
today = datetime.date.today()

In [5]:
print('Year :', today.year)
print('Month:', today.month)
print('Day  :', today.day)

Year : 2022
Month: 1
Day  : 30

In [8]:
math.radians(180)
math.sin(10)
# math.log(x,base)
math.log(100,10)
math.pi

NameError: name 'math' is not defined

In [ ]:
import random
random.randint(0,100)
random.choice(mylist)
random.choices(population=mylist,k=10) # with Replacement
random.sample(population=mylist,k=10) # Sample without Replacement
random.shuffle(mylist)

import time
time.time()

In [9]:
import os
os.getcwd()

'C:\\Users\\avitr\\OneDrive\\Documents\\Python Scripts\\Code_2022\\SP'

In [10]:
os.listdir()

['.ipynb_checkpoints', 'class_6.ipynb', 'Class_7.ipynb', 'Class_8.ipynb']

In [11]:
os.listdir("C:\\Users")

['All Users', 'avitr', 'Default', 'Default User', 'desktop.ini', 'Public']

# Start

In [12]:
x = input('1st: ')
y = input('2nd: ')
z = input('3rd: ')

1st: ABCDE
2nd: *$#^&
3rd: EVERYBODY CAN DANCE

In [30]:
new_str = ''
for i in z:
    indx = x.find(i)
    if indx==-1:
        new_str = new_str + i
    else:
        new_str = new_str + y[indx]

In [31]:
new_str

'&V&RY$O^Y #*N ^*N#&'

In [53]:
def hello():
    x = 3
    y = 5
    print('This is x=',x)
    return x,y

In [54]:
c = hello()

This is x= 3

In [55]:
c

(3, 5)

In [58]:
a,b = hello()

This is x= 3

In [59]:
a

3

In [60]:
b

5

In [61]:
c = hello()

This is x= 3

In [63]:
c[0]

3

In [64]:
c[1]

5

In [68]:
def hello():
    x = 3
    y = 5
    print('This is x=',x)
    print(x)
    return x,y

In [69]:
c = hello()

This is x= 3
3

In [74]:
x = input()
y = input()

ABCDE
*&$%^

In [82]:
a = list(x)
a

['A', 'B', 'C', 'D', 'E']

In [83]:
b = list(y)
b

['*', '&', '$', '%', '^']

In [ ]:
A--*
B--&

In [84]:
for i,j in zip(a,b):
    print(i,'--',j)

A -- *
B -- &
C -- $
D -- %
E -- ^

In [94]:
d

{'A': '*', 'B': '&', 'C': '$', 'D': '%', 'E': '^'}

In [101]:
'B' in d

True

In [102]:
list(d)

['A', 'B', 'C', 'D', 'E']

In [104]:
s

'^V^RY&O%Y $*N %*N$^'

In [106]:
a = [1,2,3,4,5,6,7,8]

In [107]:
a

[1, 2, 3, 4, 5, 6, 7, 8]

In [113]:
# pi
# log sin
# cos

In [115]:
import math

In [116]:
math.pi

3.141592653589793

In [117]:
math.cos(10)

-0.8390715290764524

In [118]:
math.sin(10)

-0.5440211108893698

In [119]:
math.log(23,10)

1.3617278360175928

In [121]:
math.log(23,2)

4.523561956057013

In [122]:
math.e

2.718281828459045

In [123]:
math.floor(12.25)

12

In [124]:
math.ceil(12.25)

13

In [126]:
round(12.51)

13

In [127]:
round(12.25)

12

In [128]:
import random

In [136]:
for i in range(10):
    print(random.randint(1,10))

6
4
3
9
1
1
2
6
5
2

In [138]:
random.choice([2,3,4,5,6,9])

9

In [147]:
random.choices(list(range(100)),k=10)

[1, 99, 97, 27, 45, 61, 94, 34, 47, 72]

In [154]:
print(random.sample(list(range(100)),k=50))

[67, 34, 80, 35, 9, 89, 70, 59, 48, 82, 78, 71, 0, 50, 63, 60, 11, 40, 91, 77, 76, 10, 8, 95, 69, 97, 4, 28, 22, 49, 16, 15, 25, 53, 98, 17, 83, 99, 62, 1, 64, 46, 18, 3, 72, 73, 12, 6, 27, 39]

In [155]:
print(random.choices(list(range(100)),k=50))

[10, 79, 88, 63, 60, 39, 21, 61, 29, 40, 31, 52, 89, 10, 11, 99, 30, 34, 46, 53, 88, 2, 55, 12, 38, 26, 83, 41, 34, 43, 49, 51, 58, 10, 64, 98, 88, 71, 72, 25, 83, 93, 20, 73, 5, 83, 82, 83, 28, 36]

In [156]:
from collections import Counter

In [157]:
c = random.choices(list(range(100)),k=50) # can repeat
s = random.sample(list(range(100)),k=50) # no repeat

In [158]:
Counter(c)

Counter({17: 2,
         32: 1,
         77: 1,
         85: 2,
         8: 1,
         70: 2,
         25: 1,
         46: 1,
         19: 3,
         89: 1,
         35: 1,
         7: 1,
         23: 1,
         87: 1,
         67: 1,
         86: 1,
         65: 1,
         48: 2,
         76: 1,
         79: 1,
         14: 1,
         99: 1,
         16: 2,
         36: 1,
         45: 1,
         49: 1,
         75: 2,
         66: 1,
         74: 1,
         13: 1,
         15: 1,
         98: 1,
         37: 1,
         40: 1,
         50: 1,
         96: 1,
         94: 1,
         27: 1,
         97: 1,
         28: 1,
         41: 1,
         12: 1})

In [159]:
Counter(s)

Counter({70: 1,
         98: 1,
         48: 1,
         63: 1,
         29: 1,
         71: 1,
         66: 1,
         34: 1,
         30: 1,
         21: 1,
         5: 1,
         8: 1,
         67: 1,
         47: 1,
         86: 1,
         31: 1,
         99: 1,
         65: 1,
         1: 1,
         54: 1,
         90: 1,
         55: 1,
         88: 1,
         14: 1,
         15: 1,
         91: 1,
         13: 1,
         11: 1,
         23: 1,
         45: 1,
         79: 1,
         94: 1,
         28: 1,
         9: 1,
         32: 1,
         17: 1,
         82: 1,
         41: 1,
         6: 1,
         10: 1,
         42: 1,
         64: 1,
         50: 1,
         87: 1,
         59: 1,
         46: 1,
         96: 1,
         20: 1,
         38: 1,
         36: 1})