# Q.1 print 1 to 100

In [ ]:
# type your code here

# Q.2 Print 1 to 101

In [13]:
# type your code here

# Q.3 Print 1 to 99

In [14]:
# type your code here

# Q.4 Print 100 to 1

In [15]:
# type your code here

# Q.5 Print 100 to 0

In [16]:
# type your code here

# Q.6 Print 100 to 99

In [17]:
# type your code here

# Q.7 Print 1,3,5,7,9........upto 99

In [18]:
# type your code here

# Q.8 Print 2 ,4,6,8,,10,.... upto 100

In [19]:
# type your code here

# Q.9 Print 100,98,96,94,.....0

In [20]:
# type your code here

# Q.10 Print 99,97,95,93.....1

In [21]:
# type your code here

# Q.11 print sum of first n natural number, where n will be taken as input from user

In [22]:
# type your code here

# Q.12 print sum of first n odd numbers

In [23]:
# type your code here

# Q.13 print sum of first n even numbers

In [24]:
# type your code here

# Q.14 Write a program to print the following number pattern using a loop.

1 
1 2 
1 2 3 
1 2 3 4 
1 2 3 4 5

In [25]:
# type your code here

# Q.15 Calculate the sum of all numbers from 1 to a given number

In [ ]:
# type your code here

# Q.16 Write a program to print multiplication table of a given number For example, num = 2 so the output should be

2
4
6
8
10
12
14
16
18
20

In [ ]:
# type your code here

# Q17. display the elements of a list using for loop

In [2]:
numbers = [12, 75, 150, 180, 145, 525, 50]

# type your code here

# Q.18 Count the total number of digits in a number. example: 45214 is of 5 digit

In [ ]:
# type your code here

# Q.19 Write a program to use for loop to print the following reverse number pattern

5 4 3 2 1 
4 3 2 1 
3 2 1 
2 1 
1

In [27]:
# type your code here

# Q.20

In [29]:
# display all the elements present at odd index
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

# type your code here

# Q.21

In [30]:
# display all the elements present at even index
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

# type your code here