In [1]:
import pandas as pd
import json
with open('new_json_file.json', 'r') as fp:
    myjson = json.load(fp)

In [2]:
df = pd.read_excel('erp_assig_05.xlsx', usecols="B:E",
                   sheet_name = "Summary Detail",
                   engine='openpyxl')

In [3]:
df.head()

          Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4
0                NaN        NaN        NaN        NaN
1                NaN        NaN        NaN        NaN
2                NaN        NaN        NaN        NaN
3  Information Board        NaN        NaN        NaN
4        Board Name:        NaN        NaN        NaN

In [4]:
df.dropna(axis=0, how='all',inplace=True)
df.reset_index(drop=True,inplace=True)

In [5]:
df

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,Information Board,NaN,NaN,NaN
1,Board Name:,NaN,NaN,NaN
2,id:,rr_0001,NaN,NaN
3,ccq_no:,10000,NaN,NaN
4,control_num:,rr_0001,NaN,NaN
5,configuration_name:,rr notification details,NaN,NaN
6,countries:,US,NaN,NaN
7,run_date:,2021-08-15 00:00:00,NaN,NaN
8,run_by:,pwaelozki,NaN,NaN
9,User Detailed Specification,NaN,NaN,NaN
10,Relevant User Specs,Spec Details,Spec Values,Additional Detail
11,User Login Id,The login Id of the user,NaN,NaN
12,Function Test Steps,NaN,NaN,NaN
13,Test Detail,User Detailed Spec,Detail Link,Notes
14,Step 1: Determine the conection type and syste...,User Login Id,TBD,NaN

In [6]:
df.columns = ['header','val1','val2','val3']

In [7]:
t1 = df.iloc[2:6,0:2]
t1.reset_index(drop=True,inplace=True)
t1['header'] = t1['header'].apply(lambda x: x[:-1])
t1

               header                     val1
0                  id                  rr_0001
1              ccq_no                    10000
2         control_num                  rr_0001
3  configuration_name  rr notification details

In [8]:
indx_t2_start = df[df['header']== 'User Detailed Specification'].index[0] + 2

indx_t2_end = df[df['header']== 'Function Test Steps'].index[0]

In [9]:
t2 = df.iloc[indx_t2_start:indx_t2_end][['header']]
t2.reset_index(drop=True,inplace=True)
t2

           header
0  User Login  Id

In [10]:
t3 = df.iloc[indx_t2_end+2:][['header']]
t3.reset_index(drop=True,inplace=True)

In [11]:
t3

                                              header
0  Step 1: Determine the conection type and syste...

In [12]:
t1_dict = dict(zip(t1['header'],t1['val1']))
t1_dict

{'id': 'rr_0001',
 'ccq_no': 10000,
 'control_num': 'rr_0001',
 'configuration_name': 'rr notification details'}

In [13]:
t2['header'][0]

'User Login  Id'

In [14]:
t3['header'][0]

'Step 1: Determine the conection type and system details. Note the system name and navigate to the link in description.'

In [15]:
myjson.keys()

dict_keys(['id', 'ccq_no', 'control_num', 'configuration_name', 'countries', 'required_id'])

In [16]:
t1_dict

{'id': 'rr_0001',
 'ccq_no': 10000,
 'control_num': 'rr_0001',
 'configuration_name': 'rr notification details'}

In [17]:
# replace table 1 val in json
for i in myjson.keys():
    if i in t1_dict:
        myjson[i] = t1_dict[i]
        
# replace table 3 val in json
myjson['required_id']['rr_005_t1']['test_procedure'] = t3['header'][0]

In [18]:
myjson

{'id': 'rr_0001',
 'ccq_no': 10000,
 'control_num': 'rr_0001',
 'configuration_name': 'rr notification details',
 'countries': [''],
 'required_id': {'rr_005_t1': {'test_name': '',
   'test_procedure': 'Step 1: Determine the conection type and system details. Note the system name and navigate to the link in description.',
   'presentation_col': [],
   'ccq_name': '',
   'expected_result_logical_operator': None,
   'hard_coded_where': '',
   'configurable_fields': {'pe_key': {'expected_op': '',
     'expected_val': [''],
     'expected_result_order': ''}},
   'user_param': {'user login id': {'test_user_desc': 'TBD',
     'test_user_field': ''}}}}}

In [19]:
# rename the key using table 2 val
old_key = list(myjson['required_id']['rr_005_t1']['user_param'])[0]
new_key = t2['header'][0]
myjson['required_id']['rr_005_t1']['user_param'][new_key] = myjson['required_id']['rr_005_t1']['user_param'][old_key]

del myjson['required_id']['rr_005_t1']['user_param'][old_key]

In [20]:
with open('filled_json.json', 'w') as fp:
    json.dump(myjson, fp)

In [21]:
myjson

{'id': 'rr_0001',
 'ccq_no': 10000,
 'control_num': 'rr_0001',
 'configuration_name': 'rr notification details',
 'countries': [''],
 'required_id': {'rr_005_t1': {'test_name': '',
   'test_procedure': 'Step 1: Determine the conection type and system details. Note the system name and navigate to the link in description.',
   'presentation_col': [],
   'ccq_name': '',
   'expected_result_logical_operator': None,
   'hard_coded_where': '',
   'configurable_fields': {'pe_key': {'expected_op': '',
     'expected_val': [''],
     'expected_result_order': ''}},
   'user_param': {'User Login  Id': {'test_user_desc': 'TBD',
     'test_user_field': ''}}}}}