In [1]:
import json
import pandas as pd
with open('new_json_file.json', 'r') as fp:
    data = json.load(fp)

In [2]:
data

{'id': '',
 'ccq_no': '',
 'control_num': 'rr',
 'configuration_name': '',
 'countries': [''],
 'required_id': {'rr_005_t1': {'test_name': '',
   'test_procedure': '',
   'presentation_col': [],
   'ccq_name': '',
   'expected_result_logical_operator': None,
   'hard_coded_where': '',
   'configurable_fields': {'pe_key': {'expected_op': '',
     'expected_val': [''],
     'expected_result_order': ''}},
   'user_param': {'user login id': {'test_user_desc': 'TBD',
     'test_user_field': ''}}}}}

In [36]:
df = pd.read_excel('erp_assig_05.xlsx', usecols="B:E",
                   sheet_name = "Summary Detail",
                   engine='openpyxl')

In [49]:
df.head()

          Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4
0  Information Board        NaN        NaN        NaN
1        Board Name:        NaN        NaN        NaN
2                id:    rr_0001        NaN        NaN
3            ccq_no:      10000        NaN        NaN
4       control_num:    rr_0001        NaN        NaN

In [40]:
df.dropna(axis=0, how='all',inplace=True)
df.reset_index(drop=True,inplace=True)

In [41]:
df

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,Information Board,NaN,NaN,NaN
1,Board Name:,NaN,NaN,NaN
2,id:,rr_0001,NaN,NaN
3,ccq_no:,10000,NaN,NaN
4,control_num:,rr_0001,NaN,NaN
5,configuration_name:,rr notification details,NaN,NaN
6,countries:,US,NaN,NaN
7,run_date:,2021-08-15 00:00:00,NaN,NaN
8,run_by:,pwaelozki,NaN,NaN
9,User Detailed Specification,NaN,NaN,NaN
10,Relevant User Specs,Spec Details,Spec Values,Additional Detail
11,User Login Id,The login Id of the user,NaN,NaN
12,Function Test Steps,NaN,NaN,NaN
13,Test Detail,User Detailed Spec,Detail Link,Notes
14,Step 1: Determine the conection type and syste...,User Login Id,TBD,NaN

In [48]:
t1 = df.iloc[1:9,0:2]

In [47]:
t2 = df.iloc[10:12,:]

In [46]:
t3 = df.iloc[13:15,:]

In [62]:
t3

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
13,Test Detail,User Detailed Spec,Detail Link,Notes
14,Step 1: Determine the conection type and syste...,User Login Id,TBD,NaN

In [59]:
d1 = dict(zip(t1['Unnamed: 1'],t1['Unnamed: 2']))
# d1 = dict(zip(t2['Unnamed: 1'],t1['Unnamed: 2']))
# d1 = dict(zip(t1['Unnamed: 1'],t1['Unnamed: 2']))

In [60]:
d1

{'Board Name:': nan,
 'id:': 'rr_0001',
 'ccq_no:': 10000,
 'control_num:': 'rr_0001',
 'configuration_name:': 'rr notification details',
 'countries:': 'US',
 'run_date:': datetime.datetime(2021, 8, 15, 0, 0),
 'run_by:': 'pwaelozki'}

In [61]:
data

{'id': '',
 'ccq_no': '',
 'control_num': 'rr',
 'configuration_name': '',
 'countries': [''],
 'required_id': {'rr_005_t1': {'test_name': '',
   'test_procedure': '',
   'presentation_col': [],
   'ccq_name': '',
   'expected_result_logical_operator': None,
   'hard_coded_where': '',
   'configurable_fields': {'pe_key': {'expected_op': '',
     'expected_val': [''],
     'expected_result_order': ''}},
   'user_param': {'user login id': {'test_user_desc': 'TBD',
     'test_user_field': ''}}}}}