In [166]:
import pandas as pd
import json
with open('new_json_file.json', 'r') as fp:
    myjson = json.load(fp)

In [72]:
df = pd.read_excel('erp_assig_05.xlsx', usecols="B:E",
                   sheet_name = "Summary Detail",
                   engine='openpyxl')

In [73]:
df.head()

          Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4
0                NaN        NaN        NaN        NaN
1                NaN        NaN        NaN        NaN
2                NaN        NaN        NaN        NaN
3  Information Board        NaN        NaN        NaN
4        Board Name:        NaN        NaN        NaN

In [74]:
df.dropna(axis=0, how='all',inplace=True)
df.reset_index(drop=True,inplace=True)

In [75]:
df

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,Information Board,NaN,NaN,NaN
1,Board Name:,NaN,NaN,NaN
2,id:,rr_0001,NaN,NaN
3,ccq_no:,10000,NaN,NaN
4,control_num:,rr_0001,NaN,NaN
5,configuration_name:,rr notification details,NaN,NaN
6,countries:,US,NaN,NaN
7,run_date:,2021-08-15 00:00:00,NaN,NaN
8,run_by:,pwaelozki,NaN,NaN
9,User Detailed Specification,NaN,NaN,NaN
10,Relevant User Specs,Spec Details,Spec Values,Additional Detail
11,User Login Id,The login Id of the user,NaN,NaN
12,Function Test Steps,NaN,NaN,NaN
13,Test Detail,User Detailed Spec,Detail Link,Notes
14,Step 1: Determine the conection type and syste...,User Login Id,TBD,NaN

In [76]:
t1 = df.iloc[1:9,0:2]
t1

            Unnamed: 1               Unnamed: 2
1          Board Name:                      NaN
2                  id:                  rr_0001
3              ccq_no:                    10000
4         control_num:                  rr_0001
5  configuration_name:  rr notification details
6           countries:                       US
7            run_date:      2021-08-15 00:00:00
8              run_by:                pwaelozki

In [77]:
t2 = df.iloc[10:12,:2]
t2

             Unnamed: 1                Unnamed: 2
10  Relevant User Specs              Spec Details
11       User Login  Id  The login Id of the user

In [78]:
t3 = df.iloc[13:15,:2]
t3

                                           Unnamed: 1          Unnamed: 2
13                                        Test Detail  User Detailed Spec
14  Step 1: Determine the conection type and syste...       User Login Id

In [79]:
t3

                                           Unnamed: 1          Unnamed: 2
13                                        Test Detail  User Detailed Spec
14  Step 1: Determine the conection type and syste...       User Login Id

In [80]:
d1 = dict(zip(t1['Unnamed: 1'],t1['Unnamed: 2']))
# d1 = dict(zip(t2['Unnamed: 1'],t1['Unnamed: 2']))
# d1 = dict(zip(t1['Unnamed: 1'],t1['Unnamed: 2']))

In [81]:
d1

{'Board Name:': nan,
 'id:': 'rr_0001',
 'ccq_no:': 10000,
 'control_num:': 'rr_0001',
 'configuration_name:': 'rr notification details',
 'countries:': 'US',
 'run_date:': datetime.datetime(2021, 8, 15, 0, 0),
 'run_by:': 'pwaelozki'}

In [82]:
df #Information Board
    # User Detailed Specification Relevant User Specs
# Function Test Steps

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,Information Board,NaN,NaN,NaN
1,Board Name:,NaN,NaN,NaN
2,id:,rr_0001,NaN,NaN
3,ccq_no:,10000,NaN,NaN
4,control_num:,rr_0001,NaN,NaN
5,configuration_name:,rr notification details,NaN,NaN
6,countries:,US,NaN,NaN
7,run_date:,2021-08-15 00:00:00,NaN,NaN
8,run_by:,pwaelozki,NaN,NaN
9,User Detailed Specification,NaN,NaN,NaN
10,Relevant User Specs,Spec Details,Spec Values,Additional Detail
11,User Login Id,The login Id of the user,NaN,NaN
12,Function Test Steps,NaN,NaN,NaN
13,Test Detail,User Detailed Spec,Detail Link,Notes
14,Step 1: Determine the conection type and syste...,User Login Id,TBD,NaN

In [83]:
df.columns = ['header','val1','val2','val3']

In [84]:
indx_t2_start = df[df['header']== 'User Detailed Specification'].index[0] + 2

indx_t2_end = df[df['header']== 'Function Test Steps'].index[0]

In [85]:
t2 = df.iloc[indx_t2_start:indx_t2_end][['header']]
t2.reset_index(drop=True,inplace=True)
t2

            header
11  User Login  Id

In [86]:
df

,header,val1,val2,val3
0,Information Board,NaN,NaN,NaN
1,Board Name:,NaN,NaN,NaN
2,id:,rr_0001,NaN,NaN
3,ccq_no:,10000,NaN,NaN
4,control_num:,rr_0001,NaN,NaN
5,configuration_name:,rr notification details,NaN,NaN
6,countries:,US,NaN,NaN
7,run_date:,2021-08-15 00:00:00,NaN,NaN
8,run_by:,pwaelozki,NaN,NaN
9,User Detailed Specification,NaN,NaN,NaN
10,Relevant User Specs,Spec Details,Spec Values,Additional Detail
11,User Login Id,The login Id of the user,NaN,NaN
12,Function Test Steps,NaN,NaN,NaN
13,Test Detail,User Detailed Spec,Detail Link,Notes
14,Step 1: Determine the conection type and syste...,User Login Id,TBD,NaN

In [140]:
t1 = df.iloc[2:6,0:2]
t1.reset_index(drop=True,inplace=True)
t1['header'] = t1['header'].apply(lambda x: x[:-1])
t1

               header                     val1
0                  id                  rr_0001
1              ccq_no                    10000
2         control_num                  rr_0001
3  configuration_name  rr notification details

In [88]:
t2

            header
11  User Login  Id

In [89]:
df.iloc[13:15,:1]

                                               header
13                                        Test Detail
14  Step 1: Determine the conection type and syste...

In [90]:
df

,header,val1,val2,val3
0,Information Board,NaN,NaN,NaN
1,Board Name:,NaN,NaN,NaN
2,id:,rr_0001,NaN,NaN
3,ccq_no:,10000,NaN,NaN
4,control_num:,rr_0001,NaN,NaN
5,configuration_name:,rr notification details,NaN,NaN
6,countries:,US,NaN,NaN
7,run_date:,2021-08-15 00:00:00,NaN,NaN
8,run_by:,pwaelozki,NaN,NaN
9,User Detailed Specification,NaN,NaN,NaN
10,Relevant User Specs,Spec Details,Spec Values,Additional Detail
11,User Login Id,The login Id of the user,NaN,NaN
12,Function Test Steps,NaN,NaN,NaN
13,Test Detail,User Detailed Spec,Detail Link,Notes
14,Step 1: Determine the conection type and syste...,User Login Id,TBD,NaN

In [91]:
indx_t2_end

12

In [93]:
t3 = df.iloc[indx_t2_end+2:][['header']]
t3.reset_index(drop=True,inplace=True)

In [94]:
t1

                header                     val1
2                  id:                  rr_0001
3              ccq_no:                    10000
4         control_num:                  rr_0001
5  configuration_name:  rr notification details

In [95]:
t2

            header
11  User Login  Id

In [96]:
t3

                                               header
14  Step 1: Determine the conection type and syste...

In [99]:
myjson

{'id': '',
 'ccq_no': '',
 'control_num': 'rr',
 'configuration_name': '',
 'countries': [''],
 'required_id': {'rr_005_t1': {'test_name': '',
   'test_procedure': '',
   'presentation_col': [],
   'ccq_name': '',
   'expected_result_logical_operator': None,
   'hard_coded_where': '',
   'configurable_fields': {'pe_key': {'expected_op': '',
     'expected_val': [''],
     'expected_result_order': ''}},
   'user_param': {'user login id': {'test_user_desc': 'TBD',
     'test_user_field': ''}}}}}

In [145]:
t1_dict = dict(zip(t1['header'],t1['val1']))
t1_dict

{'id': 'rr_0001',
 'ccq_no': 10000,
 'control_num': 'rr_0001',
 'configuration_name': 'rr notification details'}

In [114]:
t2['header'][0]

'User Login  Id'

In [120]:
t3['header'][0]

'Step 1: Determine the conection type and system details. Note the system name and navigate to the link in description.'

In [122]:
myjson.keys()

dict_keys(['id', 'ccq_no', 'control_num', 'configuration_name', 'countries', 'required_id'])

In [126]:
t1_dict

{'id:': 'rr_0001',
 'ccq_no:': 10000,
 'control_num:': 'rr_0001',
 'configuration_name:': 'rr notification details'}

In [167]:
for i in myjson.keys():
    if i in t1_dict:
        myjson[i] = t1_dict[i]
        
myjson['required_id']['rr_005_t1']['test_procedure'] = t3['header'][0]

In [168]:
myjson

{'id': 'rr_0001',
 'ccq_no': 10000,
 'control_num': 'rr_0001',
 'configuration_name': 'rr notification details',
 'countries': [''],
 'required_id': {'rr_005_t1': {'test_name': '',
   'test_procedure': 'Step 1: Determine the conection type and system details. Note the system name and navigate to the link in description.',
   'presentation_col': [],
   'ccq_name': '',
   'expected_result_logical_operator': None,
   'hard_coded_where': '',
   'configurable_fields': {'pe_key': {'expected_op': '',
     'expected_val': [''],
     'expected_result_order': ''}},
   'user_param': {'user login id': {'test_user_desc': 'TBD',
     'test_user_field': ''}}}}}

In [174]:
old_key = list(myjson['required_id']['rr_005_t1']['user_param'])[0]
new_key = t2['header'][0]
myjson['required_id']['rr_005_t1']['user_param'][new_key] = myjson['required_id']['rr_005_t1']['user_param'][old_key]

del myjson['required_id']['rr_005_t1']['user_param'][old_key]