In [3]:
!python -m spacy download en

C:\Users\avitr\anaconda3\python.exe: No module named spacy

In [1]:
import numpy as np
import pandas as pd
import re

In [2]:
import spacy

ModuleNotFoundError: No module named 'spacy'

In [ ]:
nlp = spacy.load("en_core_web_sm")

In [147]:
df = pd.read_csv('car-reviews.csv')

In [148]:
df.head()

  Sentiment                                             Review
0       Neg   In 1992 we bought a new Taurus and we really ...
1       Neg   The last business trip  I drove to San Franci...
2       Neg   My husband and I purchased a 1990 Ford F250 a...
3       Neg   I feel I have a thorough opinion of this truc...
4       Neg   AS a mother of 3  all of whom are still in ca...

In [149]:
df.head(2)

  Sentiment                                             Review
0       Neg   In 1992 we bought a new Taurus and we really ...
1       Neg   The last business trip  I drove to San Franci...

In [198]:
def clean_up(doc):
    text = (re.sub('\W+', ' ',doc)).lower()
    text = text.strip()
    return text

def stop_word(doc):  
    doc = nlp(doc)
    tokens = [token for token in doc if not token.is_stop]
#     tokens = tokens.text
#     text = map(lambda x: nlp.vocab[x].text, [token for token in tokens])
    return tokens
#     return(text)

def processed_data(df):
    df = df.apply(lambda x: clean_up(x))
    df = df.apply(lambda x: stop_word(x))
    return df

In [199]:
R = processed_data(df['Review'])
df["Proccesed"] = R
df

,Sentiment,Review,Proccesed
0,Neg,In 1992 we bought a new Taurus and we really ...,"[1992, bought, new, taurus, loved, 1999, decid..."
1,Neg,The last business trip I drove to San Franci...,"[business, trip, drove, san, francisco, went, ..."
2,Neg,My husband and I purchased a 1990 Ford F250 a...,"[husband, purchased, 1990, ford, f250, problem..."
3,Neg,I feel I have a thorough opinion of this truc...,"[feel, thorough, opinion, truck, compared, pos..."
4,Neg,AS a mother of 3 all of whom are still in ca...,"[mother, 3, carseats, logical, thing, trade, 2..."
...,...,...,...
1377,Pos,In June we bought the Sony Limited Edition Fo...,"[june, bought, sony, limited, edition, focus, ..."
1378,Pos,After 140 000 miles we decided to replace my...,"[140, 000, miles, decided, replace, wifes, 199..."
1379,Pos,The Ford Focus is a great little record setti...,"[ford, focus, great, little, record, setting, ..."
1380,Pos,I needed a new car because my hyundai excel 9...,"[needed, new, car, hyundai, excel, 91, decided..."
1381,Pos,The 2000 Ford Focus SE 4 door sedan has a spa...,"[2000, ford, focus, se, 4, door, sedan, spacio..."

In [156]:
from sklearn.feature_extraction.text import CountVectorizer

In [187]:
type(df["Proccesed"].iloc[0][1])

spacy.tokens.token.Token

In [200]:
vectorizer = CountVectorizer(tokenizer = spacy_tokenizer, ngram_range=(1,1))

NameError: name 'spacy_tokenizer' is not defined

In [180]:
cv = CountVectorizer()

In [181]:
text = df["Proccesed"].map(' '.join)
count_vec = CountVectorizer()
cv = count_vec.fit(text)

TypeError: sequence item 0: expected str instance, spacy.tokens.token.Token found

In [4]:
import numpy as np
def fn():
    x = np.uint64(2)
    y=np.power(x, 63) - 1
    s=np.binary_repr(np.uint64(y))
    return (s)

In [7]:
s = fn()

In [8]:
s

'1000000000000000000000000000000000000000000000000000000000000000'

In [9]:
int(s)

1000000000000000000000000000000000000000000000000000000000000000

In [ ]:
Use a NumPy array containing a single integer 2, stored as an unsigned 64-bit integer, 
to calculate 2 raised to the 63rd power minus 1. Then convert or print that value as a 
binary number which should have 63 '1' characters in it. This requires relatively little code, 
but you'll need to use NumPy's dtype, think carefully about the types of objects, 
and review or lookup ways to display a value as binary.

In [58]:
import numpy as np
x = np.array([2],dtype=np.uint64)
y = int(np.power(x,63)) - 1
print(bin(y)[2:])

111111111111111111111111111111111111111111111111111111111111111

In [60]:
bin(y)

'0b111111111111111111111111111111111111111111111111111111111111111'