In [1]:
def square(x):
    return x*x

In [2]:
square(3)

9

In [5]:
f = lambda x: x*x

In [6]:
f(3)

9

In [7]:
f = lambda x,y: x*x + y*y

In [8]:
f(2,3)

13

In [9]:
import pandas as pd

In [10]:
df = pd.read_csv('county_pop_arcos.csv')

In [12]:
df.head()

,Unnamed: 0,BUYER_COUNTY,BUYER_STATE,countyfips,STATE,COUNTY,county_name,NAME,variable,year,population
0,1,AUTAUGA,AL,1001,1,1,Autauga,"Autauga County, Alabama",B01003_001,2006,51328
1,2,BALDWIN,AL,1003,1,3,Baldwin,"Baldwin County, Alabama",B01003_001,2006,168121
2,3,BARBOUR,AL,1005,1,5,Barbour,"Barbour County, Alabama",B01003_001,2006,27861
3,4,BIBB,AL,1007,1,7,Bibb,"Bibb County, Alabama",B01003_001,2006,22099
4,5,BLOUNT,AL,1009,1,9,Blount,"Blount County, Alabama",B01003_001,2006,55485

In [22]:
df['variable'].dropna().apply(lambda x: x.split('_')[0])

0        B01003
1        B01003
2        B01003
3        B01003
4        B01003
          ...
28260    B01003
28261    B01003
28262    B01003
28263    B01003
28264    B01003
Name: variable, Length: 28250, dtype: object

In [14]:
s = 'B01003_001'

In [16]:
s.split('_')[0]

'B01003'

In [24]:
s

'http://localhost:8888/notebooks/OneDrive/Documents/Python%20Scripts/Code_2022/lambda.ipynb'

In [28]:
s.split(':')[2].split('/')[0]

'8888'

In [33]:
df['COUNTY'].head(3)

0    1
1    3
2    5
Name: COUNTY, dtype: int64

In [34]:
df['STATE'].head(3)

0    1
1    1
2    1
Name: STATE, dtype: int64

In [45]:
df = df[:10]

In [69]:
# def f(x):
    
df['KIRE'] = df['STATE'].apply(lambda x: df['COUNTY'].apply(lambda y: [x,y])).iloc[0]

<ipython-input-69-d9c5965c3889>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['KIRE'] = df['STATE'].apply(lambda x: df['COUNTY'].apply(lambda y: [x,y])).iloc[0]

In [70]:
df['KIRE']

0     [1, 1]
1     [1, 3]
2     [1, 5]
3     [1, 7]
4     [1, 9]
5    [1, 11]
6    [1, 13]
7    [1, 15]
8    [1, 17]
9    [1, 19]
Name: KIRE, dtype: object

In [39]:
df['STATE']  + df['COUNTY']

0          2
1          4
2          6
3          8
4         10
        ...
28260     99
28261    101
28262    232
28263    107
28264    197
Length: 28265, dtype: int64

In [57]:
lst = []
for index, row in df.iterrows():
    lst.append([row['STATE'],row['COUNTY']])

In [59]:
df['NEW'] = lst

<ipython-input-59-dbb1f2da2dee>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['NEW'] = lst

In [60]:
df

,Unnamed: 0,BUYER_COUNTY,BUYER_STATE,countyfips,STATE,COUNTY,county_name,NAME,variable,year,population,NEW
0,1,AUTAUGA,AL,1001,1,1,Autauga,"Autauga County, Alabama",B01003_001,2006,51328,"[1, 1]"
1,2,BALDWIN,AL,1003,1,3,Baldwin,"Baldwin County, Alabama",B01003_001,2006,168121,"[1, 3]"
2,3,BARBOUR,AL,1005,1,5,Barbour,"Barbour County, Alabama",B01003_001,2006,27861,"[1, 5]"
3,4,BIBB,AL,1007,1,7,Bibb,"Bibb County, Alabama",B01003_001,2006,22099,"[1, 7]"
4,5,BLOUNT,AL,1009,1,9,Blount,"Blount County, Alabama",B01003_001,2006,55485,"[1, 9]"
5,6,BULLOCK,AL,1011,1,11,Bullock,"Bullock County, Alabama",B01003_001,2006,10776,"[1, 11]"
6,7,BUTLER,AL,1013,1,13,Butler,"Butler County, Alabama",B01003_001,2006,20815,"[1, 13]"
7,8,CALHOUN,AL,1015,1,15,Calhoun,"Calhoun County, Alabama",B01003_001,2006,115388,"[1, 15]"
8,9,CHAMBERS,AL,1017,1,17,Chambers,"Chambers County, Alabama",B01003_001,2006,34945,"[1, 17]"
9,10,CHEROKEE,AL,1019,1,19,Cherokee,"Cherokee County, Alabama",B01003_001,2006,25466,"[1, 19]"