In [336]:
import pandas as pd

In [337]:
schools_complete = "/Users/nancy/Desktop/schools_complete.csv"

In [338]:
df = pd.read_csv(schools_complete)
df

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [339]:
#Total schools
total_schools = df.loc[df['type'] == 'District', 'School ID'].count()

In [340]:
#Total students
total_district_students = df.loc[df['type'] == 'District', 'size'].sum()
total_district_students

26976

In [341]:
#Total budget
total_budget = df.loc[df['type'] == 'District', 'budget'].sum()
total_budget

17347923

In [342]:
# df[df['type'] == 'District']['school_name'].dropna().unique()

district_schools = df[df['type'] == 'District']['school_name'].dropna().unique()
district_schools

array(['Huang High School', 'Figueroa High School',
       'Hernandez High School', 'Bailey High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School'],
      dtype=object)

In [343]:
#import other csv file
students_complete = "/Users/nancy/Desktop/students_complete.csv"

In [344]:
#reading file
dfstudents = pd.read_csv(students_complete)

In [345]:
dfstudents

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [346]:
maths_average = dfstudents.loc[dfstudents['school_name'].isin(district_schools), 'math_score'].mean()
maths_average

76.98702550415184

In [347]:
reading_average = dfstudents.loc[dfstudents['school_name'].isin(district_schools), 'reading_score'].mean()
reading_average

80.96248517200475

In [348]:
district_students_df = dfstudents.loc[dfstudents['school_name'].isin(district_schools)]
district_students_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
37530,37530,William Rivera,M,9th,Ford High School,63,59
37531,37531,Bernard Reid,M,9th,Ford High School,94,80
37532,37532,Dawn Sawyer,F,12th,Ford High School,91,66
37533,37533,Thomas Knapp,M,12th,Ford High School,75,70
37534,37534,Melissa Porter,F,9th,Ford High School,76,84

In [349]:
#Passed district students 
passed_district_maths_students = district_students_df.loc[district_students_df['math_score'] >= 70, 'Student ID'].count()
passed_district_maths_students

17944

In [350]:
maths_percent = passed_district_maths_students/total_district_students * 100
maths_percent

66.51838671411625

In [351]:
passed_district_reading_students = district_students_df.loc[district_students_df['reading_score'] >= 70, 'Student ID'].count()
passed_district_reading_students

21825

In [352]:
reading_percent = passed_district_reading_students/total_district_students * 100
reading_percent

80.90524911032028

In [353]:
passed_district_overall_students = district_students_df.loc[(district_students_df['math_score'] >= 70) & (district_students_df['reading_score'] >= 70), 'Student ID'].count()
passed_district_overall_students

14485

In [354]:
overall_percent = passed_district_overall_students/total_district_students * 100
overall_percent

53.695877817319094

In [355]:
final_dict = {
    "Total Schools" :[total_schools,],
    "Total Students" :[total_students,],
    "Total Budget" :[total_budget,],
    "Maths Average":  [maths_average,],
    "Reading Average": [reading_average,],
    "% passing math" : [maths_percent,],
    "% passing reading" : [reading_percent,],
    "% passing overall" : [overall_percent,]
}
final_data = pd.DataFrame(final_dict)
final_data

,Total Schools,Total Students,Total Budget,Maths Average,Reading Average,% passing math,% passing reading,% passing overall
0,7,26976,17347923,76.987026,80.962485,66.518387,80.905249,53.695878

In [356]:
#School Type
per_school_types = df.set_index(["school_name"])["type"]
per_school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [357]:
df = pd.DataFrame(per_school_types)
df

                           type
school_name
Huang High School      District
Figueroa High School   District
Shelton High School     Charter
Hernandez High School  District
Griffin High School     Charter
Wilson High School      Charter
Cabrera High School     Charter
Bailey High School     District
Holden High School      Charter
Pena High School        Charter
Wright High School      Charter
Rodriguez High School  District
Johnson High School    District
Ford High School       District
Thomas High School      Charter

In [360]:
df.rename(columns = {"type":"School Type"}, inplace = True)
df

                      School Type
school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter

In [359]:
# Calculate the total student count.
students_count = df.loc[dfstudents['school_type'].isin(students_complete), 'size'].sum()
students_count

KeyError: 'school_type'