In [ ]:
# https://cs50.harvard.edu/x/2021/psets/6/mario/less/
# https://cs50.harvard.edu/x/2021/psets/6/mario/more/
# https://cs50.harvard.edu/x/2021/psets/6/credit/
# https://canvas.harvard.edu/courses/11549/assignments/84438
# https://introcs.cs.princeton.edu/java/44st/misspellings.txt

In [ ]:
**
hello + world
string split
1.

[1]*3

In [3]:
2**2

4

In [4]:
2**4

16

In [5]:
3**3

27

In [6]:
3**2

9

In [12]:
a = 'hello'
a + ' World'

'hello World'

In [15]:
'Hello' + str(23)

'Hello23'

In [16]:
x = [1]

In [17]:
[1,1,1,1,1]

[1, 1, 1, 1, 1]

In [18]:
x*5

[1, 1, 1, 1, 1]

In [20]:
x*4

[1, 1, 1, 1]

In [25]:
s = 'Hello world this is india'

In [26]:
s.split(' ')

['Hello', 'world', 'this', 'is', 'india']

In [29]:
s1 = 'Hello*world*this*is*india'

In [30]:
s1

'Hello*world*this*is*india'

In [33]:
s1.split('*')

['Hello', 'world', 'this', 'is', 'india']

In [34]:
a = 1

In [35]:
type(a)

int

In [36]:
a = 1.

In [37]:
type(a)

float

In [38]:
a = 1.0
type(a)

float

In [39]:
1.

1.0

In [40]:
s = 'hello'

In [41]:
s.count('l')

2

In [ ]:
# 6

Take 5 sentence and print like this,

Hello     world
This      This
India     and
This      is
USA       and

In [66]:
print('{:*<15} {:*<10}'.format('Hello','world'))
print('{:<15} {:<10}'.format('This','This'))
print('{:<15} {:<10}'.format('India','and'))
print('{:<15} {:<10}'.format('This','is'))

Hello********** world*****
This            This
India           and
This            is

In [67]:
print('{:*>15} {:*>10}'.format('Hello','world'))
print('{:>15} {:>10}'.format('This','This'))
print('{:>15} {:>10}'.format('India','and'))
print('{:>15} {:>10}'.format('This','is'))

**********Hello *****world
           This       This
          India        and
           This         is

In [44]:
x

2

In [45]:
y

NameError: name 'y' is not defined

In [47]:
del x

In [48]:
x

NameError: name 'x' is not defined

In [68]:
a = [1,2,3,4]

In [70]:
a[1] = 50

In [71]:
a

[1, 50, 3, 4]

In [72]:
a = (4,5,6,7)

In [74]:
a[0]

4

In [75]:
a[0] = 41

TypeError: 'tuple' object does not support item assignment

In [76]:
a

(4, 5, 6, 7)

In [77]:
type(a)

tuple

In [79]:
a = list(a)

In [81]:
a[0] = 41

In [84]:
a = tuple(a)

In [85]:
a

(41, 5, 6, 7)

In [86]:
x = [1,2,3,4]

In [87]:
x.append(22)

In [88]:
x

[1, 2, 3, 4, 22]

In [94]:
x = (3,4,5,6,)

In [97]:
x + (55,)

(3, 4, 5, 6, 55)

In [101]:
a = 3
b = (4,)

In [102]:
type(a)

int

In [103]:
type(b)

tuple

In [106]:
mydict = {}

In [107]:
mydict

{}

In [108]:
mydict['key1'] = 22
mydict['key2'] = 24
mydict['key3'] = 25

In [109]:
mydict

{'key1': 22, 'key2': 24, 'key3': 25}

In [110]:
mydict.keys()

dict_keys(['key1', 'key2', 'key3'])

In [111]:
list(mydict)

['key1', 'key2', 'key3']

In [112]:
mydict.values()

dict_values([22, 24, 25])

In [115]:
mydict.items()

dict_items([('key1', 22), ('key2', 24), ('key3', 25)])

In [116]:
x = [1,2,2,2,3,4,4]

In [118]:
set(x)

{1, 2, 3, 4}

In [ ]:
1 - 1
2 -3
3 -1
4 -2

In [120]:
x = {1,1,1,1,1,2,2,2}

In [121]:
x

{1, 2}

In [122]:
type(x)

set

In [123]:
1 == 1

True

In [124]:
1 == 2

False

In [125]:
1&1

1

In [126]:
1&0

0

In [129]:
1==1 or 2==1

True

In [128]:
1==1 and 2==2

True

In [130]:
1==1 and 2==1

False

# file

In [136]:
f = open('misspellings.txt')
x = f.read()
f.close()

In [141]:
type(x)

str

In [142]:
f = open('misspellings.txt')
y = f.readlines()
f.close()

In [144]:
y[0]

'aberation (aberration)\n'

In [145]:
y[1]

'abondon (abandon)\n'

In [146]:
ff = open('myfile.txt','w')
ff.write('Hellow world this is india')
ff.close()

In [148]:
ff = open('myfile1.txt','w')
ff.write('Hellow world this is india')
ff.close()

In [ ]:
# read https://introcs.cs.princeton.edu/java/44st/misspellings.txt 
# create a dictionary

In [149]:
if True:
    print('Hello')

Hello

In [150]:
if False:
    print('Hello')
else:
    print('World')

World

In [151]:
x = 43

if x>34:
    print('cold')
else:
    print('hot')

cold

In [152]:
x = 10

if x>34:
    print('cold')
elif x==10:
    print('this is 10')
else:
    print('hot')

this is 10

In [153]:
x = 11
if x>34:
    print('cold')
elif x>=10:
    if x == 10:
        print('this is 10')
    else:
        print('Its >10')
else:
    print('hot')

Its >10

In [154]:
print(1)
print(2)
print(3)
print(4)
print(5)

1
2
3
4
5

In [155]:
for i in range(5):
    print(i)

0
1
2
3
4

In [158]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [160]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [ ]:
list(range(1,10,2))

In [161]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [164]:
for i in range(10):
    print(i**2)

0
1
4
9
16
25
36
49
64
81

In [166]:
for i in range(100):
    if i%2==0 and i%5==0:
        print(i)

0
10
20
30
40
50
60
70
80
90

In [167]:
s = 'Hello world this is india'

In [169]:
s = s.split()

In [170]:
s

['Hello', 'world', 'this', 'is', 'india']

In [171]:
for i in s:
    print(i)

Hello
world
this
is
india

In [172]:
for i in [9,3,4,51,28]:
    print(i)

9
3
4
51
28

In [173]:
for i in 3:
    print(i)

TypeError: 'int' object is not iterable

In [192]:
for i in range(11,50,2):
    if i%3==0:
        print(i)
        break
        print('hello')

15

In [179]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [181]:
list(range(0,10,1)) # range(start,stop,step)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list(range(0,10,1))

In [182]:
type(range(0,10,1))

range

In [189]:
list(range(21))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [190]:
list(range(11,50,2))

[11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49]

In [195]:
x = 300

In [197]:
print('this is my score: {}'.format(x))

this is my score: 300

In [198]:
print(f'this is my score: {x}')

this is my score: 300

In [202]:
[i for i in range(10) if i%2!=0]

[1, 3, 5, 7, 9]

In [204]:
['odd' if i%2!=0 else 'even' for i in range(10) ]

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']