In [1]:
# define a set
xyz = set(['lebron','russell','steph'])

In [2]:
# another way to define a set
myset = {'apple','banana','cherry'}

In [3]:
# find the legth
len(xyz)

3

In [4]:
# length
len(myset)

3

In [5]:
# Add new items
xyz.add('New_Item')

In [6]:
xyz

{'New_Item', 'lebron', 'russell', 'steph'}

In [7]:
# remove item called 'russell'
xyz.remove('russell')

In [8]:
xyz

{'New_Item', 'lebron', 'steph'}

In [9]:
# pop one item
xyz.pop()

'steph'

In [10]:
xyz

{'New_Item', 'lebron'}

In [11]:
# union

set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}

union1 = set1.union(set2)
print(union1)

{1, 2, 3, 4, 5, 6, 7, 8}

In [12]:
# another technique of union
newset = set1|set2
newset

{1, 2, 3, 4, 5, 6, 7, 8}

In [13]:
# intersection
intersection1 = set1.intersection(set2)
intersection1

{4, 5}

In [14]:
# another technique for inersection
intersection1 = set1&set2
intersection1

{4, 5}

In [15]:
# difference
difference2 = set2.difference(set1)
difference2

{6, 7, 8}

In [16]:
diff1 = set1-set2
diff1

{1, 2, 3}

In [17]:
# symmetric difference
set1.symmetric_difference(set2)

{1, 2, 3, 6, 7, 8}

In [18]:
set1^set2

{1, 2, 3, 6, 7, 8}

In [35]:
# receive the user input
s = input('Enter a string: ')

# convert this string as list of characters
s_list = list(s)

# store new list
new_list = []

# iterate through every third index of a s_list
for i in range(0,len(s_list),3):
    
    # create inner list
    inner_list = s_list[i:i+3]
    
    # store those inner list
    new_list.append(inner_list)
print(new_list)

Enter a string: hello world
[['h', 'e', 'l'], ['l', 'o', ' '], ['w', 'o', 'r'], ['l', 'd']]