In [12]:
from IPython.display import display, Math, Latex

import pandas as pd
import numpy as np
import numpy_financial as npf
import yfinance as yf
import matplotlib.pyplot as plt
from datetime import datetime
from tqdm import tqdm

In [13]:
import pandas as pd
start = '2022-01-01'
end = '2022-11-30'

csv_file = pd.read_csv('Tickers.csv', header=None)[0].tolist()

In [14]:
csv_file = csv_file[:1]

In [4]:
usd_tickers = []

for i in tqdm(range(len(csv_file))): 
    try:
        stock_info = yf.Ticker(csv_file[i]).info
        currency = stock_info['financialCurrency']
        if currency == 'USD':
            usd_tickers.append(csv_file[i])
    except:
        print('Invalid name/delisted',csv_file[i])

 13%|██████████▋                                                                     | 2/15 [00:11<01:17,  5.93s/it]

Invalid name/delisted asdfa

 53%|██████████████████████████████████████████▋                                     | 8/15 [00:40<00:35,  5.13s/it]

Invalid name/delisted INVALIDTIC

100%|███████████████████████████████████████████████████████████████████████████████| 15/15 [01:46<00:00,  7.08s/it]

In [15]:
def get_ticker(name):
#     start = '2022-01-03'
#     end = '2022-10-31'
    try:
        df = yf.Ticker(name).history(start=start, end=end)

        # reset index to get Date as column
        df = df.reset_index()

        # get Day,month as column
        df['Day'] = df['Date'].dt.day
        df['Month'] = df['Date'].dt.month

        # keep only 'Volume','Day','Month' columns
        df = df[['Volume','Day','Month']]

        # group on the basis of Month to count the number of Trading days in that month
        x = df.groupby('Month')['Day'].count()

        # x[x>=20].index : will give month number where Trading days >=20
        # consider only the month where Trading days >=20
        df = df[df['Month'].isin(x[x>=20].index)]

        # group on the basis of Month to get the average Volume
        y = df.groupby('Month')['Volume'].mean()

        # y[y>=2000000].index :  it will list month number where Volume is >=2000000
        l1 = sorted(list(y[y>=2000000].index))

        # it will list all the months
        l2 = sorted(list(set(df['Month'])))

        # if months in l1 and l2 is same, return True, else False
        return l1==l2
    except:
        return False

In [16]:
final_tkr = []
for tkr in tqdm(usd_tickers):
    if get_ticker(tkr):
        final_tkr.append(tkr)

100%|███████████████████████████████████████████████████████████████████████████████| 11/11 [00:02<00:00,  3.70it/s]

In [17]:
len(csv_file)

15

In [18]:
len(usd_tickers)

11

In [19]:
len(final_tkr)

10

In [20]:
final_tkr

['ACRV', 'AAPL', 'ABBV', 'LOW', 'HOOD', 'AMZN', 'AXP', 'BAC', 'BK', 'SQ']

In [22]:
usd_tickers

['ACRV',
 'AAPL',
 'ABBV',
 'LOW',
 'HOOD',
 'AMZN',
 'AXP',
 'BAC',
 'BMBL',
 'BK',
 'SQ']

In [23]:
df = yf.Ticker("ACRV").history(start=start, end=end)

# reset index to get Date as column
df = df.reset_index()

# get Day,month as column
df['Day'] = df['Date'].dt.day
df['Month'] = df['Date'].dt.month

# keep only 'Volume','Day','Month' columns
df = df[['Volume','Day','Month']]

# group on the basis of Month to count the number of Trading days in that month
x = df.groupby('Month')['Day'].count()

# x[x>=20].index : will give month number where Trading days >=20
# consider only the month where Trading days >=20
df = df[df['Month'].isin(x[x>=20].index)]

# group on the basis of Month to get the average Volume
y = df.groupby('Month')['Volume'].mean()

# y[y>=2000000].index :  it will list month number where Volume is >=2000000
l1 = sorted(list(y[y>=2000000].index))

# it will list all the months
l2 = sorted(list(set(df['Month'])))

In [24]:
df

Empty DataFrame
Columns: [Volume, Day, Month]
Index: []