In [14]:
import pandas as pd

In [15]:
data = pd.read_pickle(r'D:\OneDrive - NITT\Custom_Download\canoe_takehome.pkl')

In [16]:
data.keys()

dict_keys(['X_test', 'X_train', 'preds_test', 'preds_train'])

In [26]:
X_test, X_train,preds_test, preds_train = data['X_test'],data['X_train'],data['preds_test'],data['preds_train']

In [31]:
X_train.shape

(126, 13)

In [32]:
preds_train.shape

(126,)

In [33]:
X_test.shape

(380, 13)

In [34]:
preds_test.shape

(380,)

In [35]:
pd.DataFrame(X_train)

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,19.60910,0.0,18.10,0.0,0.671,7.313,97.9,1.3163,24.0,666.0,20.2,396.90,13.44
1,0.19657,22.0,5.86,0.0,0.431,6.226,79.2,8.0555,7.0,330.0,19.1,376.14,10.15
2,0.22212,0.0,10.01,0.0,0.547,6.092,95.4,2.5480,6.0,432.0,17.8,396.90,17.09
3,9.91655,0.0,18.10,0.0,0.693,5.852,77.8,1.5004,24.0,666.0,20.2,338.16,29.97
4,0.07875,45.0,3.44,0.0,0.437,6.782,41.1,3.7886,5.0,398.0,15.2,393.87,6.68
...,...,...,...,...,...,...,...,...,...,...,...,...,...
121,0.36920,0.0,9.90,0.0,0.544,6.567,87.3,3.6023,4.0,304.0,18.4,395.69,9.28
122,0.10153,0.0,12.83,0.0,0.437,6.279,74.5,4.0522,5.0,398.0,18.7,373.66,11.97
123,0.04462,25.0,4.86,0.0,0.426,6.619,70.4,5.4007,4.0,281.0,19.0,395.63,7.22
124,4.75237,0.0,18.10,0.0,0.713,6.525,86.5,2.4358,24.0,666.0,20.2,50.92,18.13
125,0.55007,20.0,3.97,0.0,0.647,7.206,91.6,1.9301,5.0,264.0,13.0,387.89,8.10

In [36]:
pd.DataFrame(X_test)

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,14.918882,12.5,6.07,0.0,0.409,5.594,36.8,6.498000,4.0,345.0,22.9,396.90,12.560974
1,14.818852,25.0,4.86,0.0,0.426,6.167,46.7,3.690734,4.0,281.0,23.0,390.64,12.560974
2,14.818362,80.0,4.95,0.0,0.411,6.861,27.9,5.116700,4.0,245.0,23.2,396.90,12.560974
3,21.071412,0.0,18.10,0.0,0.740,6.341,96.4,2.072000,24.0,666.0,24.2,318.01,12.560974
4,14.865782,30.0,4.93,0.0,0.428,6.481,18.5,6.189900,6.0,300.0,20.6,379.41,12.560974
...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,14.836942,21.0,5.64,0.0,0.439,6.511,21.1,6.814700,4.0,243.0,20.8,396.90,12.560974
376,14.910912,30.0,4.93,0.0,0.428,6.393,7.8,7.035500,6.0,300.0,20.6,374.71,12.560974
377,15.246302,0.0,6.20,0.0,0.504,7.412,76.9,3.671500,8.0,307.0,21.4,376.14,12.560974
378,60.529442,0.0,18.10,0.0,0.693,4.519,100.0,1.658200,24.0,666.0,24.2,88.27,12.560974
379,38.431542,0.0,18.10,0.0,0.671,6.380,96.2,3.690734,24.0,666.0,24.2,396.90,12.560974