In [4]:
import pandas as pd
import math

In [5]:
df = pd.read_csv('D:\OneDrive - NITT\Custom_Download\MCA-1st + 2nd Yr - mca-lab-python.csv')

In [8]:
df['Total'] = df['new']

In [12]:
df = df.sort_values('Total',ascending=False)

In [15]:
df['Total']

0     84.0
1     84.0
2     83.0
3     83.0
4     83.0
5     83.0
6     83.0
7     83.0
8     83.0
9     83.0
10    83.0
15    76.0
18    76.0
17    76.0
16    76.0
12    76.0
14    76.0
13    76.0
11    75.0
25    74.0
20    74.0
21    74.0
22    74.0
26    74.0
27    73.0
28    73.0
24    73.0
23    73.0
19    73.0
29    71.0
30    71.0
31    71.0
32    69.0
33    69.0
34    69.0
35    69.0
36    68.0
37    68.0
38    68.0
39    67.0
42    66.0
41    66.0
40    66.0
43    65.0
44    63.0
45    63.0
46    62.0
47    62.0
48    59.0
49    59.0
50    59.0
51    58.0
52    58.0
53    55.0
54    54.0
55    53.0
56     0.0
57     NaN
58     NaN
Name: Total, dtype: float64

In [7]:
df = df.drop('Unnamed: 6',axis=1)

In [14]:
df.dropna(inplace=True)

In [17]:
df['CT1'] = df['Lab Activities (50)'].values*.4//1

In [19]:
df['Lab Activities (50)'] = df['Lab Activities (50)'] - df['CT1']

In [22]:
df.rename(columns={"Evaluation-1 (20)": "Evaluation-2 (20)"},inplace=True)

In [24]:
df.rename(columns={"Lab Activities (50)": "Lab Activities (30)","CT1": "Evaluation-1 (20)"},inplace=True)

In [27]:
df.drop('sum1(eval+end_sem)',axis=True,inplace=True)

In [29]:
list(df)

['Roll_number',
 'Lab Activities (30)',
 'Evaluation-2 (20)',
 'End-Sem Lab(30)',
 'Total',
 'Evaluation-1 (20)']

In [31]:
df = df[['Roll_number','Lab Activities (30)','Evaluation-1 (20)','Evaluation-2 (20)','End-Sem Lab(30)','Total']]

In [36]:
df['T'] = df[['Lab Activities (30)','Evaluation-1 (20)','Evaluation-2 (20)','End-Sem Lab(30)']].sum(axis=1)

C:\Users\avitr\AppData\Local\Temp\ipykernel_5164\858631113.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['T'] = df[['Lab Activities (30)','Evaluation-1 (20)','Evaluation-2 (20)','End-Sem Lab(30)']].sum(axis=1)

In [38]:
df = df.drop('T',axis=1)

In [40]:
df.to_csv('mca_lab_v1.csv',index=False)