In [1]:
import pandas as pd
df = pd.read_csv('test_dataframe.csv')

In [2]:
df.dtypes

USER_ID      int64
START_DT    object
END_DT      object
dtype: object

In [3]:
df['START_DT'] = df['START_DT'].astype('datetime64')
df['END_DT'] = df['END_DT'].astype('datetime64')

In [4]:
df.dtypes

USER_ID              int64
START_DT    datetime64[ns]
END_DT      datetime64[ns]
dtype: object

In [5]:
# x = df['END_DT'][0] - df['START_DT'][0]

In [6]:
df.head()

   USER_ID   START_DT     END_DT
0        1 2022-01-15 2022-02-14
1        2 2022-01-18 2022-02-18
2        3 2022-01-14 2022-02-14
3        4 2022-01-22 2022-02-22
4        5 2022-01-20 2022-02-20

In [7]:
df['Days'] = (df['END_DT'] - df['START_DT']).dt.days

In [8]:
df.head()

   USER_ID   START_DT     END_DT  Days
0        1 2022-01-15 2022-02-14    30
1        2 2022-01-18 2022-02-18    31
2        3 2022-01-14 2022-02-14    31
3        4 2022-01-22 2022-02-22    31
4        5 2022-01-20 2022-02-20    31

In [9]:
df1 = pd.DataFrame([],columns=['USER_ID','START_DT','END_DT','Days','Week_num'])

for _, row in df.iterrows():
    week = row.Days//7 + (1 if row.Days%7 else 0)
    for week_num in range(1,week+1):
        df1.loc[len(df1)] = [row.USER_ID,row.START_DT,row.END_DT,row.Days,week_num]

In [10]:
df1.head(10)

  USER_ID   START_DT     END_DT Days Week_num
0       1 2022-01-15 2022-02-14   30        1
1       1 2022-01-15 2022-02-14   30        2
2       1 2022-01-15 2022-02-14   30        3
3       1 2022-01-15 2022-02-14   30        4
4       1 2022-01-15 2022-02-14   30        5
5       2 2022-01-18 2022-02-18   31        1
6       2 2022-01-18 2022-02-18   31        2
7       2 2022-01-18 2022-02-18   31        3
8       2 2022-01-18 2022-02-18   31        4
9       2 2022-01-18 2022-02-18   31        5

In [11]:
df1[df1['USER_ID']==10]

   USER_ID   START_DT     END_DT Days Week_num
45      10 2022-01-04 2022-02-21   48        1
46      10 2022-01-04 2022-02-21   48        2
47      10 2022-01-04 2022-02-21   48        3
48      10 2022-01-04 2022-02-21   48        4
49      10 2022-01-04 2022-02-21   48        5
50      10 2022-01-04 2022-02-21   48        6
51      10 2022-01-04 2022-02-21   48        7