In [ ]:
# Splitting the dataset into the Training set and Test set
"""from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)"""

# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
sc_y = StandardScaler()
X = sc_X.fit_transform(X)
y = sc_y.fit_transform(y)

# Fitting SVR to the dataset
from sklearn.svm import SVR
regressor = SVR(kernel = 'rbf')
regressor.fit(X, y)

from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor(random_state = 0)
regressor.fit(X, y)


# Fitting Random Forest Regression to the dataset
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators = 300, random_state = 0)
regressor.fit(X, y)

In [3]:
import pandas as pd

In [7]:
movie = {1,2}

In [8]:
df1 = pd.DataFrame({'MovieIndex':list(movie),
                        'UserID':[11]*len(movie),
                        'Rating' : [10]*len(movie),
                      })

In [6]:
df

Empty DataFrame
Columns: [MovieIndex, UserID, Rating]
Index: []

In [10]:
pd.concat([df1,df])

   MovieIndex  UserID  Rating
0         1.0    11.0    10.0
1         2.0    11.0    10.0

In [ ]:
df = pd.DataFrame({'MovieIndex':list(movie),
                        'UserID':[11]*len(movie),
                        'Rating' : [10]*len(movie),
                      })

In [11]:
472542/3155

149.7755942947702