In [1]:
import pandas as pd

In [3]:
df = pd.read_excel('Spline Interpolation_Python.xlsx')

In [4]:
df.isna().sum()

Date & Time    0
Open           0
dtype: int64

In [5]:
df

             Date & Time     Open
0    2021-01-03 19:00:00  3748.75
1    2021-01-03 20:00:00  3749.25
2    2021-01-03 21:00:00  3740.75
3    2021-01-03 22:00:00  3747.75
4    2021-01-03 23:00:00  3747.00
...                  ...      ...
7613 2022-04-14 13:00:00  4416.00
7614 2022-04-14 14:00:00  4408.75
7615 2022-04-14 15:00:00  4421.50
7616 2022-04-14 16:00:00  4401.50
7617 2022-04-14 17:00:00  4387.00

[7618 rows x 2 columns]

In [9]:
df['Open'].interpolate(method='spline', order=5)

0       3748.75
1       3749.25
2       3740.75
3       3747.75
4       3747.00
         ...
7613    4416.00
7614    4408.75
7615    4421.50
7616    4401.50
7617    4387.00
Name: Open, Length: 7618, dtype: float64