In [61]:
import openpyxl
from openpyxl import load_workbook

def row_cleansing():

    management_style_rows_remove = ['Global Core Tax-Loss Harvesting', 'High Yield - Corporate', 'High Yield - Municipal', 'Investment Grade - Agg', 'Investment Grade - Agg ESG',
                               'Investment Grade - Municipal', 'Investment Grade - Municipal ESG', 'Investment Grade TIPS', 'Investment Grade Treasurys', 'MLPs', 'Multi-Asset 55ip', 'Multi-Asset Class',
                               'Non-US Core Tax-Exempt ESG', 'Non-US Core Tax-Exempt ESG FX Hedge', 'Non-US Core Tax-Loss Harvesting ESG']

    # input_file = 'annonamized_test_data_to_be_split.xlsx'
    input_file = 'annonamized_test_data_to_be_split.xlsx'

    workbook = load_workbook(input_file)
    data_sheet = workbook.active
    
    for i,row in enumerate(data_sheet.iter_rows(min_col=3, max_col=3, min_row=2, max_row=None)):
        for cell in row:
            if cell.value in management_style_rows_remove:
                data_sheet.delete_rows(i+2)
    workbook.save('try12.xlsx')
row_cleansing()

In [57]:
management_style_rows_remove = ['Global Core Tax-Loss Harvesting', 'High Yield - Corporate', 'High Yield - Municipal', 'Investment Grade - Agg', 'Investment Grade - Agg ESG',
                               'Investment Grade - Municipal', 'Investment Grade - Municipal ESG', 'Investment Grade TIPS', 'Investment Grade Treasurys', 'MLPs', 'Multi-Asset 55ip', 'Multi-Asset Class',
                               'Non-US Core Tax-Exempt ESG', 'Non-US Core Tax-Exempt ESG FX Hedge', 'Non-US Core Tax-Loss Harvesting ESG']

# input_file = 'annonamized_test_data_to_be_split.xlsx'
input_file = 'annonamized_test_data_to_be_split.xlsx'

workbook = load_workbook(input_file)
data_sheet = workbook.active

In [49]:
data_sheet

In [50]:
x = []
for row in data_sheet.iter_rows(min_col=3, max_col=3, min_row=2, max_row=None):
    x.append(row)

In [40]:
x[0][0].value

''

In [58]:
for i,row in enumerate(data_sheet.iter_rows(min_col=3, max_col=3, min_row=2, max_row=None)):
    for cell in row:
        if cell.value in management_style_rows_remove:
            data_sheet.delete_rows(i+2)

In [ ]:
data_sheet.delete_rows(row)

In [45]:
data_sheet.delete_rows(2)

In [46]:
data_sheet.save()

In [59]:
workbook.save('try2.xlsx')

In [5]:
[1,2,3] > (4,5)

TypeError: '>' not supported between instances of 'list' and 'tuple'

In [3]:
3>4

False

In [6]:
import pandas as pd

In [8]:
df = pd.read_excel('annonamized_test_data_to_be_split.xlsx')

In [23]:
dfA = df[:1484]

In [24]:
dfB = df[1484:2144]

In [25]:
dfC = df[2144:]

In [28]:
dfA

,Ownership Structure,Fee Schedule,Management Style,Advisory Firm,Inception Date,Days in Time Period,"Adjusted Average Daily Balance (No Div, USD)",Assets Billed On (USD),Effective Billing Rate,Billing Fees (USD),Bill To Account,Model Type
0,Client A,Test Data,NaN,NaN,1990-12-15,90,0,0,0.00642,0,Test Data,Client
1,Test Data,Test Data,MLPs,Test Data,2021-05-14,90,0,0,-,0,Test Data,Trust
2,10 Madison LLC Hold (668168788),Test Data,Test Data,Test Data,2021-05-14,90,0,0,-,0,Test Data,Holding Account
3,Tset,Test Data,Test Data,Test Data,2021-06-08,90,0,0,-,0,Test Data,Money Market Fund
4,USD,Test Data,Test Data,Test Data,2021-05-14,90,0,0,-,0,Test Data,Currency
...,...,...,...,...,...,...,...,...,...,...,...,...
1479,Directly Owned,Test Data,Test Data,Test Data,2019-10-09,90,0,0,-,0,Test Data,NaN
1480,Heritage Bancshares (Topeka),Test Data,Test Data,Test Data,2019-10-09,90,0,0,-,0,Test Data,Custom Asset
1481,Placeholder HYFI,Test Data,Test Data,Test Data,2021-06-30,90,0,0,-,0,Test Data,Custom Asset
1482,Test Data,Test Data,Test Data,Test Data,NaT,90,0,0,-,0,Test Data,Trust
1483,Jonny UTMA Adv (668106786),Test Data,Test Data,Test Data,NaT,90,0,0,-,0,Test Data,Holding Account