In [2]:
import requests
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

def get_data(date,trx):
    # store the details
    ###############################################################################
    API_KEY = 'ZGV2aWNlO2Fwb2xsb246MjgyODBmMzAtMDM3ZS0xMWVkLWI1MzAtZmQ1ZjY4ZDJjYjc4'
    transactionId = trx 
    mydate = date # DD.MM.YYYY
    ###############################################################################

    url = 'http://82.141.40.200:8080/service/apollon/api/sales?token={}'.format(API_KEY)

    # set the parameters
    params = dict(transactionId = transactionId,date = mydate)

    # make a get request
    res = requests.get(url, params=params)

    # get the data as dictionary
    data = res.json()

    # convert dictionary to dataframe
    df = pd.DataFrame(data['sales'])

    # create transactionId column as first column of dataframe
    df.insert(0,'transactionId',data['transactionId'])

    return df

In [ ]:
1600000000  20.07.2022

In [3]:
import pandas as pd
r = pd.date_range(start='20/07/2022', end='26/07/2022',freq='D')
list_dates = r.format(formatter=lambda x: x.strftime('%d.%m.%Y'))

In [4]:
list_dates

['20.07.2022',
 '21.07.2022',
 '22.07.2022',
 '23.07.2022',
 '24.07.2022',
 '25.07.2022',
 '26.07.2022']

In [6]:
list_data = []
from tqdm import tqdm
for date in tqdm(list_dates):
    list_data.append(get_data(date,1600000000))

100%|█████████████████████████████████████████████████████████████████████████████████| 7/7 [01:39<00:00, 14.15s/it]

In [7]:
len(list_data)

7

In [12]:
df_all = pd.concat(list_data)

In [13]:
df_all

,transactionId,branch,date,time,articleId,size,amount,price,persNumber,custNumber
0,1658836536,95,20220720,0,162901,1,1,1290,2049,0
1,1658836536,95,20220720,0,167429,1,1,1290,2049,0
2,1658836536,95,20220720,0,162900,1,1,1690,2049,0
3,1658836536,101,20220720,930,165998,1,1,950,2977,0
4,1658836536,101,20220720,1349,125138,1,1,465,929,248254
...,...,...,...,...,...,...,...,...,...,...
998,1658836607,107,20220726,1105,169602,853,1,1235,2763,94225
999,1658836607,107,20220726,1105,169602,853,1,1235,2763,94225
1000,1658836607,107,20220726,1105,169602,853,1,1235,2763,94225
1001,1658836607,107,20220726,1105,169602,853,1,1235,2763,94225
1002,1658836607,107,20220726,1105,169602,853,1,1235,2763,94225

In [15]:
df_all['date'].unique()

array([20220720, 20220721, 20220722, 20220723, 20220724, 20220725,
       20220726], dtype=int64)