In [1]:
import xml.etree.ElementTree as ET
import pandas as pd
tree = ET.parse('Q7_Activity_Report(2022-07-14 00_00_51).xml')
root = tree.getroot()
root = list(root)[3]
root = list(root)[0]
row_data = [child for child in root if child.tag[-3:]=='Row']

columns = []
for cell in row_data[0]:
    for data in cell:
        if data.text:
            columns.append(data.text)
            
df = pd.DataFrame([],columns=columns)

for row in row_data[1:]:
    mydata = []
    if len(list(row))>1:
        for cell in row:
            if len(list(cell))!=0:
                for data in cell:
                    mydata.append(data.text)
        df.loc[len(df)] = mydata
df.to_csv('final_data.csv')

In [2]:
df

,Employee Number,Last Name,First Name,Card Number,Workgroup,Date Occurred,Earliest Access Time,Earliest Access Point,Latest Access Time,Latest Access Point
0,Z000CNMN,Estrada,Esther,2972549175,Siemens Corp. Consultant,2022-07-13T00:00:00.000,06:02:33,OQ7 PayRoll Permer,15:53:40,OQ7 S/R Mailroom ext
1,None,Beumer,Edith,2737648878,Siemens Corp.,2022-07-13T00:00:00.000,06:46:48,OQ7 MAIN ENTRY 1,12:41:59,OQ7 File Room Patio Door
2,Z002WD6T,Irizarry,Sandra,1975039190,Siemens Corp.,2022-07-13T00:00:00.000,07:12:31,OQ7 MAIN ENTRY 1,07:33:18,OQ7 MAIN LOBBY