In [31]:
import xml.etree.ElementTree as ET
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

tree = ET.parse('Q7_Activity_Report(2022-07-14 00_00_51).xml')
root = tree.getroot()
x = list(list(root[3])[0])
x = [i for i in x if i.tag[-3:] == 'Row']

df = pd.DataFrame([],columns=range(10))
for k in x:
    mydata = []
    if '{urn:schemas-microsoft-com:office:spreadsheet}MergeAcross' in k[0].attrib.keys():
        continue
    for i in k:
        for j in i:
            if j.text:
                mydata.append(j.text)
    df.loc[len(df)] = mydata
df.columns = df.iloc[0]
df = df[1:]
df.to_csv('final_data.csv')

In [4]:
df

,Employee Number,Last Name,First Name,Card Number,Workgroup,Date Occurred,Earliest Access Time,Earliest Access Point,Latest Access Time,Latest Access Point
1,Z000CNMN,Estrada,Esther,2972549175,Siemens Corp. Consultant,2022-07-13T00:00:00.000,06:02:33,OQ7 PayRoll Permer,15:53:40,OQ7 S/R Mailroom ext
2,Z00328KF,Beumer,Edith,2737648878,Siemens Corp.,2022-07-13T00:00:00.000,06:46:48,OQ7 MAIN ENTRY 1,12:41:59,OQ7 File Room Patio Door
3,Z002WD6T,Irizarry,Sandra,1975039190,Siemens Corp.,2022-07-13T00:00:00.000,07:12:31,OQ7 MAIN ENTRY 1,07:33:18,OQ7 MAIN LOBBY

In [8]:
# for k in x:
#     mydata = []
#     if '{urn:schemas-microsoft-com:office:spreadsheet}MergeAcross' in k[0].attrib.keys():
#         continue
for i in x[2]:
    
    for j in i:
        j.
        if j.text:
            print(j.text)

Z000CNMN
Estrada
Esther
2972549175
Siemens Corp. Consultant
2022-07-13T00:00:00.000
06:02:33
OQ7 PayRoll Permer
15:53:40
OQ7 S/R Mailroom ext

In [19]:
list(list(x[3])[2])[0]

In [35]:
len(list(x[2]))

12

In [ ]:
list(list(row_data[2])[0])

In [44]:
import xml.etree.ElementTree as ET
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

tree = ET.parse('Q7_Activity_Report(2022-07-14 00_00_51).xml')
root = tree.getroot()
x = list(list(root[3])[0])
x = [i for i in x if i.tag[-3:] == 'Row']

df = pd.DataFrame([],columns=range(10))
for k in x:
    print(len(list(k)))
    if len(list(k))==12:
        mydata = []
        for i in k:
            for j in i:
                print(j.text)
                if j.text:
                    mydata.append(j.text)
        df.loc[len(df)] = mydata
df.columns = df.iloc[0]
df = df[1:]
# df.to_csv('final_data.csv')

12
None
Employee Number
Last Name
First Name
Card Number
Workgroup
Date Occurred
Earliest Access Time
Earliest Access Point
Latest Access Time
Latest Access Point
1
12
Z000CNMN
Estrada
Esther
2972549175
Siemens Corp. Consultant
2022-07-13T00:00:00.000
06:02:33
OQ7 PayRoll Permer
15:53:40
OQ7 S/R Mailroom ext
12
None
Beumer
Edith
2737648878
Siemens Corp.
2022-07-13T00:00:00.000
06:46:48
OQ7 MAIN ENTRY 1
12:41:59
OQ7 File Room Patio Door

ValueError: cannot set a row with mismatched columns

In [ ]:
df

# CODE

In [ ]:
import xml.etree.ElementTree as ET
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

tree = ET.parse('Q7_Activity_Report(2022-07-14 00_00_51).xml')
root = tree.getroot()
x = list(list(root[3])[0])
x = [i for i in x if i.tag[-3:] == 'Row']

df = pd.DataFrame([],columns=range(10))



# for cell in row_data[3]:
#     if len(list(cell))!=0:
#         for data in cell:
#             print(data.text)


for k in x:
    print(len(list(k)))
    if len(list(k))==12:
        mydata = []
        for i in k:
            for j in i:
                print(j.text)
                if j.text:
                    mydata.append(j.text)
        df.loc[len(df)] = mydata
df.columns = df.iloc[0]
df = df[1:]
# df.to_csv('final_data.csv')